Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-nightly to v0.2.4.1997
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.574
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.574
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.575
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.5.7328-2632c9d3a
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.5.7328-2632c9d3a
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart snapshot-controller to 1.8.3
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3747
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3747
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3748
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3748
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3749
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3749
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3750
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3750
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3751
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3751
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: create vpn namespace
  kubernetes/apps/vpn/kustomization.yaml
  kubernetes/apps/vpn/namespace.yaml
Labels: area/kubernetes

feat: deploy tailscale subnet-router
  kubernetes/apps/vpn/kustomization.yaml
  kubernetes/apps/vpn/tailscale/app.yaml
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
  kubernetes/apps/vpn/tailscale/app/kustomization.yaml
  kubernetes/apps/vpn/tailscale/app/rbac.yaml
  kubernetes/apps/vpn/tailscale/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image kube-prometheus-stack to v48.1.2
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image thanos to v12.8.6
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image weave-gitops to v4.0.26
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

fix: update renovate paths
  .github/renovate.json5
Labels: area/github

fix: update flux-local/action
  .github/workflows/flux-diff.yaml
Labels: area/github

:dizzy: feat(helm): Update Rook-Ceph group to v1.12.0
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

feat: add cribl group
  .github/renovate/groups.json5
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3754
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3754
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: update vscode extension recommendations
  .vscode/extensions.json
Labels: none

feat: update vscode settings
  .vscode/settings.json
Labels: none

feat: update editorconfig
  .editorconfig
Labels: none

fix: update envrc paths
  .envrc
Labels: none

chore: update gitignore
  .gitignore
Labels: none

fix: remove unnamed-task
  .ansible-lint
Labels: none

feat: add .yamllint
  .yamllint.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3756
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3756
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-nightly to v0.2.4.1999
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-nightly to v0.2.4.1999
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
