Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

feat: update labels
  .github/labels.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/blakeblackshear/frigate ( 0.13.0-beta4 → 0.13.0-beta7 )
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image kube-state-metrics ( 5.15.2 → 5.15.3 )
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image ghcr.io/cloudnative-pg/postgresql ( 14.9-15 → 16.1-12 )
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop ( 4.0.0.749 → 4.0.0.751 )
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/blakeblackshear/frigate ( 0.13.0-beta4 → 0.13.0-beta7 )
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image quay.io/prometheus/alertmanager ( 9346cb8 → c9158d4 )
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/bjw-s/calibre-web ( 10f25a6 → 3a0822d )
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart kyverno ( 3.1.2 → 3.1.3 )
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/sabnzbd ( 4.1.0 → 4.2.1 )
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image quay.io/prometheus/alertmanager ( c9158d4 → 12e1a50 )
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image quay.io/prometheus/alertmanager ( 12e1a50 → d6cde05 )
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image quay.io/prometheus/alertmanager ( d6cde05 → 70acd00 )
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

feat(plex): move plex cache to separate volume
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/plex/app/persistent-volume-claim.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image app-template ( 2.0.3 → 2.4.0 )
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/teslamate/app/helm-release.yaml
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/media/tubesync/app/helm-release.yaml
  kubernetes/apps/media/wizarr/app/helm-release.yaml
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-prometheus-stack ( 54.0.1 → 54.2.2 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image prometheus-node-exporter ( 4.24.0 → 4.25.0 )
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image thanos ( 12.15.0 → 12.20.1 )
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image kube-prometheus-stack ( 54.0.1 → 55.6.0 )
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore: format json
  .github/renovate/autoMerge.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/managers.json5
Labels: area/github

feat: reconfigure renovate
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: update labeler
  .github/workflows/labeler.yaml
Labels: area/github

feat: update label sync
  .github/workflows/label-sync.yaml
Labels: area/github

chore: disable enforce pr labels
  .github/workflows/meta-enforce-pr-labels.yaml
Labels: area/github

chore: remove ansible tasks
  .taskfiles/ansible/tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

feat: update flux tasks
  .taskfiles/flux/tasks.yaml
Labels: area/taskfile

fix: add missing vars
  Taskfile.yaml
Labels: area/taskfile

feat: add pre-commit tasks
  .taskfiles/pre-commit/tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

feat: add sops tasks
  .taskfiles/sops/tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

feat: upgrade volsync tasks
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/scripts/controller.sh
  .taskfiles/volsync/scripts/wait.sh
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  .taskfiles/volsync/wait-for-job.sh
Labels: area/taskfile

chore: add comments
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

feat: move to go-task
  kubernetes/bootstrap/README.md
Labels: area/kubernetes

chore: update commments
  .editorconfig
Labels: none

fix: ignore directories
  .yamllint.yaml
Labels: none

fix: update sourceignore
  .sourceignore
Labels: none

chore: clean up gitignore
  .gitignore
Labels: none

chore: add yaml j2
  .gitattributes
Labels: none

feat: encrypt kubernetes env
  .sops.yaml
Labels: none

chore: clean up vscode extensions
  .vscode/extensions.json
Labels: none

fix: update yaml schema
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github
