Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:dizzy: feat(helm): Update chart splunk-operator to 2.4.0
  kubernetes/apps/observability/splunk/operator/helm-release.yaml
Labels: area/kubernetes

fix: recall splunk-operator
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: re-deploy splunk-operator
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/splunk/operator/helm-release.yaml
Labels: area/kubernetes

fix: update splunkOperator image
  kubernetes/apps/observability/splunk/operator/helm-release.yaml
Labels: area/kubernetes

fix: remove splunk appRepo
  kubernetes/apps/observability/splunk/instance/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart snapshot-validation-webhook to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
Labels: area/kubernetes

fix: update flux app dependencies
  kubernetes/apps/kube-system/intel-device-plugin/exporter.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
Labels: area/kubernetes

feat: enable prometheus for NFD
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore: clean up unused env vars
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/media/tubesync/app/helm-release.yaml
  kubernetes/apps/media/wizarr/app/helm-release.yaml
  kubernetes/apps/services/theme-park/app/helm-release.yaml
Labels: area/kubernetes

feat: disable theme-park
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/services/kustomization.yaml
  kubernetes/apps/services/theme-park/app.yaml
  kubernetes/apps/services/theme-park/app/helm-release.yaml
  kubernetes/apps/services/theme-park/app/kustomization.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 8afcbef
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-develop to c9c2383
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to f5ef22e
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/readarr-develop to 3f52afe
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to 91f3cd6
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sonarr-develop to fa87be8
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/tautulli to 5252094
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.3.1
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.7.2260
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image registry.k8s.io/git-sync/git-sync to v4.1.0
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.9.4.4039
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: remove unused qualities
  kubernetes/apps/media/recyclarr/app/config/sonarr.yml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update actions/checkout action to v4.1.1
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: chore(container): Update image ghcr.io/meeb/tubesync to a03b462
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

feat(renovate): overhaul configuration
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
Labels: area/github

:arrow_up: fix(deps): Update pre-commit hook Lucas-C/pre-commit-hooks to v1.5.4
  .pre-commit-config.yaml
Labels: none

:dizzy: feat(deps): Update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: none

:boom: feat(container-image)!: Update ghcr.io/wizarrrr/wizarr Docker tag to v3
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/meeb/tubesync to a03b462
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(deps): Update pre-commit hook sirosen/texthooks to 0.6.2
  .pre-commit-config.yaml
Labels: none

fix: recall tailscale
  kubernetes/apps/vpn/kustomization.yaml
Labels: area/kubernetes

fix: re-deploy tailscale
  kubernetes/apps/vpn/kustomization.yaml
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
  kubernetes/apps/vpn/tailscale/app/rbac.yaml
  kubernetes/apps/vpn/tailscale/app/secret.sops.yaml
Labels: area/kubernetes

chore: Add flux language server annotations
  kubernetes/apps/database/cloudnative-pg/operator.yaml
Labels: area/kubernetes

fix: scale instances back
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

fix: scale up instances
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/cloudnative-pg/postgresql Docker tag to v14.9-15
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update quay.io/thanos/thanos Docker tag to v0.32.5
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
