Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(github-release): update renovatebot/github-action action to v32.45.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1755
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1755
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6256
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6256
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(helm): update helm chart common to 4.4.2
  k8s/charts/kah-common/Chart.lock
  k8s/charts/kah-common/Chart.yaml
Labels: none

fix(helm): update helm chart intel-gpu-plugin to 4.3.2
  k8s/cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart overseerr to 5.3.2
  k8s/cluster/apps/media/overseerr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart overseerr to 5.3.2
  k8s/cluster/apps/media/overseerr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.3.2
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.3.2
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart prowlarr to 4.4.2
  k8s/cluster/apps/download/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart prowlarr to 4.4.2
  k8s/cluster/apps/download/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart radarr to 16.2.3
  k8s/cluster/apps/download/radarr/helm-release.yaml
  k8s/cluster/apps/download/radarr4k/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart radarr to 16.2.3
  k8s/cluster/apps/download/radarr/helm-release.yaml
  k8s/cluster/apps/download/radarr4k/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart sabnzbd to 9.3.2
  k8s/cluster/apps/download/sabnzbd/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart sabnzbd to 9.3.2
  k8s/cluster/apps/download/sabnzbd/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart sonarr to 16.2.3
  k8s/cluster/apps/download/sonarr/helm-release.yaml
  k8s/cluster/apps/download/sonarr4k/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart sonarr to 16.2.3
  k8s/cluster/apps/download/sonarr/helm-release.yaml
  k8s/cluster/apps/download/sonarr4k/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart tautulli to 11.3.2
  k8s/cluster/apps/media/tautulli/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart tautulli to 11.3.2
  k8s/cluster/apps/media/tautulli/helm-release.yaml
Labels: area/cluster

feat(github-release): update aquasecurity/trivy-action action to 0.3.0
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.1.1758
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.1.1758
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.46.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart ingress-nginx to 4.1.1
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update renovate groups
  .github/renovate/packageGroups.json
Labels: area/github

chore: add renovate description
  .github/renovate/versioning.json
Labels: area/github

chore(renovate): use .json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/labels.json5
  .github/renovate/packageGroups.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
Labels: area/github

fix(container): update container image ghcr.io/kube-vip/kube-vip to v0.4.4
  k8s/cluster/infrastructure/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update helm chart common to 4.4.2
  k8s/charts/kah-common/Chart.lock
  k8s/charts/kah-common/Chart.yaml
Labels: none

fix(helm): update helm chart ingress-nginx to 4.1.1
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart intel-gpu-plugin to 4.3.2
  k8s/cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy flux -> github notifications
  k8s/cluster/apps/flux-system/notifications/github/alert.yaml
  k8s/cluster/apps/flux-system/notifications/github/kustomization.yaml
  k8s/cluster/apps/flux-system/notifications/github/provider.yaml
  k8s/cluster/apps/flux-system/notifications/github/secret.sops.yaml
  k8s/cluster/apps/flux-system/notifications/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy home namespace
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/core/namespaces/home.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy mealie
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/home/mealie/helm-release.yaml
  k8s/cluster/apps/home/mealie/kustomization.yaml
  k8s/cluster/apps/home/mealie/kustomize-config.yaml
  k8s/cluster/apps/home/mealie/persistent-volume-claim.yaml
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

feat(cluster): deploy teslamate
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/home/teslamate/helm-release.yaml
  k8s/cluster/apps/home/teslamate/kustomization.yaml
  k8s/cluster/apps/home/teslamate/kustomize-config.yaml
  k8s/cluster/apps/home/teslamate/persistent-volume-claim.yaml
  k8s/cluster/apps/home/teslamate/values.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat(cluster): deploy grocy
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/grocy/kustomization.yaml
  k8s/cluster/apps/home/grocy/kustomize-config.yaml
  k8s/cluster/apps/home/grocy/persistent-volume-claim.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(helm): update helm chart grocy to 8.4.2
  k8s/cluster/apps/home/grocy/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart mealie to 4.2.2
  k8s/cluster/apps/home/mealie/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
