Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat(github-release): update renovatebot/github-action action to v32.73.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart grafana to 6.29.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(cluster): update grafana dashboard urls
  k8s/cluster/apps/flux-system/dashboard/kustomization.yaml
Labels: area/cluster

fix(cluster): update helm chart interval to 1h
  k8s/cluster/core/sources/helm/bitnami.yaml
  k8s/cluster/core/sources/helm/cribl.yaml
  k8s/cluster/core/sources/helm/deliveryhero.yaml
  k8s/cluster/core/sources/helm/descheduler.yaml
  k8s/cluster/core/sources/helm/emberstack.yaml
  k8s/cluster/core/sources/helm/external-dns.yaml
  k8s/cluster/core/sources/helm/grafana.yaml
  k8s/cluster/core/sources/helm/ingress-nginx.yaml
  k8s/cluster/core/sources/helm/jetstack.yaml
  k8s/cluster/core/sources/helm/k8s-at-home.yaml
  k8s/cluster/core/sources/helm/k8s-gateway.yaml
  k8s/cluster/core/sources/helm/kasten.yaml
  k8s/cluster/core/sources/helm/metallb.yaml
  k8s/cluster/core/sources/helm/metrics-server.yaml
  k8s/cluster/core/sources/helm/minecraft-server.yaml
  k8s/cluster/core/sources/helm/node-feature-discovery.yaml
  k8s/cluster/core/sources/helm/prometheus-community.yaml
  k8s/cluster/core/sources/helm/rook-ceph.yaml
  k8s/cluster/core/sources/helm/stakater.yaml
Labels: area/cluster

feat(cluster): deploy readarr-ebooks
  .github/renovate/autoMerge.json5
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/apps/download/readarr-ebooks/helm-release.yaml
  k8s/cluster/apps/download/readarr-ebooks/kustomization.yaml
  k8s/cluster/apps/download/readarr-ebooks/kustomize-config.yaml
  k8s/cluster/apps/download/readarr-ebooks/persistent-volume-claim.yaml
  k8s/cluster/apps/download/readarr-ebooks/values.yaml
Labels: area/github, area/cluster

chore(repo): update renovate commit message topic
  .github/renovate/commitMessage.json5
Labels: area/github

chore(repo): update renovate config
  .github/renovate.json5
Labels: area/github

feat(): enable envrc
  .envrc
Labels: none

feat(ansible): update flux playbooks
  ansible/playbooks/kubernetes/flux-bootstrap.yml
  ansible/playbooks/kubernetes/flux-deploy.yml
  ansible/playbooks/kubernetes/flux.sops.yml
Labels: area/ansible

fix(container): update image ghcr.io/k8s-at-home/readarr-nightly to v0.1.1.1352
  k8s/cluster/apps/download/readarr-ebooks/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/readarr-nightly to v0.1.1.1352
  k8s/cluster/apps/download/readarr-ebooks/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.4.4
  ansible/inventory/group_vars/kubernetes/kube-vip.yml
Labels: area/ansible

fix(github-release): update renovatebot/github-action action to v32.73.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.73.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(): toolbox
  tools/dnsutils/README.md
  tools/dnsutils/deployment.yaml
  tools/netshoot/README.md
  tools/netshoot/deployment.yaml
Labels: none

fix: can't spell for shit
  k8s/cluster/apps/download/readarr-ebooks/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1801
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1801
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6340
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6340
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tarampampam/error-pages to 2.16.0
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1802
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1802
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(cluster): disable readarr-ebooks
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/apps/download/readarr-ebooks/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy readarr-audio
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/apps/download/readarr-audio/helm-release.yaml
  k8s/cluster/apps/download/readarr-audio/kustomization.yaml
  k8s/cluster/apps/download/readarr-audio/kustomize-config.yaml
  k8s/cluster/apps/download/readarr-audio/persistent-volume-claim.yaml
  k8s/cluster/apps/download/readarr-audio/values.yaml
Labels: area/cluster

chore(cluster): update flux sourceignore
  .sourceignore
Labels: none

feat(github-release): update renovatebot/github-action action to v32.74.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.74.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(taskfile): include flux tasks
  .taskfiles/flux.yml
  Taskfile.yml
Labels: none

fix(cluster): recall readarr
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/apps/download/readarr-audio/helm-release.yaml
  k8s/cluster/apps/download/readarr-audio/kustomization.yaml
  k8s/cluster/apps/download/readarr-audio/kustomize-config.yaml
  k8s/cluster/apps/download/readarr-audio/persistent-volume-claim.yaml
  k8s/cluster/apps/download/readarr-audio/values.yaml
  k8s/cluster/apps/download/readarr-ebooks/helm-release.yaml
  k8s/cluster/apps/download/readarr-ebooks/kustomization.yaml
  k8s/cluster/apps/download/readarr-ebooks/kustomize-config.yaml
  k8s/cluster/apps/download/readarr-ebooks/persistent-volume-claim.yaml
  k8s/cluster/apps/download/readarr-ebooks/values.yaml
Labels: area/cluster

chore(ansible): update rook-ceph-nuke playbook
  ansible/playbooks/kubernetes/rook-ceph-nuke.yml
Labels: area/ansible

chore(cluster): prepare mealie migration
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

feat(cluster): upgrade mealie to v1-beta
  k8s/cluster/apps/home/mealie/helm-release.yaml
  k8s/cluster/apps/home/mealie/persistent-volume-claim.yaml
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

feat(cluster): disable mealie signups
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

fix(cluster): recall disable mealie signups
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6343
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6343
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(taskfile): update sync:all task
  .taskfiles/flux.yml
Labels: none

fix(cluster): recall mealie
  k8s/cluster/apps/home/mealie/kustomization.yaml
Labels: area/cluster
