Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to 7c9b12e
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  kubernetes/apps/download/sabnzbd/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  kubernetes/apps/download/sabnzbd/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sonarr-develop to dc7860e
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sonarr-develop to dc7860e
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/tautulli to d4b2306
  kubernetes/apps/media-automation/tautulli/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/tautulli to d4b2306
  kubernetes/apps/media-automation/tautulli/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart cert-manager to v1.12.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

refactor: move hajimari to default ns
  kubernetes/apps/default/hajimari/app.yaml
  kubernetes/apps/default/hajimari/app/helm-release.yaml
  kubernetes/apps/default/hajimari/app/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/home/hajimari/app/helm-release.yaml
  kubernetes/apps/home/hajimari/app/kustomization.yaml
  kubernetes/apps/home/hajimari/app/kustomize-config.yaml
  kubernetes/apps/home/hajimari/app/values.yaml
Labels: area/kubernetes

refactor: cert-manager helm-release
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomize-config.yaml
  kubernetes/apps/cert-manager/cert-manager/app/values.yaml
Labels: area/kubernetes

refactor: metrics-server helm-release
  kubernetes/apps/kube-system/metrics-server/app.yaml
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomize-config.yaml
  kubernetes/apps/kube-system/metrics-server/app/values.yaml
Labels: area/kubernetes

refactor: node-feature-discovery helm-release
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomize-config.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/values.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/google-coral-device.yaml
Labels: area/kubernetes

refactor: reloader helm-release
  kubernetes/apps/kube-system/reloader/app.yaml
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/kustomize-config.yaml
  kubernetes/apps/kube-system/reloader/app/values.yaml
Labels: area/kubernetes

refactor: rook-ceph-operator helm-release
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/app/kustomize-config.yaml
  kubernetes/apps/rook-ceph/operator/app/values.yaml
Labels: area/kubernetes

refactor: rook-ceph-cluster helm-release
  kubernetes/apps/rook-ceph/cluster/app.yaml
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/cluster/app/kustomization.yaml
  kubernetes/apps/rook-ceph/cluster/app/kustomize-config.yaml
  kubernetes/apps/rook-ceph/cluster/app/values.yaml
Labels: area/kubernetes

refactor: metallb
  kubernetes/apps/network/metallb/app/helm-release.yaml
  kubernetes/apps/network/metallb/app/kustomization.yaml
  kubernetes/apps/network/metallb/app/kustomize-config.yaml
  kubernetes/apps/network/metallb/app/values.yaml
  kubernetes/apps/network/metallb/config/kustomization.yaml
Labels: area/kubernetes

refactor: k8s-gateway
  kubernetes/apps/network/k8s-gateway/app.yaml
  kubernetes/apps/network/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomize-config.yaml
  kubernetes/apps/network/k8s-gateway/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3560
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3560
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update xanmanning.k3s to v3.4.2
  infrastructure/ansible/requirements.yml
Labels: area/ansible

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3564
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3564
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 20f5480
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 20f5480
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3566
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3566
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3569
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3569
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3570
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3570
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

fix: disable monitoring
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy local-path-provisioner
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helm-release.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.5.3288
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.5.3288
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
