Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat: deploy cribl logstream
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/logstream/helm-release.yaml
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/secret.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

fix: remove syslog-udp 9514
  k8s/cluster/apps/observability/logstream/helm-release.yaml
Labels: area/cluster

feat: deploy logstream ingress
  k8s/cluster/apps/observability/logstream/ingress.yaml
  k8s/cluster/apps/observability/logstream/kustomization.yaml
Labels: area/cluster

feat: deploy logstream pvc patches
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/persistent-volume-claim.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2497
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2497
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1603
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1603
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix: remove pvc patch
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/persistent-volume-claim.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.12
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.12
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1609
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1609
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/nzbhydra2 to v4.2.1
  k8s/cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/nzbhydra2 to v4.2.1
  k8s/cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/tarampampam/error-pages to 2.10.1
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart coredns to 1.18.1
  k8s/cluster/apps/network/coredns/helm-release.yaml
Labels: area/cluster

fix(container): update container image quay.io/thanos/thanos to v0.25.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.2.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.2.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat: enable automerge for observability images
  .github/renovate/automerge.json
Labels: area/github

fix(container): update container image quay.io/thanos/thanos to v0.25.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: recall splunk
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/splunk/kustomization.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.7.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.7.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1617
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1617
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix: recall logstream
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/logstream/helm-release.yaml
  k8s/cluster/apps/observability/logstream/ingress.yaml
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/logstream/secret.sops.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.8.5663-e071c3d62
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.8.5663-e071c3d62
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart reloader to v0.0.110
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart k10 to 4.5.12
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
Labels: area/cluster

feat: enable direnv
  .envrc
Labels: none

fix: remove .envrc
  .envrc
Labels: none

fix: disable unused policy
  k8s/cluster/apps/kasten-io/k10/policies/home-automation.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.4.2
  k8s/cluster/apps/observability/speedtest-exporter/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.4.2
  k8s/cluster/apps/observability/speedtest-exporter/helm-release.yaml
Labels: area/cluster

feat: deploy logstream
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/logstream/deployment.yaml
  k8s/cluster/apps/observability/logstream/ingress.yaml
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/logstream/secret.sops.yaml
  k8s/cluster/apps/observability/logstream/service.yaml
Labels: area/cluster

feat: add minio tasks
  .taskfiles/terraform.yml
Labels: none

feat: add minio secrets
  k8s/cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster
