Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

feat: configure renovate for CNPG
  .github/renovate.json5
Labels: area/github

chore: format json
  .github/renovate-bot.json5
Labels: area/github

feat: add volsync tasks
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
  Taskfile.yaml
Labels: none

chore: clean up old tasks
  .taskfiles/ansible.yml
  .taskfiles/flux.yml
  .taskfiles/pre-commit.yml
  .taskfiles/terraform.yml
  Taskfile.yml
Labels: none

chore: clean up terraform
  infrastructure/config/.gitignore
  infrastructure/config/domains.sops.yaml
  infrastructure/config/secret.sops.yaml
  infrastructure/config/unifi.yaml
  infrastructure/terraform/.gitignore
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/README.md
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/modules/account/main.tf
  infrastructure/terraform/cloudflare/modules/account/outputs.tf
  infrastructure/terraform/cloudflare/modules/account/variables.tf
  infrastructure/terraform/cloudflare/modules/zone/dns.tf
  infrastructure/terraform/cloudflare/modules/zone/firewall.tf
  infrastructure/terraform/cloudflare/modules/zone/main.tf
  infrastructure/terraform/cloudflare/modules/zone/outputs.tf
  infrastructure/terraform/cloudflare/modules/zone/page_rules.tf
  infrastructure/terraform/cloudflare/modules/zone/variables.tf
  infrastructure/terraform/cloudflare/modules/zone/zone.tf
  infrastructure/terraform/cloudflare/outputs.tf
  infrastructure/terraform/cloudflare/variables.tf
  infrastructure/terraform/cloudflare/versions.tf
  infrastructure/terraform/unifi/.terraform.lock.hcl
  infrastructure/terraform/unifi/README.md
  infrastructure/terraform/unifi/main.tf
  infrastructure/terraform/unifi/modules/site/clients.tf
  infrastructure/terraform/unifi/modules/site/devices.tf
  infrastructure/terraform/unifi/modules/site/gateway.tf
  infrastructure/terraform/unifi/modules/site/main.tf
  infrastructure/terraform/unifi/modules/site/networks.tf
  infrastructure/terraform/unifi/modules/site/outputs.tf
  infrastructure/terraform/unifi/modules/site/port_forward.tf
  infrastructure/terraform/unifi/modules/site/site.tf
  infrastructure/terraform/unifi/modules/site/users.tf
  infrastructure/terraform/unifi/modules/site/variables.tf
  infrastructure/terraform/unifi/modules/site/wlan.tf
  infrastructure/terraform/unifi/outputs.tf
  infrastructure/terraform/unifi/variables.tf
  infrastructure/terraform/unifi/versions.tf
Labels: area/terraform

chore: add bookmarks
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Cribl group to 4.2.1
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

feat: deploy ansible tasks
  .taskfiles/ansible/tasks.yaml
  Taskfile.yaml
Labels: none

chore: format yaml
  infrastructure/ansible/roles/os-identification/meta/main.yaml
Labels: area/ansible

fix: rollback to robertdebock.bootstrap:6.1.5
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix: update filename extension
  infrastructure/ansible/roles/os-identification/tasks/main.yaml
Labels: area/ansible

fix: clean up old roles
  infrastructure/ansible/roles/k3s/defaults/main.yml
  infrastructure/ansible/roles/k3s/handlers/main.yml
  infrastructure/ansible/roles/k3s/meta/main.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/filesystem.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/firewall.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/host.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/iptables.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/journald.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/kernel.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/main.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/packages.yml
  infrastructure/ansible/roles/k3s/tasks/Debian/sysctl.yml
  infrastructure/ansible/roles/k3s/tasks/cleanup.yml
  infrastructure/ansible/roles/k3s/tasks/containerd.yml
  infrastructure/ansible/roles/k3s/tasks/etcd.yml
  infrastructure/ansible/roles/k3s/tasks/kubeconfig.yml
  infrastructure/ansible/roles/k3s/tasks/main.yml
  infrastructure/ansible/roles/k3s/tasks/nuke-cluster.yml
  infrastructure/ansible/roles/k3s/tasks/preflight.yml
  infrastructure/ansible/roles/k3s/templates/calico/calico-installation.yaml.j2
  infrastructure/ansible/roles/k3s/templates/etcd/10-etcd-snapshots.yaml.j2
  infrastructure/ansible/roles/k3s/templates/etcd/etcd-defrag.service.j2
  infrastructure/ansible/roles/k3s/templates/etcd/etcd-defrag.timer.j2
  infrastructure/ansible/roles/k3s/templates/k3s/k3s-killall.service
  infrastructure/ansible/roles/k3s/templates/kube-vip/kube-vip-daemonset.yaml.j2
  infrastructure/ansible/roles/k3s/vars/main.yml
Labels: area/ansible

feat: deploy k3s cluster tasks
  infrastructure/ansible/playbooks/kubernetes/k3s-cluster-os-update.yaml
  infrastructure/ansible/playbooks/kubernetes/k3s-cluster-reboot.yaml
  infrastructure/ansible/playbooks/kubernetes/k3s-cluster-rolling-reboot.yaml
Labels: area/ansible

:arrow_up: fix(ansible): Update robertdebock.bootstrap to 6.1.6
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat: re-deploy sonarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sonarr/sonarr.yaml
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/sonarr/persistent-volume-claim.yaml
  kubernetes/apps/media/sonarr/sonarr/secret.sops.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/kustomization.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/replication-source.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: migrate old sonarr instance
  kubernetes/apps/media/sonarr/app.yaml
Labels: area/kubernetes

chore: clean up old sonarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sonarr/app.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/sonarr/app/secret.sops.yaml
  kubernetes/apps/media/sonarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/sonarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/sonarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy database namespace
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

feat: deploy cloudnative-pg-operator
  kubernetes/apps/database/cloudnative-pg/operator.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helm-release.yaml
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add superuser secrets
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes

fix: recall cloudnative-pg-operator
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

fix: re-deploy cloudnative-pg-operator
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

fix: update username
  kubernetes/apps/database/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes

chore: add s3 keys
  kubernetes/apps/database/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.5.7349-8f4248874
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3779
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart reloader to 1.0.33
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart cert-manager to v1.12.3
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image docker.io/cloudflare/cloudflared to v2023.7.3
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

fix: recall prowlarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

feat: migrate prowlarr to pg
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/app.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/prowlarr/app/secret.sops.yaml
  kubernetes/apps/media/prowlarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/prowlarr/app/volsync/restic-secret.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: update dependsOn
  kubernetes/apps/media/prowlarr/app.yaml
Labels: area/kubernetes

feat: deploy cnpg cluster
  kubernetes/apps/database/cloudnative-pg/cluster.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/prometheus-rule.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/operator/secret.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix: deploy cnpg cluster
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: deploy radarr-uhd
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/radarr-uhd.yaml
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/kustomization.yaml
  kubernetes/apps/media/radarr/radarr-uhd/persistent-volume-claim.yaml
  kubernetes/apps/media/radarr/radarr-uhd/secret.sops.yaml
Labels: area/kubernetes

fix: change radarr instance name
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

feat: migrate radarr to cnpg
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/radarr.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/radarr/persistent-volume-claim.yaml
  kubernetes/apps/media/radarr/radarr/secret.sops.yaml
Labels: area/kubernetes

fix: rename flux ks
  kubernetes/apps/media/radarr/app.yaml
Labels: area/kubernetes

feat: retire old radarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/app.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/radarr/app/secret.sops.yaml
  kubernetes/apps/media/radarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/radarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/radarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: recall radarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
