Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3679
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3680
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3680
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3684
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3684
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.3.0.3326
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.3.0.3326
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/radarr-develop to v4.7.0.7588
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/radarr-develop to v4.7.0.7588
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3685
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3685
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart snapshot-validation-webhook to 1.7.3
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:dizzy: feat(github-release): Update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3693
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3693
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/intel-gpu-exporter to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.3
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.3
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3698
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3698
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.555
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.555
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update Flux group to v2.0.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.556
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.556
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image docker.io/cloudflare/cloudflared to v2023.7.0
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.557
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.557
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(terraform): Update Terraform cloudflare to 4.10.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/versions.tf
Labels: area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3700
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3700
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy cribl-stream
  kubernetes/apps/observability/cribl-stream/leader.yaml
  kubernetes/apps/observability/cribl-stream/leader/helm-release.yaml
  kubernetes/apps/observability/cribl-stream/leader/kustomization.yaml
  kubernetes/apps/observability/cribl-stream/leader/persistent-volume-claim.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/repositories/helm/cribl.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: deploy cribl-stream volsync
  kubernetes/apps/observability/cribl-stream/leader/kustomization.yaml
  kubernetes/apps/observability/cribl-stream/leader/volsync/kustomization.yaml
  kubernetes/apps/observability/cribl-stream/leader/volsync/replication-source.yaml
  kubernetes/apps/observability/cribl-stream/leader/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: update restic pvc name
  kubernetes/apps/home-automation/frigate/app/volsync/replication-source.yaml
Labels: area/kubernetes

fix: remove kasten repo
  kubernetes/flux/repositories/helm/kasten.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.559
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.559
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
