Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

:arrow_up: fix(helm): Update chart grafana to 6.42.2
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy mealie
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/home/mealie/deployment.yaml
  k8s/cluster/apps/home/mealie/ingress.yaml
  k8s/cluster/apps/home/mealie/kustomization.yaml
  k8s/cluster/apps/home/mealie/persistent-volume-claim.yaml
  k8s/cluster/apps/home/mealie/service.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

fix(cluster): configure resources for plex
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.238.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.238.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update oxsecurity/megalinter action to v6.12.0
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart metallb to 0.13.7
  k8s/cluster/apps/network/metallb/helm-release.yaml
  k8s/cluster/sources/git/metallb.yaml
Labels: area/cluster

fix: update grafana config
  k8s/cluster/apps/observability/grafana/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/grafana/secret.sops.yaml
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

fix(cluster): reduce thanos query replicas to 1
  k8s/cluster/apps/observability/thanos/values.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart descheduler to 0.25.2
  k8s/cluster/apps/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.240.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.240.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(helm): Update chart kube-prometheus-stack to 41.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:dizzy: feat(helm): Update chart kube-prometheus-stack to 41.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.240.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.240.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(terraform): Update Terraform cloudflare to 3.26.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.240.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.240.5
  .github/workflows/renovate.yaml
Labels: area/github

feat: update interval, history and timeout
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(cluster): configure thanos to use minio
  k8s/cluster/apps/observability/thanos/kustomization.yaml
  k8s/cluster/apps/observability/thanos/secret.sops.yaml
  k8s/cluster/apps/observability/thanos/values.yaml
Labels: area/cluster

feat: update helmrelease upgrade configuration
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat: add thanos dashboards
  k8s/cluster/apps/observability/thanos/kustomization.yaml
  k8s/cluster/apps/observability/thanos/observability/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/thanos/observability/kustomization.yaml
Labels: area/cluster

fix: add helmrelease upgrade cleanup
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat: update KPS thanos config
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

fix: update thanos secret
  k8s/cluster/apps/observability/thanos/secret.sops.yaml
Labels: area/cluster

feat: update env var and oauth
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

fix: disable grafana
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: disable thanos
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: disable kube-prometheus-stack
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: deploy thanos
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: deploy kube-prometheus-stack
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: deploy grafana
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 41.5.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 41.5.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

fix(cluster): disable stream wg autoscale
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

feat: add thanos ingress
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

fix: recall kps & thanos
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomize-config.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/thanos/helm-release.yaml
  k8s/cluster/apps/observability/thanos/kustomization.yaml
  k8s/cluster/apps/observability/thanos/kustomize-config.yaml
  k8s/cluster/apps/observability/thanos/observability/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/thanos/observability/kustomization.yaml
  k8s/cluster/apps/observability/thanos/secret.sops.yaml
  k8s/cluster/apps/observability/thanos/values.yaml
Labels: area/cluster

feat: enable prometheus for metallb
  k8s/cluster/apps/network/metallb/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
