Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

refactor: new format for ServiceMonitor
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
Labels: area/cluster

chore: update ignored files
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
  k8s/.gitignore
Labels: area/github

chore: recall readarr
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/readarr-audio/helm-release.yaml
  k8s/cluster/apps/media/readarr-audio/kustomization.yaml
  k8s/cluster/apps/media/readarr-audio/persistent-volume-claim.yaml
  k8s/cluster/apps/media/readarr-ebooks/helm-release.yaml
  k8s/cluster/apps/media/readarr-ebooks/kustomization.yaml
  k8s/cluster/apps/media/readarr-ebooks/persistent-volume-claim.yaml
Labels: area/cluster

feat: enable autoMerge
  .github/renovate.json5
  .github/renovate/autoMerge.json
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.4.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

chore: add labels
  .github/labels.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.5.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.5.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1588
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6031
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

feat: autoMerge plex
  .github/renovate/autoMerge.json
Labels: area/github

feat(helm)!: Update Helm chart mealie to 4.0.0
  k8s/cluster/apps/home/mealie/helm-release.yaml
Labels: area/cluster

chore: format yaml
  .github/workflows/cloudflare-proxied-networks-update.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/library-chart-update.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/scan-containers.yaml
Labels: area/github

feat(helm): update helm chart external-dns to 6.2.0
  k8s/cluster/apps/network/external-dns/internal-dns/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart coredns to 1.17.0
  k8s/cluster/apps/network/coredns/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.6.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.6.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart k10 to 4.5.11
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
Labels: area/cluster

chore: add link-checker label
  .github/labels.yaml
Labels: area/github

fix(github-release): update fluxcd/flux2 to v0.27.4
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.7.5604-980a13e02
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.7.5604-980a13e02
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update container image haveagitgat/tdarr to 2.00.16
  k8s/cluster/apps/media/tdarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image haveagitgat/tdarr_node to 2.00.16
  k8s/cluster/apps/media/tdarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.2
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy megalinter
  .github/workflows/lint.yaml
  .github/workflows/megalinter.yaml
Labels: area/github

feat: include k8s dir
  .sops.yaml
Labels: none

fix(helm): update helm chart external-dns to 6.2.1
  k8s/cluster/apps/network/external-dns/internal-dns/helm-release.yaml
Labels: area/cluster

feat: deploy backup/restore script
  k8s/cluster/apps/rook-ceph/rook-direct-mount/backup-restore.sh
  k8s/cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/apps/rook-ceph/rook-direct-mount/kustomization.yaml
Labels: area/cluster

fix: update NFS_MOUNT_PATH
  k8s/cluster/apps/rook-ceph/rook-direct-mount/backup-restore.sh
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/sabnzbd to v3.5.3
  k8s/cluster/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.3
  .github/workflows/renovate.yaml
Labels: area/github

feat: add backup and transcode volume
  k8s/cluster/apps/media/tdarr/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy vpn namespace
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/vpn/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/vpn.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.4
  .github/workflows/renovate.yaml
Labels: area/github
