Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(go-task): add flux:logs
  .taskfiles/flux.yml
Labels: none

feat(go-task): add deps:all
  .taskfiles/deps.yml
  Taskfile.yml
Labels: none

chore(go-task): organize deps
  .taskfiles/ansible.yml
  .taskfiles/pre-commit.yml
  Taskfile.yml
Labels: none

feat(go-task): add rook tasks
  .taskfiles/rook.yml
  Taskfile.yml
Labels: none

chore(go-task): update desc
  .taskfiles/terraform.yml
Labels: none

chore(go-task): use TERRAFORM_DIR
  .taskfiles/terraform.yml
Labels: none

fix(ansible): roll back to valid version
  ansible/requirements.yml
Labels: area/ansible

chore(go-task): update vars
  .taskfiles/ansible.yml
  .taskfiles/terraform.yml
Labels: none

feat(go-task): add terraform tasks
  Taskfile.yml
Labels: none

feat(go-task): deploy lint tasks
  Taskfile.yml
Labels: none

chore(go-task): include minio
  .taskfiles/lint.yml
Labels: none

feat(go-task): add format tasks
  Taskfile.yml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6541
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6541
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6555
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6555
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.180.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.180.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.180.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.180.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update oxsecurity/megalinter action to v6.7.1
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.181.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.181.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update fluxcd/flux2 to v0.33.0
  k8s/cluster/bootstrap/kustomization.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.182.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.182.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update Rook-Ceph group to v1.9.10
  k8s/cluster/core/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/core/rook-ceph/operator/helm-release.yaml
  k8s/cluster/sources/git/rook-ceph.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.183.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.183.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/plex to v1.28.2.6106-44a5bbd28
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/plex to v1.28.2.6106-44a5bbd28
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: feat(terraform): Update Terraform http to 3.1.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.185.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.185.0
  .github/workflows/renovate.yaml
Labels: area/github

chore: update terraform.local.hcl
  terraform/cloudflare/.terraform.lock.hcl
Labels: area/terraform

feat: deploy cribl-stream
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
  k8s/cluster/apps/observability/cribl-stream/ingress.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl-stream/secret.sops.yaml
  k8s/cluster/apps/observability/cribl-stream/values.yaml
Labels: area/cluster

:arrow_up: feat(helm): Update chart logstream-leader to 3.5.2
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
Labels: area/cluster

chore: clean up flux github webhook resources
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: area/cluster

chore: remove automountServiceAccountToken
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix: reduce external-dns interval to 5m
  k8s/cluster/apps/network/external-dns/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
