Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.25.1
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(terraform): Update Terraform cloudflare to 3.28.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.26.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.26.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.26.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.26.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.26.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.26.2
  .github/workflows/renovate.yaml
Labels: area/github

feat: update renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

chore: Update renovate to pin github action digests
  .github/renovate.json5
Labels: area/github

chore: remove github-releases from loose versioning
  .github/renovate/versioning.json5
Labels: area/github

chore: format yaml
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/cloudflare-proxied-networks-update.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-size-labels.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/kubernetes-kubectl to 0d416e4
  cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to fa286e1
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to fa286e1
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 3866147
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 3866147
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/recyclarr to 73beee5
  cluster/apps/media-automation/recyclarr/cron-job.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/recyclarr to 73beee5
  cluster/apps/media-automation/recyclarr/cron-job.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to 4bfc890
  cluster/apps/download/sabnzbd/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to 4bfc890
  cluster/apps/download/sabnzbd/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to a91037f
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to a91037f
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image docker.io/intel/intel-gpu-plugin to v0.25.1
  cluster/apps/kube-system/intel-gpu-plugin/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2099
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2099
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to 3457eee
  cluster/apps/media/plex/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to 3457eee
  cluster/apps/media/plex/values.yaml
Labels: none

:arrow_up: fix(helm): Update Rook-Ceph group to v1.10.6
  cluster/apps/rook-ceph/cluster/helm-release.yaml
  cluster/apps/rook-ceph/operator/helm-release.yaml
  cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
Labels: none

:arrow_up: fix(helm): Update chart cert-manager to v1.10.1
  cluster/apps/network/cert-manager/helm-release.yaml
Labels: none

:arrow_up: fix(helm): Update chart k10 to 5.5.1
  cluster/apps/kasten-io/k10/helm-release.yaml
Labels: none

:dizzy: feat(github-release): Update flux-installation to v0.37.0
  cluster/flux/flux-system/flux-installation.yaml
Labels: none

:dizzy: feat(github-release): Update fluxcd/flux2 to v0.37.0
  cluster/bootstrap/kustomization.yaml
  cluster/flux/flux-system/flux-installation.yaml
Labels: none

:dizzy: feat(github-release): Update oxsecurity/megalinter action to v6.15.0
  .github/workflows/lint.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.41.1
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.41.1
  .github/workflows/renovate.yaml
Labels: area/github

chore: change sops pre-commit hook to onedr0p
  .pre-commit-config.yaml
Labels: none

:dizzy: feat(github-release): Update pre-commit hook pre-commit/pre-commit-hooks to v4.4.0
  .pre-commit-config.yaml
Labels: none

feat: deploy system-upgrade-controller
  cluster/apps/kustomization.yaml
  cluster/apps/system-upgrade/kustomization.yaml
  cluster/apps/system-upgrade/namespace.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
