Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update helm chart grafana to 6.26.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6204
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6204
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6206
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6206
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1691
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1691
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.3
  k8s/cluster/apps/catalog/flaresolverr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.3
  k8s/cluster/apps/catalog/flaresolverr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1704
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1704
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.4
  k8s/cluster/apps/catalog/flaresolverr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.4
  k8s/cluster/apps/catalog/flaresolverr/values.yaml
Labels: area/cluster

feat(helm): update helm chart bazarr to 10.4.0
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart bazarr to 10.4.0
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart radarr to 16.1.0
  k8s/cluster/apps/catalog/radarr/helm-release.yaml
  k8s/cluster/apps/catalog/radarr4k/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart radarr to 16.1.0
  k8s/cluster/apps/catalog/radarr/helm-release.yaml
  k8s/cluster/apps/catalog/radarr4k/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart sonarr to 16.1.0
  k8s/cluster/apps/catalog/sonarr-anime/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr4k/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart sonarr to 16.1.0
  k8s/cluster/apps/catalog/sonarr-anime/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr4k/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.2.1
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.2.1
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(github-release): update aquasecurity/trivy-action action to 0.2.5
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1710
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1710
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

feat: deploy snmp-exporter-apc-ups
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/config-map.yaml
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/helm-release.yaml
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/kustomization.yaml
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/kustomize-config.yaml
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/prometheus-rule.yaml
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/values.yaml
  k8s/cluster/apps/observability/snmp-exporter/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat: include apc ats
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/values.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat: include apc pdu
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/values.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6209
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6209
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix: use s3 insecure and update alertmanager_url
  k8s/cluster/apps/observability/loki/values.yaml
Labels: area/cluster

feat(helm): update helm chart external-dns to 1.9.0
  k8s/cluster/apps/network/external-dns/external-dns-cloudflare/helm-release.yaml
Labels: area/cluster

fix(container): update container image cribl/cribl to 3.4.1
  k8s/cluster/apps/observability/logstream/deployment.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.26.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 3.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat: set up ansible
  .taskfiles/deps.yml
  Taskfile.yml
  ansible/.gitignore
  ansible/ansible.cfg
  ansible/inventory/group_vars/all/global.yml
  ansible/inventory/group_vars/all/site.sops.yml
  ansible/inventory/host_vars/captain.yml
  ansible/inventory/host_vars/localhost.yml
  ansible/inventory/hosts.yaml
  ansible/playbooks/synology/cloudflare.sops.yml
  ansible/playbooks/synology/configure-letsencrypt.yml
  ansible/playbooks/synology/fix-letsencrypt-certificates.yml
  ansible/requirements.yml
Labels: area/ansible

fix(ansible): update community.sops to 1.2.1
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update kubernetes.core to 2.3.0
  ansible/requirements.yml
Labels: area/ansible

feat: deploy ansible-role-bootstrap
  ansible/playbooks/bootstrap-managed-node.yml
  ansible/roles/bootstrap/defaults/main.yml
  ansible/roles/bootstrap/meta/main.yml
  ansible/roles/bootstrap/tasks/Debian/apt.yml
  ansible/roles/bootstrap/tasks/Debian/main.yml
  ansible/roles/bootstrap/tasks/Debian/packages.yml
  ansible/roles/bootstrap/tasks/Debian/sudoers.yml
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/bootstrap/tasks/sudoers.yml
Labels: area/ansible

feat: deploy ansible-role-users
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/users/defaults/main.yml
  ansible/roles/users/meta/main.yml
  ansible/roles/users/tasks/Debian/main.yml
  ansible/roles/users/tasks/main.yml
Labels: area/ansible
