Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "infrastructure/ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "infrastructure/terraform/**/*"

feat: deploy stakater charts
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
Labels: area/kubernetes

feat: deploy reloader
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes

feat: deploy descheduler charts
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: deploy descheduler
  kubernetes/apps/kube-system/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: update tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: automerge bazarr
  .github/renovate/autoMerge.json5
Labels: area/github

feat: deploy mealie
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/ks.yaml
Labels: area/kubernetes

feat: use postgres for backend
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/mealie/ks.yaml
Labels: area/kubernetes

fix: revert back to sqllite
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

fix: update host/url
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

fix: use postgres database
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

fix: use sqllite database
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

fix: update yaml anchor
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

feat: add ignore
  infrastructure/.gitignore
  infrastructure/ansible/.gitignore
  infrastructure/terraform/.gitignore
Labels: area/ansible, area/terraform

feat: add ansible inventory
  infrastructure/ansible/inventory/group_vars/all/global.sops.yaml
  infrastructure/ansible/inventory/group_vars/all/global.yaml
  infrastructure/ansible/inventory/host_vars/k3s-5.yaml
  infrastructure/ansible/inventory/hosts.yaml
Labels: area/ansible

feat: add ansible config
  infrastructure/ansible/ansible.cfg
Labels: area/ansible

feat: add ansible requirements
  infrastructure/ansible/requirements.txt
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix: update ansible-lint version
  infrastructure/ansible/requirements.txt
Labels: area/ansible

feat: bootstrap managed node
  infrastructure/ansible/playbooks/bootstrap-managed-node.yaml
  infrastructure/ansible/roles/bootstrap/defaults/main.yaml
  infrastructure/ansible/roles/bootstrap/meta/main.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/apt.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/main.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/packages.yaml
  infrastructure/ansible/roles/bootstrap/tasks/main.yaml
Labels: area/ansible

feat: deploy ansible-lint
  infrastructure/ansible/.ansible-lint
Labels: area/ansible

fix: update envrc
  infrastructure/ansible/.envrc
Labels: area/ansible

feat: deploy users role
  infrastructure/ansible/roles/bootstrap/tasks/main.yaml
  infrastructure/ansible/roles/users/defaults/main.yaml
  infrastructure/ansible/roles/users/meta/main.yaml
  infrastructure/ansible/roles/users/tasks/Debian/group.yaml
  infrastructure/ansible/roles/users/tasks/Debian/main.yaml
  infrastructure/ansible/roles/users/tasks/Debian/ssh.yaml
  infrastructure/ansible/roles/users/tasks/Debian/sudo.yaml
  infrastructure/ansible/roles/users/tasks/Debian/user.yaml
  infrastructure/ansible/roles/users/tasks/main.yaml
Labels: area/ansible

feat: add k3s configuration
  infrastructure/ansible/inventory/group_vars/control_node/k3s.yaml
  infrastructure/ansible/inventory/group_vars/kubernetes/coredns.yaml
  infrastructure/ansible/inventory/group_vars/kubernetes/k3s.yaml
  infrastructure/ansible/inventory/group_vars/worker_node/k3s.yaml
Labels: area/ansible

feat: update cilium config
  kubernetes/apps/kube-system/cilium/app/cilium-load-balancer-ip-pool.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

fix: update k8sserviceport
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

feat: update cilium config
  kubernetes/apps/kube-system/cilium/app/cilium-load-balancer-ip-pool.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

feat: create volsync-system namespace
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/namespace.yaml
Labels: area/kubernetes

feat: deploy snapshot-controller
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/volsync-system/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/volsync-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

chore: clean up postbuild
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

feat: migrage to postgres v16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix: recovery source
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v16.yaml
Labels: area/kubernetes

fix: recall cloudnative-pg
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: deploy cloudnative-pg
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: deploy cloudnative-pg
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

fix: re-deploy pg-cluster v14
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat: Auto-merge containers (minor)
  .github/renovate/autoMerge.json5
Labels: area/github

chore: format yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: udpate cron schedule
  .github/workflows/label-sync.yaml
Labels: area/github

fix: external ingress class
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

feat: update mealie to v1.0.0-RC2
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes
