Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

:arrow_up: feat(terraform): Update Terraform cloudflare to 3.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6417
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6417
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.111.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.111.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/kubectl to v1.24.3
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.112.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.112.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6419
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6419
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.115.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.115.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart reloader to v0.0.118
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(container): Update image teslamate/teslamate to 1.27.0
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

:arrow_up: feat(container): Update image teslamate/teslamate to 1.27.0
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6420
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6420
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.8
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.8
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.117.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.117.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6425
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6425
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.117.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.117.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.117.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.117.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.118.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.118.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: update yaml
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2627
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2627
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1903
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1903
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6427
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6427
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1905
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1905
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
