Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.2.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.2.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy flux
  k8s/cluster/apps/calico-system/kustomization.yaml
  k8s/cluster/apps/calico-system/namespace.yaml
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/default/namespace.yaml
  k8s/cluster/apps/flux-system/kustomization.yaml
  k8s/cluster/apps/flux-system/namespace.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kube-system/namespace.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/tigera-operator/kustomization.yaml
  k8s/cluster/apps/tigera-operator/namespace.yaml
  k8s/cluster/bootstrap/kustomization.yaml
  k8s/cluster/config/cluster-secrets.sops.yaml
  k8s/cluster/config/cluster-settings.yaml
  k8s/cluster/config/kustomization.yaml
  k8s/cluster/crds/kustomization.yaml
  k8s/cluster/flux/cluster-apps.yaml
  k8s/cluster/flux/cluster-config.yaml
  k8s/cluster/flux/cluster-crds.yaml
  k8s/cluster/flux/cluster-sources.yaml
  k8s/cluster/flux/flux-system/flux-cluster.yaml
  k8s/cluster/flux/flux-system/flux-installation.yaml
  k8s/cluster/flux/flux-system/kustomization.yaml
  k8s/cluster/flux/flux-system/secret.sops.yaml
  k8s/cluster/sources/git/kustomization.yaml
  k8s/cluster/sources/helm/kustomization.yaml
  k8s/cluster/sources/image/kustomization.yaml
  k8s/cluster/sources/kustomization.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.2.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix: switch to https
  k8s/cluster/flux/flux-system/flux-cluster.yaml
Labels: area/cluster

feat: simplified cluster structure
  cluster/apps/calico-system/kustomization.yaml
  cluster/apps/calico-system/namespace.yaml
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/namespace.yaml
  cluster/apps/flux-system/kustomization.yaml
  cluster/apps/flux-system/namespace.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/namespace.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/tigera-operator/kustomization.yaml
  cluster/apps/tigera-operator/namespace.yaml
  cluster/bootstrap/kustomization.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
  cluster/config/kustomization.yaml
  cluster/flux/cluster-apps.yaml
  cluster/flux/cluster-config.yaml
  cluster/flux/cluster-sources.yaml
  cluster/flux/flux-system/flux-cluster.yaml
  cluster/flux/flux-system/flux-installation.yaml
  cluster/flux/flux-system/kustomization.yaml
  cluster/sources/git/kustomization.yaml
  cluster/sources/helm/kustomization.yaml
  cluster/sources/image/kustomization.yaml
  cluster/sources/kustomization.yaml
  k8s/cluster/config/cluster-secrets.sops.yaml
  k8s/cluster/flux/cluster-apps.yaml
  k8s/cluster/flux/flux-system/secret.sops.yaml
  k8s/cluster/sources/image/kustomization.yaml
Labels: area/cluster

chore: add key_groups
  .sops.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.4.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.4.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: roll back flux to v0.32.0
  cluster/flux/flux-system/flux-installation.yaml
Labels: none

fix: roll back flux to v0.32.0
  cluster/bootstrap/kustomization.yaml
Labels: none

fix: use correct namespaces
  cluster/apps/default/namespace.yaml
  cluster/apps/tigera-operator/namespace.yaml
Labels: none

feat: deploy rook-ceph
  cluster/apps/kustomization.yaml
  cluster/apps/rook-ceph/cluster/helm-release.yaml
  cluster/apps/rook-ceph/cluster/kustomization.yaml
  cluster/apps/rook-ceph/cluster/kustomize-config.yaml
  cluster/apps/rook-ceph/cluster/values.yaml
  cluster/apps/rook-ceph/kustomization.yaml
  cluster/apps/rook-ceph/namespace.yaml
  cluster/apps/rook-ceph/operator/helm-release.yaml
  cluster/apps/rook-ceph/operator/kustomization.yaml
  cluster/apps/rook-ceph/operator/kustomize-config.yaml
  cluster/apps/rook-ceph/operator/values.yaml
  cluster/sources/helm/rook-ceph.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.6.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.6.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: remove unconfigured features
  cluster/apps/rook-ceph/cluster/values.yaml
Labels: none

feat: deploy kube-vip
  .pre-commit-config.yaml
  cluster/apps/kube-system/kube-vip/daemon-set.yaml
  cluster/apps/kube-system/kube-vip/kustomization.yaml
  cluster/apps/kube-system/kube-vip/rbac.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/config/cluster-settings.yaml
Labels: none

fix: re-enable sops-pre-commit
  .pre-commit-config.yaml
Labels: none

feat: deploy ingress-nginx
  cluster/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
  cluster/apps/network/ingress-nginx/helm-release.yaml
  cluster/apps/network/ingress-nginx/kustomization.yaml
  cluster/apps/network/ingress-nginx/kustomize-config.yaml
  cluster/apps/network/ingress-nginx/values.yaml
  cluster/apps/network/kustomization.yaml
  cluster/apps/network/namespace.yaml
  cluster/config/cluster-settings.yaml
  cluster/sources/helm/ingress-nginx.yaml
Labels: none

feat: deploy cert-manager
  cluster/apps/network/cert-manager/certificates/certificate.yaml
  cluster/apps/network/cert-manager/certificates/kustomization.yaml
  cluster/apps/network/cert-manager/helm-release.yaml
  cluster/apps/network/cert-manager/issuers/kustomization.yaml
  cluster/apps/network/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/network/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/apps/network/cert-manager/issuers/secret.sops.yaml
  cluster/apps/network/cert-manager/kustomization.yaml
  cluster/apps/network/cert-manager/kustomize-config.yaml
  cluster/apps/network/cert-manager/values.yaml
  cluster/config/cluster-secrets.sops.yaml
  cluster/sources/helm/jetstack.yaml
  cluster/sources/helm/kustomization.yaml
Labels: none

feat: deploy metallb
  cluster/apps/network/kustomization.yaml
  cluster/apps/network/metallb/helm-release.yaml
  cluster/apps/network/metallb/ip-address-pool.yaml
  cluster/apps/network/metallb/kustomization.yaml
  cluster/apps/network/metallb/kustomize-config.yaml
  cluster/apps/network/metallb/l2-advertisement.yaml
  cluster/apps/network/metallb/values.yaml
  cluster/config/cluster-settings.yaml
  cluster/sources/helm/kustomization.yaml
  cluster/sources/helm/metallb.yaml
Labels: none

fix: disable monitoring
  cluster/apps/rook-ceph/operator/values.yaml
Labels: none

feat: deploy network namespace
  cluster/apps/kustomization.yaml
Labels: none

fix: disable certs & issuers
  cluster/apps/network/cert-manager/kustomization.yaml
Labels: none

fix: disable ingress-nginx
  cluster/apps/network/ingress-nginx/kustomization.yaml
Labels: none

fix: disable ip pools
  cluster/apps/network/metallb/kustomization.yaml
Labels: none

fix: recall rook-ceph-cluster
  cluster/apps/rook-ceph/kustomization.yaml
Labels: none

feat: enable cert issuers
  cluster/apps/network/cert-manager/kustomization.yaml
Labels: none

feat: enable wildcard certificate
  cluster/apps/network/cert-manager/kustomization.yaml
Labels: none

feat: enable default-pool
  cluster/apps/network/metallb/kustomization.yaml
Labels: none

feat: deploy ingress-nginx
  cluster/apps/network/ingress-nginx/kustomization.yaml
Labels: none

fix: update helm dependency
  cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: none

feat: deploy external-dns
  cluster/apps/network/external-dns/helm-release.yaml
  cluster/apps/network/external-dns/kustomization.yaml
  cluster/apps/network/external-dns/kustomize-config.yaml
  cluster/apps/network/external-dns/secret.sops.yaml
  cluster/apps/network/external-dns/values.yaml
  cluster/apps/network/kustomization.yaml
  cluster/sources/helm/external-dns.yaml
  cluster/sources/helm/kustomization.yaml
Labels: none

feat: deploy flux github webhook
  cluster/apps/flux-system/webhook/github/ingress.yaml
  cluster/apps/flux-system/webhook/github/kustomization.yaml
  cluster/apps/flux-system/webhook/github/receiver.yaml
  cluster/apps/flux-system/webhook/github/secret.sops.yaml
  cluster/apps/flux-system/webhook/kustomization.yaml
Labels: none

feat: deploy k8s_gateway
  cluster/apps/network/k8s-gateway/helm-release.yaml
  cluster/apps/network/k8s-gateway/kustomization.yaml
  cluster/apps/network/k8s-gateway/kustomize-config.yaml
  cluster/apps/network/k8s-gateway/values.yaml
  cluster/apps/network/kustomization.yaml
  cluster/config/cluster-settings.yaml
  cluster/sources/helm/k8s-gateway.yaml
  cluster/sources/helm/kustomization.yaml
Labels: none

feat: deploy flux github notifications
  cluster/apps/flux-system/notifications/github/alert.yaml
  cluster/apps/flux-system/notifications/github/kustomization.yaml
  cluster/apps/flux-system/notifications/github/provider.yaml
  cluster/apps/flux-system/notifications/github/secret.sops.yaml
  cluster/apps/flux-system/notifications/kustomization.yaml
Labels: none

chore: clean up old receivers
  cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: none

feat: deploy cloudflare-ddns
  cluster/apps/network/cloudflare-ddns/cloudflare-ddns.sh
  cluster/apps/network/cloudflare-ddns/cron-job.yaml
  cluster/apps/network/cloudflare-ddns/kustomization.yaml
  cluster/apps/network/cloudflare-ddns/secret.sops.yaml
  cluster/apps/network/kustomization.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: none

feat: deploy rook-ceph-cluster
  cluster/apps/rook-ceph/kustomization.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
