Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(container): update image ghcr.io/k8s-at-home/sabnzbd to v3.6.0
  k8s/cluster/apps/download/sabnzbd/values.yaml
Labels: area/cluster

chore(flux): remove helmrepository timeout
  k8s/cluster/core/sources/helm/bitnami.yaml
  k8s/cluster/core/sources/helm/cribl.yaml
  k8s/cluster/core/sources/helm/deliveryhero.yaml
  k8s/cluster/core/sources/helm/descheduler.yaml
  k8s/cluster/core/sources/helm/emberstack.yaml
  k8s/cluster/core/sources/helm/external-dns.yaml
  k8s/cluster/core/sources/helm/grafana.yaml
  k8s/cluster/core/sources/helm/ingress-nginx.yaml
  k8s/cluster/core/sources/helm/jetstack.yaml
  k8s/cluster/core/sources/helm/k8s-at-home.yaml
  k8s/cluster/core/sources/helm/k8s-gateway.yaml
  k8s/cluster/core/sources/helm/kasten.yaml
  k8s/cluster/core/sources/helm/metallb.yaml
  k8s/cluster/core/sources/helm/metrics-server.yaml
  k8s/cluster/core/sources/helm/minecraft-server.yaml
  k8s/cluster/core/sources/helm/node-feature-discovery.yaml
  k8s/cluster/core/sources/helm/prometheus-community.yaml
  k8s/cluster/core/sources/helm/rook-ceph.yaml
  k8s/cluster/core/sources/helm/stakater.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.3.0
  .pre-commit-config.yaml
Labels: none

fix(github-action): update megalinter config
  .github/workflows/megalinter.yaml
Labels: area/github

fix(github-action): update megalinter config
  .github/workflows/megalinter.yaml
Labels: area/github

fix(renovatebot): update automerge config
  .github/renovate/autoMerge.json5
Labels: area/github

feat(github): update labels
  .github/labels.yaml
Labels: area/github

fix(cluster): remove unused pvc
  k8s/cluster/apps/home/teslamate/persistent-volume-claim.yaml
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

feat(splunk): add linux index
  k8s/cluster/apps/observability/splunk/config-map.yaml
Labels: area/cluster

fix(splunk): create splunk-config app
  k8s/cluster/apps/observability/splunk/config-map.yaml
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

fix(splunk): mark splunk-config app as read-only
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

fix(splunk): yet another attempt at fixing indexes.conf
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

feat(flux): deploy otel-collector charts
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/otel-collector.yaml
  k8s/cluster/core/sources/helm/splunk-otel-collector.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.78.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.78.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart node-feature-discovery to 0.11.1
  k8s/cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6349
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6349
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v0.31.1
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(container): update image hkotel/mealie to v1.0.0beta-3
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

chore(k10): update b2 key
  k8s/cluster/apps/kasten-io/k10/blueprints/secret.sops.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.9.5
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(): rename domain apex record
  k8s/cluster/apps/default/theme-park/values.yaml
  k8s/cluster/apps/flux-system/webhook/github/ingress.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/mealie/values.yaml
  k8s/cluster/apps/media/overseerr/values.yaml
  k8s/cluster/apps/media/plex/values.yaml
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/dns_records.tf
Labels: area/cluster, area/terraform

feat(github-release): update renovatebot/github-action action to v32.80.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.80.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart thanos to 10.5.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 10.5.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.1.4
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(ansible): update kubernetes.core to 2.3.2
  ansible/requirements.yml
Labels: area/ansible

feat(github-release): update renovatebot/github-action action to v32.82.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.82.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): deploy cloudflare-ddns
  k8s/cluster/apps/network/cloudflare-ddns/cloudflare-ddns.sh
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
  k8s/cluster/apps/network/cloudflare-ddns/kustomization.yaml
  k8s/cluster/apps/network/cloudflare-ddns/secret.sops.yaml
  k8s/cluster/apps/network/kustomization.yaml
Labels: area/cluster

fix(cluster): update cloudflare-ddns vars
  k8s/cluster/apps/network/cloudflare-ddns/cloudflare-ddns.sh
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
  k8s/cluster/apps/network/cloudflare-ddns/secret.sops.yaml
Labels: area/cluster

feat(tf): add vpn dns record
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/dns_records.tf
Labels: area/terraform

chore(cluster): update envrc
  .envrc
  .sourceignore
Labels: none

feat(cluster): deploy mylar
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/mylar/helm-release.yaml
  k8s/cluster/apps/media/mylar/kustomization.yaml
  k8s/cluster/apps/media/mylar/kustomize-config.yaml
  k8s/cluster/apps/media/mylar/persistent-volume-claim.yaml
  k8s/cluster/apps/media/mylar/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.82.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.82.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 6.29.11
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.29.11
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
