Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat: update renovate config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/groups.json5
  .github/renovate/versioning.json5
Labels: area/github

:arrow_up: fix(github-release): Update Flux group to v2.0.0-rc.5
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart snapshot-controller to 1.8.0
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helm-release.yaml
Labels: area/kubernetes

feat: add flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: update helmrelease-diff
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix: refactor infrastructure directory
  .sops.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3480
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3480
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to v1.13.9
  kubernetes/apps/home/theme-park/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to v1.13.9
  kubernetes/apps/home/theme-park/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.0.7439
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.0.7439
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3488
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3488
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3489
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3489
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.0.17
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.0.17
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: chore(container): Update image ghcr.io/onedr0p/plex to 24b3903
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/plex to 24b3903
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:dizzy: feat(github-release): Update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.3.3267
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.3.3267
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3498
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3498
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3499
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3499
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3501
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3501
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.3.7162-b0a36929b
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.3.7162-b0a36929b
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.0.18
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.0.18
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3502
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3502
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes
