Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

chore: clean up yaml
  k8s/cluster/flux/cluster-apps.yaml
  k8s/cluster/flux/cluster-core.yaml
Labels: area/cluster

fix: update repo url
  k8s/cluster/flux/flux-system/flux-cluster.yaml
Labels: area/cluster

fix: roll flux to v0.32.0
  k8s/cluster/bootstrap/kustomization.yaml
  k8s/cluster/flux/flux-system/flux-installation.yaml
Labels: area/cluster

fix: revert metallb to v0.12.1
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

feat: update kube-vip to v0.5.0
  k8s/cluster/core/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

fix: add ingress-nginx
  k8s/cluster/apps/network/kustomization.yaml
Labels: area/cluster

feat: add check-merge-conflict to per-commit
  .pre-commit-config.yaml
Labels: none

Add gruntwork pre-commit hooks
  .pre-commit-config.yaml
Labels: none

fix: disable forbid-secrets
  .pre-commit-config.yaml
Labels: none

feat: add kube-vip service account secret
  k8s/cluster/core/kube-system/kube-vip/rbac.yaml
Labels: area/cluster

fix: enable forbid-secrets
  .pre-commit-config.yaml
Labels: none

fix: disableNameSuffixHash
  k8s/cluster/apps/network/ingress-nginx/kustomization.yaml
Labels: area/cluster

fix: clean up ingress-nginx config
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

fix: clean up patches
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
Labels: area/cluster

fix: replace channel with version
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

fix: update repo url
  k8s/cluster/flux/flux-system/flux-cluster.yaml
Labels: area/cluster

chore: update yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

test: disable system-upgrade-controller
  k8s/cluster/apps/system-upgrade/kustomization.yaml
Labels: area/cluster

fix: remove service annotations
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

fix: disable cribl-stream
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
  k8s/cluster/apps/observability/cribl-stream/ingress.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl-stream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/cribl-stream/secret.sops.yaml
  k8s/cluster/apps/observability/cribl-stream/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

feat: deploy cribl-stream
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
  k8s/cluster/apps/observability/cribl-stream/ingress.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl-stream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/cribl-stream/secret.sops.yaml
  k8s/cluster/apps/observability/cribl-stream/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: remove pvc
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
Labels: area/cluster

fix: suspend cribl-stream
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

feat: re-deploy cribl-stream
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

fix: configure pvc
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
Labels: area/cluster

fix: use docker rclone image
  k8s/cluster/apps/kasten-io/k10/blueprints/download.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/game.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/home.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/k10-disaster-recovery.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/media.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/observability.yaml
Labels: area/cluster

fix: whitelist RFC1918 addresses
  k8s/cluster/apps/kasten-io/k10/values.yaml
Labels: area/cluster

fix: disableNameSuffixHash
  k8s/cluster/apps/default/theme-park/kustomization.yaml
  k8s/cluster/apps/download/prowlarr/kustomization.yaml
  k8s/cluster/apps/download/radarr/kustomization.yaml
  k8s/cluster/apps/download/radarr4k/kustomization.yaml
  k8s/cluster/apps/download/sabnzbd/kustomization.yaml
  k8s/cluster/apps/download/sonarr/kustomization.yaml
  k8s/cluster/apps/download/sonarr4k/kustomization.yaml
  k8s/cluster/apps/home/mealie/kustomization.yaml
  k8s/cluster/apps/home/teslamate/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
  k8s/cluster/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  k8s/cluster/apps/kube-system/metrics-server/kustomization.yaml
  k8s/cluster/apps/kube-system/node-feature-discovery/kustomization.yaml
  k8s/cluster/apps/kube-system/reflector/kustomization.yaml
  k8s/cluster/apps/kube-system/reloader/kustomization.yaml
  k8s/cluster/apps/media/dizquetv/kustomization.yaml
  k8s/cluster/apps/media/komga/kustomization.yaml
  k8s/cluster/apps/media/mylar/kustomization.yaml
  k8s/cluster/apps/media/overseerr/kustomization.yaml
  k8s/cluster/apps/media/plex/kustomization.yaml
  k8s/cluster/apps/media/tautulli/kustomization.yaml
  k8s/cluster/apps/network/external-dns/kustomization.yaml
  k8s/cluster/apps/network/k8s-gateway/kustomization.yaml
  k8s/cluster/apps/network/metallb/kustomization.yaml
  k8s/cluster/core/rook-ceph/cluster/kustomization.yaml
  k8s/cluster/core/rook-ceph/operator/kustomization.yaml
Labels: area/cluster

fix: remove ingress annotations
  k8s/cluster/apps/kasten-io/k10/values.yaml
Labels: area/cluster

:arrow_up: feat(container): Update image docker.io/rclone/rclone to v1.59.1
  k8s/cluster/apps/kasten-io/k10/blueprints/download.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/game.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/home.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/k10-disaster-recovery.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/media.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/observability.yaml
Labels: area/cluster

feat: add otlp port
  k8s/cluster/apps/observability/cribl-stream/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/plex to v1.28.2.6151-914ddd2b3
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/plex to v1.28.2.6151-914ddd2b3
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.185.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.185.3
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy rook-direct-mount
  k8s/cluster/core/rook-ceph/kustomization.yaml
  k8s/cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/core/rook-ceph/rook-direct-mount/kustomization.yaml
Labels: area/cluster

feat: deploy grocy
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/grocy/kustomization.yaml
  k8s/cluster/apps/home/grocy/kustomize-config.yaml
  k8s/cluster/apps/home/grocy/persistent-volume-claim.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/kustomization.yaml
Labels: area/cluster

fix: recall cribl-stream
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
  k8s/cluster/apps/observability/cribl-stream/ingress.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl-stream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/cribl-stream/secret.sops.yaml
  k8s/cluster/apps/observability/cribl-stream/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.186.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.186.1
  .github/workflows/renovate.yaml
Labels: area/github
