Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat(helm): update helm chart plex to 6.3.1
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(ansible): update xanmanning.k3s to v3.1.2
  ansible/requirements.yml
Labels: area/ansible

fix(ansible): update kubernetes.core to 2.3.1
  ansible/requirements.yml
Labels: area/ansible

feat(terraform): update terraform cloudflare to 3.14.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(github-release): update renovatebot/github-action action to v32.39.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): set up new cluster
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/base/apps.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/base/core.yaml
  k8s/cluster/base/flux-system/gotk-components.yaml
  k8s/cluster/base/flux-system/gotk-patches.yaml
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
  k8s/cluster/base/infrastructure.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/kustomization.yaml
  k8s/cluster/infrastructure/kustomization.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.30.1
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add Flux sync manifests
  k8s/cluster/base/flux-system/gotk-sync.yaml
Labels: area/cluster

fix: restore flux-system
  k8s/cluster/base/flux-system/gotk-sync.yaml
Labels: area/cluster

feat: deploy metallb
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/core/namespaces/metallb-system.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/metallb.yaml
  k8s/cluster/infrastructure/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/helm-release.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/kustomize-config.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/values.yaml
Labels: area/cluster

feat: deploy kube-vip
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/daemon-set.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/kustomization.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/rbac.yaml
  k8s/cluster/infrastructure/kube-system/kustomization.yaml
Labels: area/cluster

feat: deploy cert-manager
  k8s/cluster/apps/cert-manager/kustomization.yaml
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/namespaces/cert-manager.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/sources/helm/jetstack.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
  k8s/cluster/infrastructure/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/kustomize-config.yaml
  k8s/cluster/infrastructure/cert-manager/letsencrypt-production.yaml
  k8s/cluster/infrastructure/cert-manager/letsencrypt-staging.yaml
  k8s/cluster/infrastructure/cert-manager/secret.sops.yaml
  k8s/cluster/infrastructure/cert-manager/values.yaml
Labels: area/cluster

feat: deploy system-upgrade-controller
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/system-upgrade/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/crds/system-upgrade-controller/kustomization.yaml
  k8s/cluster/core/namespaces/system-upgrade.yaml
Labels: area/cluster

fix: include namespace
  k8s/cluster/infrastructure/cert-manager/kustomization.yaml
Labels: area/cluster

chore: update cloudflare email
  k8s/cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

fix: update flux ks apps name
  k8s/cluster/base/apps.yaml
Labels: area/cluster

chore: update nodeselector for system-upgrade-controller
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

feat: add labels to system-upgrade-controller
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
Labels: area/cluster

feat: deploy wildcard-certificate
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/apps/network/wildcard-certificate/certificate.yaml
  k8s/cluster/apps/network/wildcard-certificate/kustomization.yaml
Labels: area/cluster

fix: temporarily disable system-upgrade-controller
  k8s/cluster/apps/kustomization.yaml
Labels: area/cluster

feat: deploy ingress-nginx
  k8s/cluster/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomization.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomize-config.yaml
  k8s/cluster/apps/network/ingress-nginx/values.yaml
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/network.yaml
  k8s/cluster/core/sources/helm/ingress-nginx.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

fix: enable network namespace apps
  k8s/cluster/apps/kustomization.yaml
Labels: area/cluster

fix: disable ingress-nginx metrics
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

feat: deploy flux github webhook
  k8s/cluster/apps/flux-system/kustomization.yaml
  k8s/cluster/apps/flux-system/webhook/github/ingress.yaml
  k8s/cluster/apps/flux-system/webhook/github/kustomization.yaml
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
  k8s/cluster/apps/flux-system/webhook/github/secret.sops.yaml
  k8s/cluster/apps/flux-system/webhook/kustomization.yaml
Labels: area/cluster

feat: deploy reflector
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kube-system/reflector/helm-release.yaml
  k8s/cluster/apps/kube-system/reflector/kustomization.yaml
  k8s/cluster/apps/kube-system/reflector/kustomize-config.yaml
  k8s/cluster/apps/kube-system/reflector/values.yaml
  k8s/cluster/core/sources/helm/emberstack.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy reloader
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
  k8s/cluster/apps/kube-system/reloader/kustomization.yaml
  k8s/cluster/apps/kube-system/reloader/kustomize-config.yaml
  k8s/cluster/apps/kube-system/reloader/values.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/stakater.yaml
Labels: area/cluster

feat: deploy metrics-server
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kube-system/metrics-server/helm-release.yaml
  k8s/cluster/apps/kube-system/metrics-server/kustomization.yaml
  k8s/cluster/apps/kube-system/metrics-server/kustomize-config.yaml
  k8s/cluster/apps/kube-system/metrics-server/values.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/metrics-server.yaml
Labels: area/cluster

feat: deploy rook-ceph
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/rook-ceph/kustomization.yaml
  k8s/cluster/core/crds/rook-ceph/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/rook-ceph.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/rook-ceph.yaml
  k8s/cluster/infrastructure/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/kustomize-config.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/kustomize-config.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/values.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v0.30.2
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(helm): update rook-ceph-suite helm releases to v1.9.2
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat: deploy ansible playbooks | flux
  ansible/playbooks/kubernetes/flux.sops.yml
  ansible/playbooks/kubernetes/install-flux.yml
Labels: area/ansible

feat: deploy kasten k10
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/kustomize-config.yaml
  k8s/cluster/apps/kasten-io/k10/values.yaml
  k8s/cluster/apps/kasten-io/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/core/namespaces/kasten-io.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/sources/helm/kasten.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

Add Flux v0.30.2 component manifests
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add Flux sync manifests
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
Labels: area/cluster

feat: set up new flux cluster
  .sops.yaml
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/base/apps.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/base/core.yaml
  k8s/cluster/base/flux-system/gotk-patches.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
  k8s/cluster/base/infrastructure.yaml
  k8s/cluster/core/kustomization.yaml
  k8s/cluster/infrastructure/kustomization.yaml
Labels: area/cluster

feat: updated flux playbooks
  ansible/playbooks/kubernetes/flux-bootstrap.yml
  ansible/playbooks/kubernetes/flux-deploy.yml
  ansible/playbooks/kubernetes/flux.sops.yml
Labels: area/ansible

chore: update gitignore
  k8s/.gitignore
Labels: none

feat: set up new flux cluster
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/base/apps.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/base/core.yaml
  k8s/cluster/base/flux-system/gotk-components.yaml
  k8s/cluster/base/flux-system/gotk-patches.yaml
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
  k8s/cluster/base/infrastructure.yaml
  k8s/cluster/core/kustomization.yaml
  k8s/cluster/infrastructure/kustomization.yaml
Labels: area/cluster

Add Flux v0.30.2 component manifests
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/gotk-sync.yaml
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/kustomization.yaml
Labels: none
