Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

fix(renovate): roll back renovatebot github-action to 32.14.0
  .github/workflows/renovate.yaml
Labels: area/github

chore: update filename
  .github/renovate.json5
Labels: area/github

Rename automerge.json to autoMerge.json
  .github/renovate/autoMerge.json
Labels: area/github

fix(renovate): roll back renovatebot github-action to 32.12.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6162
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6162
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix: update cert-manager git url
  .github/renovate.json5
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
Labels: area/github, area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.9.5721-965587f64
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.9.5721-965587f64
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

chore: add vector-suite group
  .github/renovate/packageGroups.json
Labels: area/github

fix: undo accidental commented changes
  .github/renovate.json5
Labels: area/github

fix(container): update container image ghcr.io/sct/overseerr to 1.29.1
  k8s/cluster/apps/media/overseerr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/sct/overseerr to 1.29.1
  k8s/cluster/apps/media/overseerr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart loki to 2.11.0
  k8s/cluster/apps/observability/loki/helm-release.yaml
Labels: area/cluster

feat(renovate): automerge loki
  .github/renovate/autoMerge.json
Labels: area/github

feat(helm): update helm chart loki to 2.11.0
  k8s/cluster/apps/observability/loki/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform cloudflare to 3.12.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1673
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1673
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update aquasecurity/trivy-action action to 0.2.3
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6164
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6164
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.17.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2515
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2515
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart k10 to 4.5.13
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.0
  k8s/cluster/apps/observability/speedtest-exporter/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.0
  k8s/cluster/apps/observability/speedtest-exporter/values.yaml
Labels: area/cluster

feat: deploy sonarr-anime
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr-anime/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr-anime/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr-anime/kustomize-config.yaml
  k8s/cluster/apps/catalog/sonarr-anime/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sonarr-anime/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1676
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1676
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.17.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6171
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6171
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1679
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1679
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6176
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6176
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster
