Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

fix: recall prowlarr
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
  k8s/cluster/apps/media/prowlarr/kustomization.yaml
  k8s/cluster/apps/media/prowlarr/persistent-volume-claim.yaml
Labels: area/cluster

fix: recall flaresolverr
  k8s/cluster/apps/media/flaresolverr/helm-release.yaml
  k8s/cluster/apps/media/flaresolverr/kustomization.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: recall tdarr
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/tdarr/helm-release.yaml
  k8s/cluster/apps/media/tdarr/kustomization.yaml
  k8s/cluster/apps/media/tdarr/persistent-volume-claim.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart grafana to 6.26.0
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart grafana to 6.26.0
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 34.9.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 34.9.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6154
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6154
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6157
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6157
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.2.0
  .pre-commit-config.yaml
Labels: none

fix: use nodeSelector
  k8s/cluster/apps/catalog/bazarr/values.yaml
Labels: area/cluster

fix: move sabnzbd to catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/sabnzbd/helm-release.yaml
  k8s/cluster/apps/catalog/sabnzbd/kustomization.yaml
  k8s/cluster/apps/catalog/sabnzbd/kustomize-config.yaml
  k8s/cluster/apps/catalog/sabnzbd/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sabnzbd/values.yaml
  k8s/cluster/apps/media/sabnzbd/helm-release.yaml
  k8s/cluster/apps/media/sabnzbd/kustomization.yaml
Labels: area/cluster

fix: move radarr4k to catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/radarr4k/helm-release.yaml
  k8s/cluster/apps/catalog/radarr4k/kustomization.yaml
  k8s/cluster/apps/catalog/radarr4k/kustomize-config.yaml
  k8s/cluster/apps/catalog/radarr4k/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/kustomization.yaml
Labels: area/cluster

fix: move sonarr to catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr/dashboard/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr/kustomize-config.yaml
  k8s/cluster/apps/catalog/sonarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sonarr/values.yaml
  k8s/cluster/apps/media/sonarr/helm-release.yaml
  k8s/cluster/apps/media/sonarr/kustomization.yaml
Labels: area/cluster

fix: move sonarr4k to catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr4k/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr4k/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr4k/kustomize-config.yaml
  k8s/cluster/apps/catalog/sonarr4k/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sonarr4k/values.yaml
  k8s/cluster/apps/media/sonarr4k/helm-release.yaml
  k8s/cluster/apps/media/sonarr4k/kustomization.yaml
Labels: area/cluster

fix: move radarr to catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/radarr/dashboard/kustomization.yaml
  k8s/cluster/apps/catalog/radarr/helm-release.yaml
  k8s/cluster/apps/catalog/radarr/kustomization.yaml
  k8s/cluster/apps/catalog/radarr/kustomize-config.yaml
  k8s/cluster/apps/catalog/radarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr/kustomization.yaml
Labels: area/cluster

feat: re-deploy prowlarr
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/prowlarr/helm-release.yaml
  k8s/cluster/apps/catalog/prowlarr/kustomization.yaml
  k8s/cluster/apps/catalog/prowlarr/kustomize-config.yaml
  k8s/cluster/apps/catalog/prowlarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

feat: re-deploy flaresolverr
  k8s/cluster/apps/catalog/flaresolverr/helm-release.yaml
  k8s/cluster/apps/catalog/flaresolverr/kustomization.yaml
  k8s/cluster/apps/catalog/flaresolverr/kustomize-config.yaml
  k8s/cluster/apps/catalog/flaresolverr/values.yaml
  k8s/cluster/apps/catalog/kustomization.yaml
Labels: area/cluster

feat: re-deploy gaps
  k8s/cluster/apps/catalog/gaps/helm-release.yaml
  k8s/cluster/apps/catalog/gaps/kustomization.yaml
  k8s/cluster/apps/catalog/gaps/kustomize-config.yaml
  k8s/cluster/apps/catalog/gaps/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/gaps/values.yaml
  k8s/cluster/apps/catalog/kustomization.yaml
Labels: area/cluster

fix: recall nzbhydra2
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/nzbhydra2/helm-release.yaml
  k8s/cluster/apps/media/nzbhydra2/kustomization.yaml
  k8s/cluster/apps/media/nzbhydra2/persistent-volume-claim.yaml
Labels: area/cluster

feat: use local-test configuration
  k8s/cluster/apps/observability/grafana/helm-release.yaml
  k8s/cluster/apps/observability/grafana/kustomization.yaml
  k8s/cluster/apps/observability/grafana/kustomize-config.yaml
  k8s/cluster/apps/observability/grafana/values.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomize-config.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/loki/helm-release.yaml
  k8s/cluster/apps/observability/loki/kustomization.yaml
  k8s/cluster/apps/observability/loki/kustomize-config.yaml
  k8s/cluster/apps/observability/loki/values.yaml
  k8s/cluster/apps/observability/thanos/helm-release.yaml
  k8s/cluster/apps/observability/thanos/kustomization.yaml
  k8s/cluster/apps/observability/thanos/kustomize-config.yaml
  k8s/cluster/apps/observability/thanos/values.yaml
  k8s/cluster/apps/observability/unifi-poller/helm-release.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomize-config.yaml
  k8s/cluster/apps/observability/unifi-poller/values.yaml
Labels: area/cluster

feat: use local-test configuration
  k8s/cluster/apps/observability/speedtest-exporter/helm-release.yaml
  k8s/cluster/apps/observability/speedtest-exporter/kustomization.yaml
  k8s/cluster/apps/observability/speedtest-exporter/kustomize-config.yaml
  k8s/cluster/apps/observability/speedtest-exporter/values.yaml
Labels: area/cluster

feat: use local-test configuration
  k8s/cluster/apps/observability/snmp-exporter/kustomization.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/config-map.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/kustomization.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/kustomize-config.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6160
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6160
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.14.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.14.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: use local-test configuration
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/kustomize-config.yaml
  k8s/cluster/apps/kasten-io/k10/values.yaml
Labels: area/cluster

feat: use local-test configuration
  k8s/cluster/apps/media/plex/helm-release.yaml
  k8s/cluster/apps/media/plex/kustomization.yaml
  k8s/cluster/apps/media/plex/kustomize-config.yaml
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix: remove nfs mounted history volume
  k8s/cluster/apps/catalog/sabnzbd/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sabnzbd/values.yaml
Labels: area/cluster

chore: update variable names
  k8s/cluster/apps/catalog/bazarr/values.yaml
  k8s/cluster/apps/catalog/prowlarr/values.yaml
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
  k8s/cluster/apps/catalog/sabnzbd/values.yaml
  k8s/cluster/apps/catalog/sonarr/values.yaml
  k8s/cluster/apps/catalog/sonarr4k/values.yaml
  k8s/cluster/apps/home/mealie/helm-release.yaml
  k8s/cluster/apps/kasten-io/k10/persistent-volume.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/minio.yaml
  k8s/cluster/apps/media/komga/helm-release.yaml
  k8s/cluster/apps/media/lidarr/helm-release.yaml
  k8s/cluster/apps/media/plex/values.yaml
  k8s/cluster/apps/media/tautulli/helm-release.yaml
  k8s/cluster/apps/network/reverse-proxy/home-assistant/helm-release.yaml
  k8s/cluster/apps/network/reverse-proxy/protect/helm-release.yaml
  k8s/cluster/apps/network/reverse-proxy/unifi/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/values.yaml
  k8s/cluster/apps/observability/thanos/secret.sops.yaml
  k8s/cluster/apps/observability/unifi-poller/secret.sops.yaml
  k8s/cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

fix: update yaml anchors
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.14.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.14.1
  .github/workflows/renovate.yaml
Labels: area/github

chore: update variable names
  k8s/cluster/apps/media/calibre-web/helm-release.yaml
  k8s/cluster/apps/media/calibre/helm-release.yaml
  k8s/cluster/apps/media/mylar/helm-release.yaml
Labels: area/cluster

fix: disable renovatebot automerge
  .github/renovate/automerge.json
Labels: area/github
