Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

feat: deploy thanos
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/thanos/app.yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
  kubernetes/apps/observability/thanos/app/kustomization.yaml
  kubernetes/apps/observability/thanos/app/object-bucket-claim.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: deploy kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3571
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3571
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/observability/grafana/app.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: update grafana root_url
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy observability for ceph
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy observability for cert-manager
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/observability/grafana/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/observability/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/observability/prometheus-rule.yaml
Labels: area/kubernetes

fix: update missing grafana dashboards
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3573
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3573
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:boom: feat(helm)!: Update chart k10 to 6.0.1
  kubernetes/apps/kasten-io/k10/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart grafana to 6.57.3
  kubernetes/apps/observability/grafana/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.4.1
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.4.1
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 50e93d8
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 50e93d8
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3574
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3574
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3577
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3577
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3578
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3578
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3580
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3580
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/theme-park to 5788dd8
  kubernetes/apps/home/theme-park/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/theme-park to 5788dd8
  kubernetes/apps/home/theme-park/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image docker.io/cloudflare/cloudflared to v2023.6.1
  kubernetes/apps/network/cloudflared/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3584
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3584
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(ansible): Update community.general to 7.1.0
  infrastructure/ansible/requirements.yml
Labels: area/ansible

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.542
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.542
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 10f99cb
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 10f99cb
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.544
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.544
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to dc97f0a
  kubernetes/apps/home/mealie/app/values.yaml
Labels: area/kubernetes
