Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

:dizzy: feat(helm): Update chart grafana to 6.43.0
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy frigate
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
  k8s/cluster/apps/home-automation/frigate/secret.sops.yaml
  k8s/cluster/apps/home-automation/kustomization.yaml
Labels: area/cluster

feat: deploy frigate config
  k8s/cluster/apps/home-automation/frigate/config.yaml
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
Labels: area/cluster

feat: deploy frigate pvc
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
  k8s/cluster/apps/home-automation/frigate/persistent-volume-claim.yaml
Labels: area/cluster

feat: deploy frigate
  k8s/cluster/apps/home-automation/frigate/helm-release.yaml
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
  k8s/cluster/apps/home-automation/frigate/kustomize-config.yaml
  k8s/cluster/apps/home-automation/frigate/values.yaml
Labels: area/cluster

fix: reference frigate-secrets
  k8s/cluster/apps/home-automation/frigate/values.yaml
Labels: area/cluster

fix: remove invalid resource
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix: update config secrets
  k8s/cluster/apps/home-automation/frigate/config.yaml
Labels: area/cluster

fix: update flux substitutions
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
Labels: area/cluster

fix: update secrets
  k8s/cluster/apps/home-automation/frigate/config.yaml
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
Labels: area/cluster

feat: add frigate ip address
  k8s/cluster/apps/home-automation/frigate/values.yaml
Labels: area/cluster

fix: add frigate ip address
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

feat: add additional cameras
  k8s/cluster/apps/home-automation/frigate/config.yaml
Labels: area/cluster

feat: add home-assistant address
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

chore: move frigate-config
  k8s/cluster/apps/home-automation/frigate/config/frigate-config.yaml
  k8s/cluster/apps/home-automation/frigate/kustomization.yaml
Labels: area/cluster

fix: update subPath
  k8s/cluster/apps/home-automation/frigate/values.yaml
Labels: area/cluster

:dizzy: feat(helm): Update chart kube-prometheus-stack to 41.6.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:dizzy: feat(helm): Update chart kube-prometheus-stack to 41.6.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

feat: add vscode extension recommendations
  .vscode/extensions.json
Labels: none

feat: add vscode settings
  .vscode/settings.json
Labels: none

feat: update system-upgrade-controller
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
Labels: area/cluster

feat: move crd to app
  k8s/cluster/apps/system-upgrade/kustomization.yaml
  k8s/cluster/crds/kustomization.yaml
  k8s/cluster/crds/system-upgrade-controller/kustomization.yaml
Labels: area/cluster

feat: set reconcilation for 30m on flux resources
  k8s/cluster/flux/cluster-apps.yaml
  k8s/cluster/flux/cluster-config.yaml
  k8s/cluster/flux/cluster-core.yaml
  k8s/cluster/flux/cluster-crds.yaml
  k8s/cluster/flux/cluster-sources.yaml
  k8s/cluster/flux/flux-system/flux-cluster.yaml
  k8s/cluster/flux/flux-system/flux-installation.yaml
Labels: area/cluster

feat: update cluster-apps dependencies
  k8s/cluster/flux/cluster-apps.yaml
Labels: area/cluster

:boom: feat(github-release)!: Update renovatebot/github-action action to v33.2.4
  .github/workflows/renovate.yaml
Labels: area/github

feat: let rook-ceph manage crds
  k8s/cluster/core/rook-ceph/operator/values.yaml
  k8s/cluster/crds/kustomization.yaml
  k8s/cluster/crds/rook-ceph/crds.yaml
  k8s/cluster/crds/rook-ceph/kustomization.yaml
  k8s/cluster/sources/git/kustomization.yaml
  k8s/cluster/sources/git/rook-ceph.yaml
Labels: area/cluster

feat: remove cloudnative-pg crds
  k8s/cluster/crds/cloudnative-pg/crds.yaml
  k8s/cluster/crds/cloudnative-pg/kustomization.yaml
  k8s/cluster/crds/kustomization.yaml
  k8s/cluster/sources/git/cloudnative-pg.yaml
  k8s/cluster/sources/git/kustomization.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update Rook-Ceph group to v1.10.4
  k8s/cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/core/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/core/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat: move cert-manager to apps
  k8s/cluster/apps/kube-system/cert-manager/certificates/certificate.yaml
  k8s/cluster/apps/kube-system/cert-manager/certificates/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/helm-release.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomize-config.yaml
  k8s/cluster/apps/kube-system/cert-manager/values.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomization.yaml
  k8s/cluster/core/kube-system/cert-manager/kustomization.yaml
  k8s/cluster/crds/cert-manager/kustomization.yaml
  k8s/cluster/crds/kustomization.yaml
Labels: area/cluster

fix: disable cert-manager helm-release
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
Labels: area/cluster

fix: enable cert-manager helm-release
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
Labels: area/cluster

fix: disable cert-manager
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
Labels: area/cluster

feat: deploy cert-manager
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
Labels: area/cluster

fix: recall cert-manager
  k8s/cluster/apps/kube-system/cert-manager/certificates/certificate.yaml
  k8s/cluster/apps/kube-system/cert-manager/certificates/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/helm-release.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  k8s/cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomize-config.yaml
  k8s/cluster/apps/kube-system/cert-manager/observability/dashboard/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/observability/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/observability/prometheus-rule.yaml
  k8s/cluster/apps/kube-system/cert-manager/values.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

feat: re-deploy cert-manager
  k8s/cluster/apps/kube-system/cert-manager/helm-release.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomization.yaml
  k8s/cluster/apps/kube-system/cert-manager/kustomize-config.yaml
  k8s/cluster/apps/kube-system/cert-manager/values.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

:boom: feat(github-release)!: Update renovatebot/github-action action to v34.1.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to b9a570c
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to b9a570c
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 41.6.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 41.6.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster
