Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 8608cba
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 42c48fd
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 8608cba
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 3741b3c
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 3741b3c
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to 80fbe89
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 58ccc58
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-develop to 7070b10
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to 0230f75
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.1.2096
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/unpoller/unpoller to v2.8.1
  kubernetes/apps/observability/unpoller/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/unpoller/unpoller to v2.8.1
  kubernetes/apps/observability/unpoller/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-prometheus-stack to v48.3.1
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image prometheus-node-exporter to v4.22.0
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

Revert ":arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to 80fbe89"
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to 80fbe89
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

feat: create flux tasks
  .taskfiles/flux/tasks.yaml
  Taskfile.yaml
Labels: none

chore: add image
  kubernetes/apps/observability/splunk/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/recyclarr/recyclarr to v5.2.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.603
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.603
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.604
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.604
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: enable external leadercomm
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
Labels: area/kubernetes

chore: add criblImage to hr
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.610
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to ad199f2
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(ansible): Update geerlingguy.docker to 6.2.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 202eed4
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 202eed4
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to ad199f2
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.610
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

chore: update splunk admin password
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: revert splunk admin password
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: recall splunk
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: re-deploy splunk
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

fix: recall splunk
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: deploy splunk-operator
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: deploy splunk instance
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/splunk/instance.yaml
  kubernetes/apps/observability/splunk/instance/helm-release.yaml
  kubernetes/apps/observability/splunk/instance/ingress.yaml
  kubernetes/apps/observability/splunk/instance/kustomization.yaml
  kubernetes/apps/observability/splunk/instance/secret.sops.yaml
  kubernetes/apps/observability/splunk/instance/volsync/kustomization.yaml
  kubernetes/apps/observability/splunk/instance/volsync/replication-source.yaml
  kubernetes/apps/observability/splunk/instance/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: update splunk-instance path
  kubernetes/apps/observability/splunk/instance.yaml
Labels: area/kubernetes
