Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

fix(lidarr): upgrade to app-template v2
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/patches/postgres.yaml
Labels: area/kubernetes

feat(prowlarr): upgrade to app-template v2
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/patches/postgres.yaml
Labels: area/kubernetes

fix(readarr): update secrets
  kubernetes/apps/media/readarr/audio/secret.sops.yaml
  kubernetes/apps/media/readarr/ebooks/secret.sops.yaml
Labels: area/kubernetes

feat(renovate): automerge grafana dashboards
  .github/renovate/autoMerge.json5
Labels: area/github

:arrow_up: fix(docker-image): Update grafana-operator Docker tag to v5.4.2
  kubernetes/apps/observability/grafana/operator/helm-release.yaml
Labels: area/kubernetes

chore(grafana-dashboards)!: Update dashboard Node Exporter Full to revision 33
  kubernetes/apps/observability/grafana/dashboard/system/node-exporter-full.yaml
Labels: area/kubernetes

feat(docker-image): ghcr.io/tailscale/tailscale Docker tag to v1.52.0
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

fix(frigate): upgrade to app-template v2
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

fix(tailscale): recall tailscale
  kubernetes/apps/vpn/kustomization.yaml
Labels: area/kubernetes

fix(grafana): recall grafana
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix(tailscale): re-deploy tailscale
  kubernetes/apps/vpn/kustomization.yaml
Labels: area/kubernetes

fix(tailscale): update auth key
  kubernetes/apps/vpn/tailscale/app/secret.sops.yaml
Labels: area/kubernetes

fix(tailscale): update auth key
  kubernetes/apps/vpn/tailscale/app/secret.sops.yaml
Labels: area/kubernetes

feat(tailscale): set hostname
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm-chart): Update Helm release reloader to 1.0.51
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(docker-image): Update Cribl group to v4.4.0
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

chore: Add flux language server annotations
  kubernetes/apps/observability/splunk/operator.yaml
Labels: area/kubernetes

fix(sabnzbd): upgrade to app-template v2
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

fix(intel-gpu-exporter): upgrade to app-template v2
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/kubernetes

fix(overseerr): upgrade to app-template v2
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/kubernetes

fix(plex): upgrade to app-template v2
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(deps): Update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

fix(sonarr): upgrade to app-template v2
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/kustomization.yaml
  kubernetes/apps/media/sonarr/sonarr/patches/postgres.yaml
  kubernetes/apps/media/sonarr/sonarr/secret.sops.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/kustomization.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/replication-source.yaml
  kubernetes/apps/media/sonarr/sonarr/volsync/restic-secret.yaml
Labels: area/kubernetes

:arrow_up: fix(docker-image): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.719
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible-collection): Update community.sops to 1.6.7
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:dizzy: feat(ansible-collection): Update community.general to 7.5.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:boom: feat(ansible-collection)!: Update community.general to 8.0.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

fix(teslamate): upgrade to app-template v2
  kubernetes/apps/services/teslamate/app/helm-release.yaml
  kubernetes/apps/services/teslamate/app/patches/postgres.yaml
Labels: area/kubernetes

fix(sonarr): upgrade pvc to v2
  kubernetes/apps/media/sonarr/sonarr/persistent-volume-claim.yaml
Labels: area/kubernetes

fix(wizarr): upgrade to app-template v2
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

fix(wizarr): use default securityContext
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

fix(tautulli): move hajimari groups
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix(docker-image): Update ghcr.io/wizarrrr/wizarr Docker tag to v3.4.8
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

chore(renovate): reorder groups
  .github/renovate/groups.json5
Labels: area/github

chore(renovate):update semanticCommitType
  .github/renovate/semanticCommit.json5
Labels: area/github

feat(renovate): automerge bjw-s
  .github/renovate/autoMerge.json5
Labels: area/github

fix(renovate): matchDatasources
  .github/renovate/versioning.json5
Labels: area/github

chore(github-action): update name
  .github/workflows/meta-labeler.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
