Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat: deploy kyverno crds
  cluster/crds/kyverno/crds.yaml
  cluster/crds/kyverno/kustomization.yaml
  cluster/sources/git/kustomization.yaml
  cluster/sources/git/kyverno.yaml
Labels: none

feat: deploy kyverno charts
  cluster/sources/helm/kustomization.yaml
  cluster/sources/helm/kyverno.yaml
Labels: none

fix: add namespace to GitRepository
  cluster/sources/git/kyverno.yaml
Labels: none

fix: add namespace to Kustomization
  cluster/crds/kyverno/crds.yaml
Labels: none

feat: deploy kyverno
  cluster/apps/kustomization.yaml
  cluster/apps/kyverno/kustomization.yaml
  cluster/apps/kyverno/kyverno/helm-release.yaml
  cluster/apps/kyverno/kyverno/kustomization.yaml
  cluster/apps/kyverno/kyverno/kustomize-config.yaml
  cluster/apps/kyverno/kyverno/values.yaml
  cluster/apps/kyverno/namespace.yaml
Labels: none

feat: deploy kyverno policies
  cluster/apps/kyverno/kyverno/kustomization.yaml
  cluster/apps/kyverno/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: none

feat: apply ingress whitelist annotations
  cluster/apps/kyverno/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: none

:dizzy: feat(terraform): Update Terraform cloudflare to 3.29.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

chore: clean up external-dns annotations
  cluster/apps/default/theme-park/values.yaml
  cluster/apps/flux-system/webhook/github/ingress.yaml
  cluster/apps/home/grocy/values.yaml
  cluster/apps/home/mealie/ingress.yaml
  cluster/apps/media-automation/overseerr/values.yaml
  cluster/apps/media/plex/values.yaml
  cluster/apps/network/external-services/files/ingress.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2105
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2105
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.42.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.42.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/kube-vip/kube-vip to v0.5.7
  cluster/apps/kube-system/kube-vip/daemon-set.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.44.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.44.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.47.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.47.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.47.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.47.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to 2abfa35
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to 2abfa35
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 5e5f16c
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 5e5f16c
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to cdd1c3a
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to cdd1c3a
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.48.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.48.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to e6cc34d
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to e6cc34d
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 54c9699
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 54c9699
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:boom: feat(container)!: Update image ghcr.io/onedr0p/recyclarr to v3
  cluster/apps/media-automation/recyclarr/cron-job.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.48.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.48.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.1.3
  cluster/apps/media-automation/bazarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.1.3
  cluster/apps/media-automation/bazarr/values.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.48.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.48.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 5a7b8bf
  cluster/apps/media-automation/radarr/values.yaml
Labels: none
