Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:arrow_up: fix(container): Update image ghcr.io/cloudnative-pg/postgresql to v14.9-8
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.665
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart ingress-nginx to 4.7.2
  kubernetes/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(github-release)!: Update tibdex/github-app-token action to v2.0.0
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(container): Update image ghcr.io/advplyr/audiobookshelf to v2.4.1
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.4.2.3576
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.4.2.3576
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image weave-gitops to v4.0.29
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy tubesync
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tubesync/app.yaml
  kubernetes/apps/media/tubesync/app/helm-release.yaml
  kubernetes/apps/media/tubesync/app/kustomization.yaml
  kubernetes/apps/media/tubesync/app/persistent-volume-claim.yaml
  kubernetes/apps/media/tubesync/app/volsync/kustomization.yaml
  kubernetes/apps/media/tubesync/app/volsync/replication-source.yaml
  kubernetes/apps/media/tubesync/app/volsync/restic-secret.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.8.6.3946
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.4.2207
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image thanos to v12.13.3
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-state-metrics to v5.13.0
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image prometheus-node-exporter to v4.23.0
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image kube-prometheus-stack to v50
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image kube-prometheus-stack to v51
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

feat: update automergetype to branch
  .github/renovate/autoMerge.json5
Labels: area/github

fix: update tubesync media subpath
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

fix: update tubesync media subPath
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(ansible): Update community.general to 7.4.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.669
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/unpoller/unpoller to v2.9.2
  kubernetes/apps/observability/unpoller/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/intel-gpu-exporter to 7dda018
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image cribl/cribl to v4.3.0
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

fix: increase cacheCapacity to 12Gi
  kubernetes/apps/media/plex/app/volsync/replication-source.yaml
Labels: area/kubernetes

refactor: move postgres-init to patch
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/patches/postgres.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/patches/postgres.yaml
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/kustomization.yaml
  kubernetes/apps/media/radarr/radarr-uhd/patches/postgres.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/radarr/patches/postgres.yaml
  kubernetes/apps/services/teslamate/app/helm-release.yaml
  kubernetes/apps/services/teslamate/app/kustomization.yaml
  kubernetes/apps/services/teslamate/app/patches/postgres.yaml
Labels: area/kubernetes

feat: update recyclarr config
  kubernetes/apps/media/recyclarr/app/config/radarr-uhd.yml
  kubernetes/apps/media/recyclarr/app/config/radarr.yml
  kubernetes/apps/media/recyclarr/app/config/sonarr.yml
Labels: area/kubernetes

chore: rename quality profile
  kubernetes/apps/media/recyclarr/app/config/radarr.yml
Labels: area/kubernetes

fix: move plex database backup directory
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/advplyr/audiobookshelf to v2.4.2
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.671
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image prometheus-node-exporter to v4.23.1
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image weave-gitops to v4.0.30
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image kube-prometheus-stack to v51.0.3
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/recyclarr/recyclarr to v5.4.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.6.7468-07e0d4a7e
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Rook-Ceph group to v1.12.4
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update community.sops to 1.6.6
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:dizzy: feat(container): Update image ghcr.io/onedr0p/bazarr to v1.3.0
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
