Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(container): update image ghcr.io/onedr0p/exportarr to v1.1.0
  k8s/cluster/apps/download/lidarr/values.yaml
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
  k8s/cluster/apps/download/sonarr/values.yaml
  k8s/cluster/apps/download/sonarr4k/values.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.3.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1882
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1882
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.32.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.32.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1889
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1889
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1891
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1891
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.105.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.105.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/k8s-at-home/plex to v1.27.2.5929-a806c5905
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/plex to v1.27.2.5929-a806c5905
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

feat(container): update thanos group
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(container): update thanos group
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2621
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/lidarr-nightly to v1.1.0.2621
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1893
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1893
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.105.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.105.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart metallb to 0.13.2
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

Revert "feat(helm): update chart metallb to 0.13.2"
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

chore: update values to match bitnami chart spec
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.105.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.105.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 6.32.2
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.32.2
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1897
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1897
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(helm): update chart metallb to 0.13.3
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.106.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.106.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(metallb): configure default IPAddressPool
  k8s/cluster/apps/network/metallb/ip-address-pool.yaml
  k8s/cluster/apps/network/metallb/kustomization.yaml
  k8s/cluster/apps/network/metallb/values.yaml
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

fix(cluster): add createreplace for crds
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

feat(repo): enable cloudflare proxied networks update workflow
  .github/scripts/cloudflare-proxied-networks.sh
  .github/workflows/cloudflare-proxied-networks-update.yaml
Labels: area/github

feat(repo): deploy megalinter workflow
  .github/workflows/megalinter.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.107.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.107.0
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
