Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

fix: remove wrong namespace
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes

fix: enable podMonitor
  kubernetes/apps/network/metallb/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to d15a402
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/cloudnative-pg/postgresql to v14.8-10
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 935765b
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 935765b
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to d15a402
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.3.3.3432
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image kube-prometheus-stack to v48.2.2
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.8.0.3805
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.585
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/readarr-nightly to v0.3.1.2095
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart kyverno to 3.0.4
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update community.general to 7.2.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 26d087e
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image thanos to v12.10.1
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image docker.io/restic/restic to v0.16.0
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

fix: upgrade patchesStrategicMerge
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat: update thanos
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to f5aa2c6
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update k3s-io/k3s to v1.27.4+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-nightly to v0.3.1.2096
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Rook-Ceph group to v1.12.1
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

fix: set pvc back to 20g
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update robertdebock.bootstrap to 6.1.7
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: fix(helm): Update chart reloader to 1.0.34
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

feat: use readarr-develop image
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

fix: roll back to 0.12.0
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.0.2091
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

feat: update automerge
  .github/renovate/autoMerge.json5
Labels: area/github

feat: update frigate config
  kubernetes/apps/home-automation/frigate/app/config/frigate-config.yaml
  kubernetes/apps/home-automation/frigate/app/config/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: deploy teslamate
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/teslamate/app.yaml
  kubernetes/apps/default/teslamate/app/helm-release.yaml
  kubernetes/apps/default/teslamate/app/kustomization.yaml
  kubernetes/apps/default/teslamate/app/secret.sops.yaml
  kubernetes/apps/observability/grafana/dashboard/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/battery-health.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charge-level.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charges.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charging-stats.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/drives.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/efficiency.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/internal-charge-details.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/internal-drive-details.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/locations.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/mileage.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/overview.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/projected-range.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/states.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/statistics.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/timeline.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/trip.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/updates.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/vampire-drain.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/visited.yaml
  kubernetes/apps/observability/grafana/datasource/prometheus.yaml
  kubernetes/apps/observability/grafana/datasource/teslamate.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat: deploy database dashboards
  kubernetes/apps/observability/grafana/dashboard/database/cloudnative-pg.yaml
  kubernetes/apps/observability/grafana/dashboard/database/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/database/patch-folder.yaml
Labels: area/kubernetes

feat: deploy observability dashboards
  kubernetes/apps/observability/grafana/dashboard/observability/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/patch-folder.yaml
Labels: area/kubernetes

feat: deploy thanos dashboards
  kubernetes/apps/observability/grafana/dashboard/observability/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-bucket-replicate.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-compact.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-overview.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-query-frontend.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-query.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-receive.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-rule.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-sidecar.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-store.yaml
Labels: area/kubernetes

feat: deploy ingress-nginx dashboards
  kubernetes/apps/observability/grafana/dashboard/network/ingress-nginx-request-handling-performance.yaml
  kubernetes/apps/observability/grafana/dashboard/network/ingress-nginx.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy cert-manager dashboards
  kubernetes/apps/observability/grafana/dashboard/network/cert-manager.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy cloudflared dashboards
  kubernetes/apps/observability/grafana/dashboard/network/cloudflared.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy external-dns dashboards
  kubernetes/apps/observability/grafana/dashboard/network/external-dns.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy flux-control-plane dashboard
  kubernetes/apps/observability/grafana/dashboard/system/flux-control-plane.yaml
  kubernetes/apps/observability/grafana/dashboard/system/kustomization.yaml
Labels: area/kubernetes
