Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat: configure loki as datasource
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

chore: move secrets to app
  k8s/cluster/apps/observability/unifi-poller/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/secret.sops.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

feat: configure additional unifi-poller data
  k8s/cluster/apps/observability/unifi-poller/helm-release.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/nzbhydra2 to v4.3.0
  k8s/cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/nzbhydra2 to v4.3.0
  k8s/cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform sops to 0.7.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1658
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1658
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6142
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6142
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.10.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.10.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.10.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.10.6
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update helm chart kube-prometheus-stack to 34.8.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 34.8.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart grafana to 6.25.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart grafana to 6.25.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.11.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.11.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart loki to 2.10.3
  k8s/cluster/apps/observability/loki/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.11.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.11.3
  .github/workflows/renovate.yaml
Labels: area/github

feat: create catalog namespace
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/core/namespaces/catalog.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat: move bazarr to catalog namespace
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
  k8s/cluster/apps/catalog/bazarr/kustomization.yaml
  k8s/cluster/apps/catalog/bazarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: deploy catalog namespace
  k8s/cluster/apps/kustomization.yaml
Labels: area/cluster

feat: add backup volume
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image splunk/splunk to 8.2.6
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

feat(helm): update helm chart cert-manager to v1.8.0
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6148
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6148
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.12.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.12.0
  .github/workflows/renovate.yaml
Labels: area/github

chore: recall bazarr
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
  k8s/cluster/apps/catalog/bazarr/kustomization.yaml
  k8s/cluster/apps/catalog/bazarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/kustomization.yaml
Labels: area/cluster

feat: deploy download namespace
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/core/namespaces/download.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat: deploy bazarr
  k8s/cluster/apps/catalog/bazarr/helm-release.yaml
  k8s/cluster/apps/catalog/bazarr/kustomization.yaml
  k8s/cluster/apps/catalog/bazarr/kustomize-config.yaml
  k8s/cluster/apps/catalog/bazarr/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/bazarr/values.yaml
  k8s/cluster/apps/catalog/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6152
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6152
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform cloudflare to 3.12.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix: recall gaps
  k8s/cluster/apps/media/gaps/helm-release.yaml
  k8s/cluster/apps/media/gaps/kustomization.yaml
  k8s/cluster/apps/media/gaps/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
