Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:arrow_up: fix(container): Update image ghcr.io/recyclarr/recyclarr to v5.4.3
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/tailscale/tailscale to v1.48.2
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.5.2217
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/advplyr/audiobookshelf to v2.4.3
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.676
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update robertdebock.bootstrap to 6.2.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:dizzy: feat(helm): Update External Snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update Flux group to v2.1.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update tibdex/github-app-token action to v2.1.0
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image quay.io/thanos/thanos to v0.32.3
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart reloader to 1.0.41
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart node-feature-discovery to 0.14.1
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update Cribl group to 4.3.0
  kubernetes/apps/observability/cribl/leader/helm-release.yaml
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update k3s-io/k3s to v1.28.2+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/cloudnative-pg/postgresql to v14.9-10
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update actions/checkout action to v4.1.0
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(helm): Update chart ingress-nginx to 4.8.0
  kubernetes/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.4.3.3586
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image thanos to v12.13.5
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.9.1.3981
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v5.0.2.8103
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/readarr-develop to v0.3.6.2232
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/meeb/tubesync to 4dcc62a
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/meeb/tubesync to 4dcc62a
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.6.7557-1cf77d501
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:boom: feat(ansible)!: Update geerlingguy.docker to 7.0.1
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: fix(container): Update image ghcr.io/advplyr/audiobookshelf to v2.4.4
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8107
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image quay.io/thanos/thanos to v0.32.4
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart ingress-nginx to 4.8.1
  kubernetes/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/kube-vip/kube-vip to v0.6.3
  kubernetes/apps/kube-system/kube-vip/app/daemon-set.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/tailscale/tailscale to v1.50.1
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes
