Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.4.6576
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.4.6576
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): deploy bjw-s-charts
  k8s/cluster/sources/helm/bjw-s.yaml
  k8s/cluster/sources/helm/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy cribl-leader
  k8s/cluster/apps/observability/cribl/kustomization.yaml
  k8s/cluster/apps/observability/cribl/leader/helm-release.yaml
  k8s/cluster/apps/observability/cribl/leader/kustomization.yaml
  k8s/cluster/apps/observability/cribl/leader/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl/leader/secret.sops.yaml
  k8s/cluster/apps/observability/cribl/leader/values.yaml
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

fix: apply kasten backup-volume label
  k8s/cluster/apps/observability/cribl/leader/kustomization.yaml
  k8s/cluster/apps/observability/cribl/leader/patches/persistent-volume-claim.yaml
Labels: area/cluster

fix(cluster): add pvc namespace
  k8s/cluster/apps/observability/cribl/leader/patches/persistent-volume-claim.yaml
Labels: area/cluster

fix: add kasten backup-volume label
  k8s/cluster/apps/observability/cribl/leader/kustomization.yaml
  k8s/cluster/apps/observability/cribl/leader/patches/persistent-volume-claim.yaml
Labels: area/cluster

fix: remove pvc label patch
  k8s/cluster/apps/observability/cribl/leader/kustomization.yaml
Labels: area/cluster

chore: remove default values
  k8s/cluster/apps/observability/cribl/leader/values.yaml
Labels: area/cluster

:arrow_up: feat(helm): Update Rook-Ceph group to v1.10.1
  k8s/cluster/core/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/core/rook-ceph/operator/helm-release.yaml
  k8s/cluster/core/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/sources/git/rook-ceph.yaml
Labels: area/cluster

feat: configure worker group
  k8s/cluster/apps/observability/cribl/leader/values.yaml
  k8s/cluster/config/cluster-secrets.sops.yaml
Labels: area/cluster

feat(cluster): deploy cribl-worker
  k8s/cluster/apps/observability/cribl/kustomization.yaml
  k8s/cluster/apps/observability/cribl/worker/helm-release.yaml
  k8s/cluster/apps/observability/cribl/worker/kustomization.yaml
  k8s/cluster/apps/observability/cribl/worker/kustomize-config.yaml
  k8s/cluster/apps/observability/cribl/worker/values.yaml
  k8s/cluster/config/cluster-settings.yaml
Labels: area/cluster

feat(cluster): add syslog ports
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

feat(cluster): add syslog-unifi port
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

feat(cluster): add s2s port
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

fix(stream): use default resources
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

feat(cluster): vpn-routed-gateway
  k8s/cluster/apps/download/namespace.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.6.1965
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.6.1965
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: feat(ansible): Update xanmanning.k3s to v3.3.0
  ansible/requirements.yml
Labels: area/ansible

:arrow_up: feat(helm)!: Update chart kube-prometheus-stack to 39.12.1
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update oxsecurity/megalinter action to v6.9.1
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: feat(ansible): Update community.sops to 1.4.0
  ansible/requirements.yml
Labels: area/ansible

fix: use bjw-s-charts app-template
  k8s/cluster/apps/default/theme-park/helm-release.yaml
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

feat(cluster): deploy media-download namespace
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/media-download/kustomization.yaml
  k8s/cluster/apps/media-download/namespace.yaml
Labels: area/cluster

feat(cluster): deploy media-automation namespace
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/media-automation/kustomization.yaml
  k8s/cluster/apps/media-automation/namespace.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.194.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update pre-commit hook adrienverge/yamllint to v1.28.0
  .pre-commit-config.yaml
Labels: none

:arrow_up: feat(github-release): Update fluxcd/flux2 to v0.34.0
  k8s/cluster/bootstrap/kustomization.yaml
Labels: area/cluster

feat: migrate to new apps structure
  k8s/cluster/apps/download/sabnzbd/helm-release.yaml
  k8s/cluster/apps/download/sabnzbd/kustomization.yaml
  k8s/cluster/apps/download/sabnzbd/persistent-volume-claim.yaml
  k8s/cluster/apps/download/sabnzbd/secret.sops.yaml
  k8s/cluster/apps/download/sabnzbd/values.yaml
Labels: area/cluster

fix: update yaml anchor
  k8s/cluster/apps/download/sabnzbd/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update k3s-io/k3s to v1.25.0+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.195.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.195.1
  .github/workflows/renovate.yaml
Labels: area/github

chore: format yaml
  k8s/cluster/apps/calico-system/namespace.yaml
  k8s/cluster/apps/default/namespace.yaml
  k8s/cluster/apps/flux-system/namespace.yaml
  k8s/cluster/apps/kube-system/namespace.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/media-download/kustomization.yaml
  k8s/cluster/apps/media-download/namespace.yaml
  k8s/cluster/apps/network/namespace.yaml
  k8s/cluster/apps/system-upgrade/namespace.yaml
  k8s/cluster/core/kube-system/namespace.yaml
  k8s/cluster/core/rook-ceph/namespace.yaml
Labels: area/cluster
