Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(github-release): update renovatebot/github-action action to v32.68.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.68.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart node-problem-detector to 2.2.2
  k8s/cluster/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6320
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6320
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.68.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.68.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.68.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.68.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update lycheeverse/lychee-action action to v1.5.0
  .github/workflows/link-checker.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6322
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6322
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.2.2590
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.2.2590
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1796
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1796
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.70.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.70.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart descheduler to 0.24.1
  k8s/cluster/apps/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart ingress-nginx to 4.1.3
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.71.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.71.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 3.16.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update helm chart kube-prometheus-stack to 35.5.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm chart kube-prometheus-stack to 35.5.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.5.1
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.5.1
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.71.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.71.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/tautulli to v2.10.1
  k8s/cluster/apps/media/tautulli/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/tautulli to v2.10.1
  k8s/cluster/apps/media/tautulli/values.yaml
Labels: area/cluster

fix(ansible): update community.sops to 1.2.2
  ansible/requirements.yml
Labels: area/ansible

fix(github-release): update renovatebot/github-action action to v32.71.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.71.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform http to 2.2.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6337
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6337
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.73.0
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
