Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:arrow_up: chore(container): Update image ghcr.io/onedr0p/plex to cdcf7d8
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/plex to cdcf7d8
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3757
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3757
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart reloader to 1.0.32
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart node-feature-discovery to 0.13.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3758
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3758
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update rancher/system-upgrade-controller to v0.13.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3759
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3759
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.4
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.4
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to v1.13.10
  kubernetes/apps/default/theme-park/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to v1.13.10
  kubernetes/apps/default/theme-park/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3764
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3764
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3765
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3765
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.7.2.7686
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.7.2.7686
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to fcc9361
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to fcc9361
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3768
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3768
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3770
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3770
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

fix: rename file
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

feat: update ansible paths
  infrastructure/ansible/.gitignore
  infrastructure/ansible/ansible.cfg
Labels: area/ansible

fix: rename file
  infrastructure/ansible/inventory/group_vars/all/global.yaml
  infrastructure/ansible/inventory/group_vars/all/site.sops.yaml
  infrastructure/ansible/inventory/host_vars/captain.yaml
  infrastructure/ansible/inventory/host_vars/k3s-1.yaml
  infrastructure/ansible/inventory/host_vars/k3s-2.yaml
  infrastructure/ansible/inventory/host_vars/k3s-3.yaml
  infrastructure/ansible/inventory/host_vars/k3s-4.yaml
  infrastructure/ansible/inventory/host_vars/k3s-4.yml
  infrastructure/ansible/inventory/host_vars/k3s-5.yaml
  infrastructure/ansible/inventory/host_vars/localhost.yaml
  infrastructure/ansible/inventory/host_vars/presto.yml
  infrastructure/ansible/inventory/host_vars/relax.yml
  infrastructure/ansible/inventory/host_vars/tiger.sops.yml
  infrastructure/ansible/inventory/host_vars/video.sops.yml
  infrastructure/ansible/inventory/hosts.yaml
  infrastructure/ansible/playbooks/bootstrap-managed-node.yaml
Labels: area/ansible

chore: update labels
  .github/labels.yaml
Labels: area/github

chore: add renovate schema
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
Labels: area/github

feat: update autoMerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: add execute priviledges
  .github/scripts/kubeconform.sh
Labels: area/github

chore: format json
  .github/renovate/allowedVersions.json5
Labels: area/github

chore: format yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
