Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

:arrow_up: feat(container): Update image ghcr.io/tarampampam/error-pages to v2.18.0
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.166.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.166.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.167.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.167.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.168.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.168.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6520
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6520
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: feat(helm)!: Update chart kube-prometheus-stack to 39.9.0
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.169.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.169.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.169.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.169.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update oxsecurity/megalinter action to v6.6.0
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6522
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.3.6522
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.10.1
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.10.1
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.171.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.171.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.172.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.172.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(helm): Update chart ingress-nginx to 4.2.3
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(ansible): Update community.sops to 1.3.0
  ansible/requirements.yml
Labels: area/ansible

:arrow_up: feat(terraform): Update Terraform cloudflare to 3.22.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: feat(container): Update image ghcr.io/k8s-at-home/kubectl to v1.25.0
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.173.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.173.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update Node Feature Discovery group
  k8s/cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
  k8s/cluster/crds/node-feature-discovery/kustomization.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.174.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.174.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update k3s-io/k3s to v1.24.4+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

:arrow_up: feat(github-release): Update pre-commit hook sirosen/texthooks to 0.4.0
  .pre-commit-config.yaml
Labels: none

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.177.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.177.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.179.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.179.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(go-task): clean up taskfile
  Taskfile.yml
Labels: none

fix(go-task): update flux:sync
  .taskfiles/flux.yml
Labels: none
