Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix: update frigate secrets
  cluster/config/cluster-secrets.sops.yaml
  cluster/config/cluster-settings.yaml
Labels: none

feat: deploy lidarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/lidarr/helm-release.yaml
  cluster/apps/media-automation/lidarr/kustomization.yaml
  cluster/apps/media-automation/lidarr/kustomize-config.yaml
  cluster/apps/media-automation/lidarr/persistent-volume-claim.yaml
  cluster/apps/media-automation/lidarr/secret.sops.yaml
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:dizzy: feat(container): Update image ghcr.io/tarampampam/error-pages to v2.19.0
  cluster/apps/network/ingress-nginx/values.yaml
Labels: none

feat: deploy external-services
  cluster/apps/network/external-services/files/ingress.yaml
  cluster/apps/network/external-services/files/kustomization.yaml
  cluster/apps/network/external-services/files/service.yaml
  cluster/apps/network/external-services/home-assistant/ingress.yaml
  cluster/apps/network/external-services/home-assistant/kustomization.yaml
  cluster/apps/network/external-services/home-assistant/service.yaml
  cluster/apps/network/external-services/kustomization.yaml
  cluster/apps/network/external-services/protect/ingress.yaml
  cluster/apps/network/external-services/protect/kustomization.yaml
  cluster/apps/network/external-services/protect/service.yaml
  cluster/apps/network/external-services/unifi/ingress.yaml
  cluster/apps/network/external-services/unifi/kustomization.yaml
  cluster/apps/network/external-services/unifi/service.yaml
  cluster/apps/network/kustomization.yaml
  cluster/config/cluster-settings.yaml
Labels: none

feat: deploy bazarr
  cluster/apps/media-automation/bazarr/helm-release.yaml
  cluster/apps/media-automation/bazarr/kustomization.yaml
  cluster/apps/media-automation/bazarr/kustomize-config.yaml
  cluster/apps/media-automation/bazarr/persistent-volume-claim.yaml
  cluster/apps/media-automation/bazarr/values.yaml
  cluster/apps/media-automation/kustomization.yaml
Labels: none

feat: deploy gaps
  cluster/apps/media-automation/gaps/helm-release.yaml
  cluster/apps/media-automation/gaps/kustomization.yaml
  cluster/apps/media-automation/gaps/kustomize-config.yaml
  cluster/apps/media-automation/gaps/persistent-volume-claim.yaml
  cluster/apps/media-automation/gaps/values.yaml
  cluster/apps/media-automation/kustomization.yaml
Labels: none

feat: deploy tautulli
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/tautulli/helm-release.yaml
  cluster/apps/media-automation/tautulli/kustomization.yaml
  cluster/apps/media-automation/tautulli/kustomize-config.yaml
  cluster/apps/media-automation/tautulli/persistent-volume-claim.yaml
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

chore: rename snapshot-controller
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/snapshot-controller/kustomization.yaml
Labels: none

:dizzy: feat(terraform): Update Terraform cloudflare to 3.27.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

chore: update paths
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
Labels: area/github

fix: update paths
  .github/renovate.json5
Labels: area/github

:arrow_up: fix(helm): Update chart node-feature-discovery to 0.11.3
  cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
Labels: none

:dizzy: feat(github-release): Update fluxcd/flux2 to v0.36.0
  cluster/bootstrap/kustomization.yaml
  cluster/flux/flux-system/flux-installation.yaml
Labels: none

:dizzy: feat(helm): Update chart cert-manager to v1.10.0
  cluster/apps/network/cert-manager/helm-release.yaml
Labels: none

feat: deploy reloader
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/reloader/helm-release.yaml
  cluster/apps/kube-system/reloader/kustomization.yaml
  cluster/apps/kube-system/reloader/kustomize-config.yaml
  cluster/apps/kube-system/reloader/values.yaml
  cluster/sources/helm/kustomization.yaml
  cluster/sources/helm/stakater.yaml
Labels: none

feat: set up cluster-crds
  cluster/apps/flux-system/webhook/github/receiver.yaml
  cluster/crds/kustomization.yaml
  cluster/flux/cluster-apps.yaml
  cluster/flux/cluster-crds.yaml
Labels: none

fix: recall reloader
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/reloader/helm-release.yaml
  cluster/apps/kube-system/reloader/kustomization.yaml
  cluster/apps/kube-system/reloader/kustomize-config.yaml
  cluster/apps/kube-system/reloader/values.yaml
Labels: none

fix: update crd path
  cluster/flux/cluster-crds.yaml
Labels: none

feat: deploy kasten-charts
  cluster/sources/helm/kasten.yaml
  cluster/sources/helm/kustomization.yaml
Labels: none

feat: deploy kasten auth0 secrets
  cluster/config/cluster-secrets.sops.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.12.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.12.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to a87f4bd
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to a87f4bd
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 97691d3
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 97691d3
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to c4ff1ac
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to c4ff1ac
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 193e270
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to 193e270
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to 7793115
  cluster/apps/download/sabnzbd/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sabnzbd to 7793115
  cluster/apps/download/sabnzbd/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to 382286d
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to 382286d
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to d693111
  cluster/apps/default/theme-park/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/theme-park to d693111
  cluster/apps/default/theme-park/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/kubernetes-kubectl to c6acda2
  cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to 4bf1adc
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to 4bf1adc
  cluster/apps/media-automation/lidarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to ac6eda9
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
