Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to dc97f0a
  kubernetes/apps/home/mealie/app/values.yaml
Labels: area/kubernetes

fix: recall grafana
  kubernetes/apps/observability/grafana/app.yaml
  kubernetes/apps/observability/grafana/app/helm-release.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart weave-gitops to 4.0.24
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart intel-device-plugins-gpu to 0.27.1
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart intel-device-plugins-operator to 0.27.1
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(terraform): Update Terraform http to 3.4.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/versions.tf
Labels: area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3585
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3585
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart thanos to 12.8.3
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3588
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3588
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3589
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3589
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 1619f8c
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 1619f8c
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 63ba79c
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 63ba79c
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3590
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3590
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 8901e47
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 8901e47
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to c12d7d2
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to c12d7d2
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.2
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/bazarr to v1.2.2
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.3.7516
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.3.7516
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3604
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3604
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.3.3606
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.3.3606
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 1477a53
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 1477a53
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to e0a0ed6
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to e0a0ed6
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 9bb0fbb
  kubernetes/apps/home/mealie/app/values.yaml
Labels: area/kubernetes
