Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat: set up new flux cluster
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/gotk-components.yaml
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/gotk-sync.yaml
  Users/cburnham/Projects/area0/k8s/cluster/base/flux-system/flux-system/kustomization.yaml
Labels: none

fix: update vars
  ansible/playbooks/kubernetes/flux-bootstrap.yml
Labels: area/ansible

Add Flux v0.30.2 component manifests
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add Flux sync manifests
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
Labels: area/cluster

feat: set up new flux cluster
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/base/apps.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/base/core.yaml
  k8s/cluster/base/flux-system/gotk-patches.yaml
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
  k8s/cluster/base/infrastructure.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/kustomization.yaml
  k8s/cluster/infrastructure/kustomization.yaml
Labels: area/cluster

feat: deploy metallb
  k8s/cluster/core/namespaces/metallb-system.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/metallb.yaml
  k8s/cluster/infrastructure/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/helm-release.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/kustomization.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/kustomize-config.yaml
  k8s/cluster/infrastructure/metallb-system/metallb/values.yaml
Labels: area/cluster

Add Flux sync manifests
  k8s/cluster/base/flux-system/gotk-sync.yaml
Labels: area/cluster

feat: set up new flux cluster
  k8s/cluster/base/flux-system/gotk-sync.yaml
Labels: area/cluster

feat: deploy kube-vip
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/daemon-set.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/kustomization.yaml
  k8s/cluster/infrastructure/kube-system/kube-vip/rbac.yaml
  k8s/cluster/infrastructure/kube-system/kustomization.yaml
Labels: area/cluster

feat: deploy cert-manager
  k8s/cluster/apps/cert-manager/kustomization.yaml
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/namespaces/cert-manager.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
  k8s/cluster/infrastructure/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/kustomize-config.yaml
  k8s/cluster/infrastructure/cert-manager/letsencrypt-production.yaml
  k8s/cluster/infrastructure/cert-manager/letsencrypt-staging.yaml
  k8s/cluster/infrastructure/cert-manager/secret.sops.yaml
  k8s/cluster/infrastructure/cert-manager/values.yaml
Labels: area/cluster

fix: deploy cert-manager
  k8s/cluster/infrastructure/kustomization.yaml
Labels: area/cluster

feat: deploy jetstack-charts
  k8s/cluster/core/sources/helm/jetstack.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy wildcard-certificate
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/apps/network/wildcard-certificate/certificate.yaml
  k8s/cluster/apps/network/wildcard-certificate/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/network.yaml
Labels: area/cluster

feat: deploy ingress-nginx
  k8s/cluster/apps/network/ingress-nginx/cloudflare-proxied-networks.txt
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomization.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomize-config.yaml
  k8s/cluster/apps/network/ingress-nginx/values.yaml
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/core/sources/helm/ingress-nginx.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.45.2
  .github/workflows/renovate.yaml
Labels: area/github

chore: reduce replica count
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

fix: update cert-manager git url
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
Labels: area/cluster

feat(terraform): update cloudflare
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/terraform

chore: roll cert-manager api key
  k8s/cluster/infrastructure/cert-manager/secret.sops.yaml
Labels: area/cluster

fix: recall wildcard-certificate
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/apps/network/wildcard-certificate/certificate.yaml
  k8s/cluster/apps/network/wildcard-certificate/kustomization.yaml
Labels: area/cluster

fix: use api tokens instead of api-keys
  k8s/cluster/infrastructure/cert-manager/letsencrypt-production.yaml
  k8s/cluster/infrastructure/cert-manager/letsencrypt-staging.yaml
  k8s/cluster/infrastructure/cert-manager/secret.sops.yaml
Labels: area/cluster

feat: deploy wildcard-certificate
  k8s/cluster/apps/network/wildcard-certificate/certificate.yaml
  k8s/cluster/apps/network/wildcard-certificate/kustomization.yaml
Labels: area/cluster

chore(cluster): prepare system-upgrade-controller
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/crds/system-upgrade-controller/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/system-upgrade.yaml
Labels: area/cluster

feat(cluster): deploy system-upgrade-controller
  k8s/cluster/apps/system-upgrade/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
Labels: area/cluster

feat(cluster): deploy flux github webhook
  k8s/cluster/apps/flux-system/kustomization.yaml
  k8s/cluster/apps/flux-system/webhook/github/ingress.yaml
  k8s/cluster/apps/flux-system/webhook/github/kustomization.yaml
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
  k8s/cluster/apps/flux-system/webhook/github/secret.sops.yaml
  k8s/cluster/apps/flux-system/webhook/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy external-dns
  k8s/cluster/apps/network/external-dns/helm-release.yaml
  k8s/cluster/apps/network/external-dns/kustomization.yaml
  k8s/cluster/apps/network/external-dns/kustomize-config.yaml
  k8s/cluster/apps/network/external-dns/secret.sops.yaml
  k8s/cluster/apps/network/external-dns/values.yaml
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/core/sources/helm/external-dns.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

chore(): roll external-dns api token
  k8s/cluster/apps/network/external-dns/secret.sops.yaml
  k8s/cluster/apps/network/external-dns/values.yaml
Labels: area/cluster

chore: update cluster-secrets
  k8s/cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

fix: update flux github webhook host
  k8s/cluster/apps/flux-system/webhook/github/ingress.yaml
Labels: area/cluster

chore: prepare rook-ceph
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/rook-ceph/kustomization.yaml
  k8s/cluster/core/crds/rook-ceph/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/rook-ceph.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/rook-ceph.yaml
  k8s/cluster/infrastructure/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy rook-ceph operator
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/kustomize-config.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/values.yaml
Labels: area/cluster

feat(cluster): deploy rook-ceph cluster
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/kustomize-config.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
Labels: area/cluster

fix(cluster): remove compression
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
Labels: area/cluster

fix: recall rook-ceph cluster
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
Labels: area/cluster

fix: deploy rook-ceph cluster
  k8s/cluster/infrastructure/rook-ceph/kustomization.yaml
Labels: area/cluster

chore: prepare kasten-io
  k8s/cluster/apps/kasten-io/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/core/namespaces/kasten-io.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/sources/helm/kasten.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy external-snapshotter crds
  k8s/cluster/core/crds/external-snapshotter/crds.yaml
  k8s/cluster/core/crds/external-snapshotter/kustomization.yaml
  k8s/cluster/core/crds/kustomization.yaml
Labels: area/cluster

feat: deploy snapshot-controller
  k8s/cluster/apps/rook-ceph/snapshot-controller/deployment.yaml
  k8s/cluster/apps/rook-ceph/snapshot-controller/kustomization.yaml
  k8s/cluster/apps/rook-ceph/snapshot-controller/rbac.yaml
Labels: area/cluster

feat: create cephBlockPoolsVolumeSnapshotClass
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
Labels: area/cluster

feat: deploy kasten k10
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/kustomize-config.yaml
  k8s/cluster/apps/kasten-io/k10/secret.sops.yaml
  k8s/cluster/apps/kasten-io/k10/values.yaml
  k8s/cluster/apps/kasten-io/kustomization.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster
