Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 33f8aaa
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm-chart): Update Helm release cloudnative-pg to 0.19.1
  kubernetes/apps/database/cloudnative-pg/operator/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 33f8aaa
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(docker-image): Update ghcr.io/cloudnative-pg/postgresql Docker tag to v14.9-18
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(docker-image): Update ghcr.io/onedr0p/readarr-develop Docker tag to v0.3.9.2272
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(docker-image): Update ghcr.io/onedr0p/readarr-develop Docker tag to v0.3.10.2287
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:boom: feat(docker-image)!: Update ghcr.io/onedr0p/lidarr-develop Docker tag to v2
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 1c39414
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 1c39414
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix: remove crlf & tabls
  .pre-commit-config.yaml
Labels: none

fix: roll back automerge
  .github/renovate/autoMerge.json5
Labels: area/github

feat: remove unused group
  .github/renovate/groups.json5
Labels: area/github

fix: update ignorePath
  .github/renovate.json5
Labels: area/github

feat: move managers to separate file
  .github/renovate.json5
  .github/renovate/managers.json5
Labels: area/github

feat: renovate grafana.net dashboards
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/labels.json5
  .github/renovate/managers.json5
  .github/renovate/semanticCommit.json5
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-cluster.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-osd.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-pools.yaml
Labels: area/github, area/kubernetes

chore: add pre-commit label
  .github/labels.yaml
Labels: area/github

feat: automerge pre-commit
  .github/renovate.json5
Labels: area/github

feat: upgrade app-template to v2
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

fix: remove csi-ceph-filesystem
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy nginx dashboards
  kubernetes/apps/observability/grafana/dashboard/network/ingress-nginx-request-handling-performance.yaml
  kubernetes/apps/observability/grafana/dashboard/network/ingress-nginx.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy cloudnative-pg dashboard
  kubernetes/apps/observability/grafana/dashboard/database/cloudnative-pg.yaml
  kubernetes/apps/observability/grafana/dashboard/database/kustomization.yaml
Labels: area/kubernetes

feat: deploy external-dns dashboard
  kubernetes/apps/observability/grafana/dashboard/network/external-dns.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy teslamate datasource
  kubernetes/apps/observability/grafana/datasource/kustomization.yaml
  kubernetes/apps/observability/grafana/datasource/teslamate.yaml
Labels: area/kubernetes

fix: remove statefulset block
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

feat(tautulli): upgrade to app-template v2
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

feat(bazarr): upgrade to app-template v2
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/patches/postgres.yaml
  kubernetes/apps/media/bazarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
  kubernetes/apps/media/bazarr/app/secret.sops.yaml
  kubernetes/apps/media/bazarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/bazarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/bazarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

fix(bazarr): update secret
  kubernetes/apps/media/bazarr/app/secret.sops.yaml
Labels: area/kubernetes

fix(bazarr): update secret again
  kubernetes/apps/media/bazarr/app/secret.sops.yaml
Labels: area/kubernetes

fix(bazarr): update secret
  kubernetes/apps/media/bazarr/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(cloudflared): upgrade to app-template v2
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

chore(alertmanager): remove unused deps
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(lidarr): disable authentication
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

feat(readarr): upgrade to app-template v2
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/audio/kustomization.yaml
  kubernetes/apps/media/readarr/audio/patches/postgres.yaml
  kubernetes/apps/media/readarr/audio/volsync/kustomization.yaml
  kubernetes/apps/media/readarr/audio/volsync/replication-source.yaml
  kubernetes/apps/media/readarr/audio/volsync/restic-secret.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/kustomization.yaml
  kubernetes/apps/media/readarr/ebooks/patches/postgres.yaml
  kubernetes/apps/media/readarr/ebooks/volsync/kustomization.yaml
  kubernetes/apps/media/readarr/ebooks/volsync/replication-source.yaml
  kubernetes/apps/media/readarr/ebooks/volsync/restic-secret.yaml
Labels: area/kubernetes

fix(cloudflared): upgrade to app-template v2
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

feat(grafana): deploy flux dashboards
  kubernetes/apps/observability/grafana/dashboard/system/flux-cluster.yaml
  kubernetes/apps/observability/grafana/dashboard/system/flux-control-plane.yaml
  kubernetes/apps/observability/grafana/dashboard/system/kustomization.yaml
Labels: area/kubernetes

feat(grafana): deploy node-exporter dashboards
  kubernetes/apps/observability/grafana/dashboard/system/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/system/node-exporter-full.yaml
Labels: area/kubernetes

feat(grafana): update instance
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/provisioning-config.yaml
  kubernetes/apps/observability/grafana/instance/rbac.yaml
Labels: area/kubernetes

:dizzy: feat(docker-image): Update docker.io/cloudflare/cloudflared Docker tag to v2023.10.0
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

chore(grafana-dashboards)!: Update dashboard Node Exporter Full to revision 33
  kubernetes/apps/observability/grafana/dashboard/system/node-exporter-full.yaml
Labels: area/kubernetes

feat(radarr): upgrade to app-template v2
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/kustomization.yaml
  kubernetes/apps/media/radarr/radarr-uhd/patches/postgres.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/kustomization.yaml
  kubernetes/apps/media/radarr/radarr/patches/postgres.yaml
Labels: area/kubernetes
