Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(github-release): update pre-commit hook k8s-at-home/sops-pre-commit to v2.1.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update renovatebot/github-action action to v32.66.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.66.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.26.2.5797-5bd057d2b
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.26.2.5797-5bd057d2b
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(helm): update helm chart logstream-leader to 3.4.2
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.66.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): add home-assistant node-exporter
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.66.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release)!: Update kubernetes-csi/external-snapshotter to v6.0.1
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
  k8s/cluster/core/crds/external-snapshotter/kustomization.yaml
Labels: area/cluster

feat(container)!: Update Container image gcr.io/k8s-staging-sig-storage/snapshot-controller to v6.0.1
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.3
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.66.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.9.4
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart reloader to v0.0.113
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.4.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.4.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.66.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart kube-prometheus-stack to 35.4.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm chart kube-prometheus-stack to 35.4.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm chart thanos to 10.5.0
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart thanos to 10.5.0
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.66.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.66.7
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.68.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.68.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6316
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6316
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6318
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6318
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/theme-park to v1.9.4
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
