Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat: deploy gaps
  k8s/cluster/apps/download/gaps/helm-release.yaml
  k8s/cluster/apps/download/gaps/kustomization.yaml
  k8s/cluster/apps/download/gaps/kustomize-config.yaml
  k8s/cluster/apps/download/gaps/persistent-volume-claim.yaml
  k8s/cluster/apps/download/gaps/values.yaml
  k8s/cluster/apps/download/kustomization.yaml
Labels: area/cluster

feat: update unifi-poller dashboards
  k8s/cluster/apps/observability/grafana/values.yaml
  k8s/cluster/apps/observability/unifi-poller/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomization.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
  k8s/cluster/apps/download/sabnzbd/values.yaml
  k8s/cluster/apps/download/sonarr/values.yaml
  k8s/cluster/apps/download/sonarr4k/values.yaml
Labels: area/cluster

feat: deploy ingress-nginx monitoring
  k8s/cluster/apps/network/ingress-nginx/dashboard/kustomization.yaml
  k8s/cluster/apps/network/ingress-nginx/kustomization.yaml
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

feat(helm): update helm chart gaps to 5.3.2
  k8s/cluster/apps/download/gaps/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart gaps to 5.3.2
  k8s/cluster/apps/download/gaps/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart unifi-poller to 10.3.3
  k8s/cluster/apps/observability/unifi-poller/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart unifi-poller to 10.3.3
  k8s/cluster/apps/observability/unifi-poller/helm-release.yaml
Labels: area/cluster

chore: remove resource constraints
  k8s/cluster/apps/download/prowlarr/values.yaml
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
  k8s/cluster/apps/download/sabnzbd/values.yaml
  k8s/cluster/apps/download/sonarr/values.yaml
  k8s/cluster/apps/download/sonarr4k/values.yaml
  k8s/cluster/apps/media/overseerr/values.yaml
  k8s/cluster/apps/media/plex/values.yaml
  k8s/cluster/apps/media/tautulli/values.yaml
  k8s/cluster/apps/network/ingress-nginx/values.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

chore: update prometheus rules
  k8s/cluster/apps/cert-manager/kustomization.yaml
  k8s/cluster/apps/cert-manager/prometheus-rule.yaml
  k8s/cluster/apps/flux-system/monitoring/kustomization.yaml
  k8s/cluster/apps/flux-system/monitoring/prometheus-rule.yaml
  k8s/cluster/apps/observability/unifi-poller/values.yaml
Labels: area/cluster

chore: remove resource constraints
  k8s/cluster/infrastructure/rook-ceph/operator/values.yaml
Labels: area/cluster

fix: disable prometheus rule
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

fix: update flux dashboards
  k8s/cluster/apps/flux-system/dashboard/kustomization.yaml
Labels: area/cluster

feat: deploy flux notifications for alert-manager
  k8s/cluster/apps/flux-system/notifications/alert-manager/alert.yaml
  k8s/cluster/apps/flux-system/notifications/alert-manager/kustomization.yaml
  k8s/cluster/apps/flux-system/notifications/alert-manager/provider.yaml
Labels: area/cluster

fix(cluster): add topologySpreadConstraints to snapshot-controller
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
Labels: area/cluster

feat: enable reloader podmonitor
  k8s/cluster/apps/kube-system/reloader/values.yaml
Labels: area/cluster

feat: zfs monitoring
  k8s/cluster/apps/observability/grafana/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/prometheus-rules/kustomization.yaml
  k8s/cluster/apps/observability/prometheus-rules/zfs/kustomization.yaml
  k8s/cluster/apps/observability/prometheus-rules/zfs/prometheus-rule.yaml
Labels: area/cluster

feat: increase retention to 2d
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

feat: deploy thanos dashboards
  k8s/cluster/apps/observability/thanos/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/thanos/kustomization.yaml
Labels: area/cluster

feat: deploy k8s-gateway
  k8s/cluster/apps/network/k8s-gateway/helm-release.yaml
  k8s/cluster/apps/network/k8s-gateway/kustomization.yaml
  k8s/cluster/apps/network/k8s-gateway/kustomize-config.yaml
  k8s/cluster/apps/network/k8s-gateway/values.yaml
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/core/sources/helm/k8s-gateway.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat(cluster): update renovate regex manager
  .github/renovate.json5
  k8s/cluster/core/crds/cert-manager/crds.yaml
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
  k8s/cluster/core/crds/rook-ceph/crds.yaml
  k8s/cluster/core/crds/system-upgrade-controller/kustomization.yaml
Labels: area/github, area/cluster

chore(renovate): update description
  .github/renovate.json5
Labels: area/github

fix(helm): update rook ceph group to v1.9.3
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix: update renovate string
  k8s/cluster/core/crds/cert-manager/crds.yaml
Labels: area/cluster

fix: update broken crds
  k8s/cluster/core/crds/external-snapshotter/crds.yaml
  k8s/cluster/core/crds/external-snapshotter/kustomization.yaml
Labels: area/cluster

fix: update renovate string
  k8s/cluster/core/crds/external-snapshotter/crds.yaml
Labels: area/cluster

test: disable external-snapshotter
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
Labels: area/cluster

fix: restore external-snapshotter to the way it was
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
  k8s/cluster/core/crds/external-snapshotter/crds.yaml
  k8s/cluster/core/crds/external-snapshotter/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6261
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6261
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat(renovate): update automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix: disable external-snapshotter crds
  k8s/cluster/core/crds/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1765
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6264
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix: use external-snapshotter files
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.9
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.9
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix: remove rook-ceph prometheus rules
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
Labels: area/cluster

chore: remove cpu limit from operator
  k8s/cluster/infrastructure/rook-ceph/operator/values.yaml
Labels: area/cluster

fix: no fqdn in /etc/hosts
  ansible/roles/k3s/tasks/Debian/host.yml
  ansible/roles/os/templates/etc/hosts.j2
Labels: area/ansible
