Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:dizzy: feat(github-release): Update actions/checkout action to v3.6.0
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update actions/checkout action to v3.6.0
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy syslog-docker port
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

feat: create docker index
  kubernetes/apps/observability/splunk/instance/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image ghcr.io/wizarrrr/wizarr to v3
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(ansible): Update robertdebock.bootstrap to 6.2.0
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to de411e5
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update community.sops to 1.6.5
  infrastructure/ansible/requirements.yaml
Labels: area/ansible

:dizzy: feat(container): Update image ghcr.io/onedr0p/tautulli to v2.13.1
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to cd50ffc
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to cd50ffc
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to de411e5
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.8.4.3884
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.4.0.3554
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-develop to v1.8.4.3884
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image docker.io/cloudflare/cloudflared to v2023.8.1
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image quay.io/thanos/thanos to v0.32.1
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image ghcr.io/onedr0p/radarr-develop to v5
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update rancher/system-upgrade-controller to v0.13.1
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.650
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.650
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image prometheus-node-exporter to v4.22.1
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-prometheus-stack to v48.6.0
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image kube-state-metrics to v5.11.1
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image prometheus-smartctl-exporter to v0.6.0
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image kube-prometheus-stack to v49
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.651
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

feat: disable auth for sonarr/radarr
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: update git-sync args for v4
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix: update git-sync period
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

fix: update wizarr image tag
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

fix: roll back wizarr to v2.2.0
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image ghcr.io/wizarrrr/wizarr to v3
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart reloader to 1.0.39
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image thanos to v12.13.0
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to fd8695c
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes
