Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3552
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3552
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.2.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.2.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.2.1
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: fix(github-release): Update tj-actions/changed-files action to v36.2.1
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 112d905
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 112d905
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 1f6e998
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to 1f6e998
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to 343c2b7
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to 343c2b7
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to 4bda9b9
  kubernetes/apps/download/sabnzbd/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sabnzbd to 4bda9b9
  kubernetes/apps/download/sabnzbd/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sonarr-develop to e200078
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/sonarr-develop to e200078
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/tautulli to b45635b
  kubernetes/apps/media-automation/tautulli/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/tautulli to b45635b
  kubernetes/apps/media-automation/tautulli/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update robertdebock.bootstrap to 6.1.6
  infrastructure/ansible/requirements.yml
Labels: area/ansible

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3557
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3557
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3558
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3558
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3559
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3559
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to ce41c79
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to ce41c79
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.6
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.6
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.3.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:dizzy: feat(github-release): Update tj-actions/changed-files action to v36.3.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

:dizzy: feat(container): Update image ghcr.io/sct/overseerr to v1.33.0
  kubernetes/apps/media-automation/overseerr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update image ghcr.io/sct/overseerr to v1.33.0
  kubernetes/apps/media-automation/overseerr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 2ef43bc
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/lidarr-develop to 2ef43bc
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to b2049f8
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/prowlarr-nightly to b2049f8
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/radarr-develop to 7c9b12e
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
