Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(helm): update helm chart thanos to 10.3.10
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.10
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(renovate): update renovate string
  ansible/inventory/group_vars/kubernetes/kube-vip.yml
Labels: area/ansible

feat(renovate): enable automerge for download apps
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1765
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6264
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat: deploy bazarr
  k8s/cluster/apps/download/bazarr/helm-release.yaml
  k8s/cluster/apps/download/bazarr/kustomization.yaml
  k8s/cluster/apps/download/bazarr/kustomize-config.yaml
  k8s/cluster/apps/download/bazarr/persistent-volume-claim.yaml
  k8s/cluster/apps/download/bazarr/values.yaml
  k8s/cluster/apps/download/kustomization.yaml
Labels: area/cluster

feat: deploy lidarr
  k8s/cluster/apps/download/kustomization.yaml
  k8s/cluster/apps/download/lidarr/dashboard/kustomization.yaml
  k8s/cluster/apps/download/lidarr/helm-release.yaml
  k8s/cluster/apps/download/lidarr/kustomization.yaml
  k8s/cluster/apps/download/lidarr/kustomize-config.yaml
  k8s/cluster/apps/download/lidarr/persistent-volume-claim.yaml
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/bazarr to v1.0.4
  k8s/cluster/apps/download/bazarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.2.2579
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

feat(helm): update helm chart bazarr to 10.5.2
  k8s/cluster/apps/download/bazarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart lidarr to 14.1.3
  k8s/cluster/apps/download/lidarr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart k10 to 4.5.15
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
Labels: area/cluster

feat: enable auth0 oidc for k10
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/rbac.yaml
  k8s/cluster/apps/kasten-io/k10/values.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

fix: disable system-upgrade-controller
  k8s/cluster/apps/system-upgrade/kustomization.yaml
Labels: area/cluster

feat(cluster): add flux github webhook resources
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: area/cluster

feat: deploy k10 profiles
  k8s/cluster/apps/kasten-io/k10/profiles/download.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/home.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/media.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/observability.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1769
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1769
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6269
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6269
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat: update kasten k10 profiles
  k8s/cluster/apps/kasten-io/k10/profiles/download.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/game.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/profiles/observability.yaml
Labels: area/cluster

fix(helm): update helm chart k8s-gateway to 1.1.9
  k8s/cluster/apps/network/k8s-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1770
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1770
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(terraform): update terraform sops to 0.7.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1776
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1776
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1782
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1782
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1787
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1787
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix: restore external-snapshotter crds
  k8s/cluster/core/crds/kustomization.yaml
Labels: area/cluster

fix: reenable prometheus metrics and service monitor
  k8s/cluster/infrastructure/cert-manager/values.yaml
Labels: area/cluster

feat(cluster): deploy kasten blueprint for home namespace
  k8s/cluster/apps/kasten-io/k10/blueprints/home.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/secret.sops.yaml
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/policies/home.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy kasten blueprint for media namespace
  k8s/cluster/apps/kasten-io/k10/blueprints/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/media.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/policies/media.yaml
Labels: area/cluster

feat(cluster): deploy kasten blueprint for download namespace
  k8s/cluster/apps/kasten-io/k10/blueprints/download.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/policies/download.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
Labels: area/cluster

feat(cluster): deploy kasten blueprint for game namespace
  k8s/cluster/apps/kasten-io/k10/blueprints/game.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/policies/game.yaml.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
Labels: area/cluster

fix: fix subfrequency minutes
  k8s/cluster/apps/kasten-io/k10/policies/download.yaml
Labels: area/cluster

fix: rename file
  k8s/cluster/apps/kasten-io/k10/policies/game.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
