Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

:boom: feat(container)!: Update image kube-prometheus-stack to v47
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:boom: feat(github-release)!: Update renovatebot/github-action action to v39.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore: format yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: update cribl-stream
  kubernetes/apps/observability/cribl-stream/leader/helm-release.yaml
  kubernetes/apps/observability/cribl-stream/leader/kustomization.yaml
  kubernetes/apps/observability/cribl-stream/leader/persistent-volume-claim.yaml
  kubernetes/apps/observability/cribl-stream/leader/volsync/replication-source.yaml
Labels: area/kubernetes

fix: recall cribl-stream-leader
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: recall o11y apps
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: enable thanos
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

:boom: feat(container)!: Update image kube-prometheus-stack to v48
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix: enable kube-prometheus-stack
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: enable grafana
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: enable unpoller
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: enable splunk
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: enable cribl-stream
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: remove nodeSelector
  kubernetes/apps/observability/cribl-stream/leader/helm-release.yaml
Labels: area/kubernetes

fix: update crds
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

chore: update flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3701
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3701
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore: format yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart thanos to 12.8.4
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

fix: update clusterrole verbs
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

fix: recall kyverno
  kubernetes/apps/kyverno/kustomization.yaml
Labels: area/kubernetes

feat: deploy kyverno
  kubernetes/apps/kyverno/kustomization.yaml
Labels: area/kubernetes

feat: deploy kyverno policies
  kubernetes/apps/kyverno/kustomization.yaml
Labels: area/kubernetes

feat: update ansible-role-bootstrap
  infrastructure/ansible/roles/bootstrap/defaults/main.yaml
  infrastructure/ansible/roles/bootstrap/handlers/main.yaml
  infrastructure/ansible/roles/bootstrap/meta/main.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/apt.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/main.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/packages.yaml
  infrastructure/ansible/roles/bootstrap/tasks/Debian/sudoers.yaml
  infrastructure/ansible/roles/bootstrap/tasks/main.yaml
  infrastructure/ansible/roles/bootstrap/tasks/sudoers.yaml
  infrastructure/ansible/roles/bootstrap/vars/main.yaml
Labels: area/ansible

feat: update ansible-role-os
  infrastructure/ansible/roles/os/defaults/main.yaml
  infrastructure/ansible/roles/os/handlers/main.yaml
  infrastructure/ansible/roles/os/meta/main.yaml
  infrastructure/ansible/roles/os/tasks/Debian/apt.yaml
  infrastructure/ansible/roles/os/tasks/Debian/cloud-init.yaml
  infrastructure/ansible/roles/os/tasks/Debian/disks.yaml
  infrastructure/ansible/roles/os/tasks/Debian/host.yaml
  infrastructure/ansible/roles/os/tasks/Debian/main.yaml
  infrastructure/ansible/roles/os/tasks/Debian/motd.yaml
  infrastructure/ansible/roles/os/tasks/Debian/packages.yaml
  infrastructure/ansible/roles/os/tasks/Debian/sudoers.yaml
  infrastructure/ansible/roles/os/tasks/Debian/time.yaml
  infrastructure/ansible/roles/os/tasks/Debian/unattended-upgrades.yaml
  infrastructure/ansible/roles/os/tasks/Debian/user.yaml
  infrastructure/ansible/roles/os/tasks/Synology/main.yaml
  infrastructure/ansible/roles/os/tasks/Unifi/main.yaml
  infrastructure/ansible/roles/os/tasks/main.yaml
  infrastructure/ansible/roles/os/tasks/packages.yaml
  infrastructure/ansible/roles/os/vars/main.yaml
Labels: area/ansible

feat: update ansible-role-users
  infrastructure/ansible/roles/users/defaults/main.yaml
  infrastructure/ansible/roles/users/handlers/main.yaml
  infrastructure/ansible/roles/users/meta/main.yaml
  infrastructure/ansible/roles/users/tasks/Debian/group.yaml
  infrastructure/ansible/roles/users/tasks/Debian/main.yaml
  infrastructure/ansible/roles/users/tasks/Debian/ssh.yaml
  infrastructure/ansible/roles/users/tasks/Debian/sudo.yaml
  infrastructure/ansible/roles/users/tasks/Debian/user.yaml
  infrastructure/ansible/roles/users/tasks/Unifi/group.yaml
  infrastructure/ansible/roles/users/tasks/Unifi/main.yaml
  infrastructure/ansible/roles/users/tasks/Unifi/ssh.yaml
  infrastructure/ansible/roles/users/tasks/Unifi/sudo.yaml
  infrastructure/ansible/roles/users/tasks/Unifi/user.yaml
  infrastructure/ansible/roles/users/tasks/main.yaml
  infrastructure/ansible/roles/users/vars/main.yaml
Labels: area/ansible

feat: deploy ansible-role-os-identification
  infrastructure/ansible/roles/os-identification/defaults/main.yaml
  infrastructure/ansible/roles/os-identification/meta/main.yaml
  infrastructure/ansible/roles/os-identification/tasks/Debian/main.yaml
  infrastructure/ansible/roles/os-identification/tasks/Synology/main.yaml
  infrastructure/ansible/roles/os-identification/tasks/main.yaml
  infrastructure/ansible/roles/os-identification/vars/main.yaml
Labels: area/ansible

feat: deploy splunk-otel-collector-charts
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/splunk-otel-collector.yaml
Labels: area/kubernetes

feat: add k8s index
  kubernetes/apps/observability/splunk/app/helm-release.yaml
Labels: area/kubernetes

feat: use local-path for var storage
  kubernetes/apps/observability/splunk/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy splunk-etc volsync
  kubernetes/apps/observability/splunk/app/kustomization.yaml
  kubernetes/apps/observability/splunk/app/volsync/kustomization.yaml
  kubernetes/apps/observability/splunk/app/volsync/replication-source.yaml
  kubernetes/apps/observability/splunk/app/volsync/restic-secret.yaml
Labels: area/kubernetes

chore: format yaml
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

chore: format yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helm-release.yaml
Labels: area/kubernetes

fix: add metallb pool annotation
  kubernetes/apps/observability/cribl-stream/leader/helm-release.yaml
Labels: area/kubernetes

fix: update cribl-stream-leader
  kubernetes/apps/observability/cribl-stream/leader/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to v2.12.5
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to v2.12.5
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes
