Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat(helm)!: Update Helm chart kube-prometheus-stack to 34.1.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.2
  k8s/cluster/apps/media/flaresolverr/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.7
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update helm chart thanos to 10.2.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.8
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update container image rancher/system-upgrade-controller to v0.9.1
  k8s/cluster/infrastructure/system-upgrade/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1600
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6059
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.9
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release)!: Update peter-evans/create-or-update-comment action to v2
  .github/workflows/helm-release-differ.yaml
Labels: area/github

feat(github-release)!: Update peter-evans/find-comment action to v2
  .github/workflows/helm-release-differ.yaml
Labels: area/github

feat(container): update container image ghcr.io/tarampampam/error-pages to 2.9.0
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.6.10
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.6.10
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 3.11.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm): update helm chart coredns to 1.18.0
  k8s/cluster/apps/network/coredns/helm-release.yaml
Labels: area/cluster

fix: disable automerge
  .github/renovate.json5
  .github/renovate/autoMerge.json
Labels: area/github

fix: re-deploy automerge
  .github/renovate.json5
  .github/renovate/automerge.json
Labels: area/github

feat(github-release)!: Update peter-evans/create-pull-request action to v4
  .github/workflows/cloudflare-proxied-networks-update.yaml
  .github/workflows/library-chart-update.yaml
Labels: area/github

feat(github-release): update kubernetes-sigs/external-dns to v0.11.0
  k8s/cluster/core/crds/external-dns/crds.yaml
Labels: area/cluster

feat(helm): update helm chart node-problem-detector to 2.1.0
  k8s/cluster/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.28.0
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat: enable automerge for observability apps
  .github/renovate/automerge.json
Labels: area/github

feat(helm): update helm chart thanos to 10.2.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat: enable automerge for media apps
  .github/renovate/automerge.json
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.2.0.1600
  k8s/cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.1.0.6059
  k8s/cluster/apps/media/radarr/helm-release.yaml
  k8s/cluster/apps/media/radarr4k/helm-release.yaml
Labels: area/cluster

fix(cluster)!: update to source.toolkit.fluxcd.io/v1beta2
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/core/crds/external-dns/crds.yaml
  k8s/cluster/core/crds/external-snapshotter/crds.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
  k8s/cluster/core/sources/helm/bitnami.yaml
  k8s/cluster/core/sources/helm/coredns.yaml
  k8s/cluster/core/sources/helm/deliveryhero.yaml
  k8s/cluster/core/sources/helm/descheduler.yaml
  k8s/cluster/core/sources/helm/external-dns.yaml
  k8s/cluster/core/sources/helm/grafana.yaml
  k8s/cluster/core/sources/helm/ingress-nginx.yaml
  k8s/cluster/core/sources/helm/jetstack.yaml
  k8s/cluster/core/sources/helm/k8s-at-home.yaml
  k8s/cluster/core/sources/helm/kasten.yaml
  k8s/cluster/core/sources/helm/metallb.yaml
  k8s/cluster/core/sources/helm/metrics-server.yaml
  k8s/cluster/core/sources/helm/minecraft-server.yaml
  k8s/cluster/core/sources/helm/nfs-subdir-external-provisioner.yaml
  k8s/cluster/core/sources/helm/node-feature-discovery.yaml
  k8s/cluster/core/sources/helm/prometheus-community.yaml
  k8s/cluster/core/sources/helm/rook-ceph.yaml
  k8s/cluster/core/sources/helm/stakater.yaml
  k8s/cluster/core/sources/helm/traefik.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/sabnzbd to v3.5.3
  k8s/cluster/apps/media/sabnzbd/helm-release.yaml
Labels: area/cluster

fix(container): update container image gotson/komga to 0.153.1
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

feat: automerge flaresolverr
  .github/renovate/automerge.json
Labels: area/github

fix(container): update container image ghcr.io/flaresolverr/flaresolverr to v2.2.2
  k8s/cluster/apps/media/flaresolverr/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart cert-manager to v1.7.2
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/tarampampam/error-pages to 2.10.0
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: deploy cribl-charts
  k8s/cluster/core/sources/helm/cribl.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster
