Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

:arrow_up: fix(helm): Update chart grafana to 6.32.7
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.7
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.9
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.9
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6448
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6448
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.10
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.10
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.126.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.126.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.126.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.126.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.127.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.127.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1914
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1914
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.127.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.127.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image splunk/splunk to 8.2.7
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6450
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6450
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.127.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.127.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.130.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.130.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(helm): Update Cert-Manager group to v1.9.1
  k8s/cluster/apps/kube-system/cert-manager/helm-release.yaml
  k8s/cluster/crds/cert-manager/kustomization.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.131.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.131.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update Rook-Ceph group to v1.9.8
  k8s/cluster/core/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/core/rook-ceph/operator/helm-release.yaml
  k8s/cluster/sources/git/rook-ceph.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.131.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.131.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(terraform): Update Terraform cloudflare to 3.20.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: fix(helm): Update chart grafana to 6.32.9
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.9
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update fluxcd/flux2 to v0.31.5
  k8s/cluster/bootstrap/kustomization.yaml
Labels: area/cluster

:arrow_up: feat(terraform)!: Update Terraform http to 3.0.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: feat(container): Update image gotson/komga to 0.157.0
  k8s/cluster/apps/media/komga/values.yaml
Labels: area/cluster

:arrow_up: feat(helm)!: Update chart kube-prometheus-stack to 38.0.3
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.131.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.131.3
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
