Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix: recall rook-ceph
  cluster/apps/rook-ceph/cluster/helm-release.yaml
  cluster/apps/rook-ceph/cluster/kustomization.yaml
  cluster/apps/rook-ceph/cluster/kustomize-config.yaml
  cluster/apps/rook-ceph/cluster/values.yaml
  cluster/apps/rook-ceph/kustomization.yaml
  cluster/apps/rook-ceph/operator/helm-release.yaml
  cluster/apps/rook-ceph/operator/kustomization.yaml
  cluster/apps/rook-ceph/operator/kustomize-config.yaml
  cluster/apps/rook-ceph/operator/values.yaml
Labels: none

feat: deploy rook-ceph-operator
  cluster/apps/rook-ceph/kustomization.yaml
  cluster/apps/rook-ceph/operator/helm-release.yaml
  cluster/apps/rook-ceph/operator/kustomization.yaml
  cluster/apps/rook-ceph/operator/kustomize-config.yaml
  cluster/apps/rook-ceph/operator/values.yaml
Labels: none

feat: deploy rook-ceph-cluster
  cluster/apps/rook-ceph/cluster/helm-release.yaml
  cluster/apps/rook-ceph/cluster/kustomization.yaml
  cluster/apps/rook-ceph/cluster/kustomize-config.yaml
  cluster/apps/rook-ceph/cluster/values.yaml
  cluster/apps/rook-ceph/kustomization.yaml
Labels: none

feat: deploy node-feature-discovery
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/node-feature-discovery/helm-release.yaml
  cluster/apps/kube-system/node-feature-discovery/kustomization.yaml
  cluster/apps/kube-system/node-feature-discovery/kustomize-config.yaml
  cluster/apps/kube-system/node-feature-discovery/values.yaml
  cluster/sources/helm/kustomization.yaml
  cluster/sources/helm/node-feature-discovery.yaml
Labels: none

feat: deploy intel-gpu-plugin
  cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
  cluster/apps/kube-system/intel-gpu-plugin/kustomization.yaml
  cluster/apps/kube-system/intel-gpu-plugin/kustomize-config.yaml
  cluster/apps/kube-system/intel-gpu-plugin/values.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/sources/helm/bjw-s.yaml
  cluster/sources/helm/kustomization.yaml
Labels: none

feat: deploy plex
  cluster/apps/kustomization.yaml
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/namespace.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/plex/kustomization.yaml
  cluster/apps/media/plex/kustomize-config.yaml
  cluster/apps/media/plex/persistent-volume-claim.yaml
  cluster/apps/media/plex/values.yaml
  cluster/config/cluster-settings.yaml
Labels: none

:dizzy: feat(container): Update image docker.io/intel/intel-gpu-plugin to v0.25.0
  cluster/apps/kube-system/intel-gpu-plugin/values.yaml
Labels: none

fix: update kube-vip rbac
  cluster/apps/kube-system/kube-vip/rbac.yaml
Labels: none

feat: deploy external-snapshotter
  cluster/apps/kube-system/external-snapshotter/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/rook-ceph/cluster/values.yaml
Labels: none

fix: add external-snapshotter crds
  cluster/apps/kube-system/external-snapshotter/kustomization.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.8.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.8.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy kasten k10
  cluster/apps/flux-system/namespace.yaml
  cluster/apps/kasten-io/k10/helm-release.yaml
  cluster/apps/kasten-io/k10/kustomization.yaml
  cluster/apps/kasten-io/k10/kustomize-config.yaml
  cluster/apps/kasten-io/k10/persistent-volume-claim.yaml
  cluster/apps/kasten-io/k10/persistent-volume.yaml
  cluster/apps/kasten-io/k10/profiles/k10-disaster-recovery.yaml
  cluster/apps/kasten-io/k10/profiles/kustomization.yaml
  cluster/apps/kasten-io/k10/profiles/media.yaml
  cluster/apps/kasten-io/k10/rbac.yaml
  cluster/apps/kasten-io/k10/secret.sops.yaml
  cluster/apps/kasten-io/k10/values.yaml
  cluster/apps/kasten-io/kustomization.yaml
  cluster/apps/kasten-io/namespace.yaml
  cluster/apps/kube-system/namespace.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/network/namespace.yaml
  cluster/apps/rook-ceph/namespace.yaml
  cluster/apps/tigera-operator/namespace.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: none

feat: deploy overseerr
  cluster/apps/kustomization.yaml
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/namespace.yaml
  cluster/apps/media-automation/overseerr/helm-release.yaml
  cluster/apps/media-automation/overseerr/kustomization.yaml
  cluster/apps/media-automation/overseerr/kustomize-config.yaml
  cluster/apps/media-automation/overseerr/persistent-volume-claim.yaml
  cluster/apps/media-automation/overseerr/values.yaml
Labels: none

fix: remove theme-park
  cluster/apps/media/plex/values.yaml
Labels: none

feat: update cluster-id
  cluster/apps/kasten-io/k10/secret.sops.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.8.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.8.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.8.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.8.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.9.1
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.9.1
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy rook-direct-mount
  cluster/apps/rook-ceph/kustomization.yaml
  cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
  cluster/apps/rook-ceph/rook-direct-mount/kustomization.yaml
Labels: none

feat: deploy grocy
  cluster/apps/home/grocy/helm-release.yaml
  cluster/apps/home/grocy/kustomization.yaml
  cluster/apps/home/grocy/kustomize-config.yaml
  cluster/apps/home/grocy/persistent-volume-claim.yaml
  cluster/apps/home/grocy/values.yaml
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/namespace.yaml
  cluster/apps/kustomization.yaml
Labels: none

feat: deploy mealie
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/mealie/deployment.yaml
  cluster/apps/home/mealie/ingress.yaml
  cluster/apps/home/mealie/kustomization.yaml
  cluster/apps/home/mealie/persistent-volume-claim.yaml
  cluster/apps/home/mealie/service.yaml
Labels: none

feat: deploy radarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/radarr/helm-release.yaml
  cluster/apps/media-automation/radarr/kustomization.yaml
  cluster/apps/media-automation/radarr/kustomize-config.yaml
  cluster/apps/media-automation/radarr/persistent-volume-claim.yaml
  cluster/apps/media-automation/radarr/secret.sops.yaml
  cluster/apps/media-automation/radarr/values.yaml
Labels: none

feat: deploy sonarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
  cluster/apps/media-automation/sonarr/kustomization.yaml
  cluster/apps/media-automation/sonarr/kustomize-config.yaml
  cluster/apps/media-automation/sonarr/persistent-volume-claim.yaml
  cluster/apps/media-automation/sonarr/secret.sops.yaml
  cluster/apps/media-automation/sonarr/values.yaml
Labels: none

:dizzy: feat(terraform): Update Terraform http to 3.2.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.10.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.10.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy sabnzbd
  cluster/apps/download/kustomization.yaml
  cluster/apps/download/namespace.yaml
  cluster/apps/download/sabnzbd/helm-release.yaml
  cluster/apps/download/sabnzbd/kustomization.yaml
  cluster/apps/download/sabnzbd/kustomize-config.yaml
  cluster/apps/download/sabnzbd/persistent-volume-claim.yaml
  cluster/apps/download/sabnzbd/secret.sops.yaml
  cluster/apps/download/sabnzbd/values.yaml
  cluster/apps/kustomization.yaml
Labels: none

feat: deploy theme-park
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/theme-park/helm-release.yaml
  cluster/apps/default/theme-park/kustomization.yaml
  cluster/apps/default/theme-park/kustomize-config.yaml
  cluster/apps/default/theme-park/values.yaml
  cluster/apps/media-automation/overseerr/values.yaml
  cluster/apps/media-automation/radarr/values.yaml
  cluster/apps/media-automation/sonarr/values.yaml
  cluster/apps/media/plex/values.yaml
Labels: none

feat: deploy prowlarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/prowlarr/helm-release.yaml
  cluster/apps/media-automation/prowlarr/kustomization.yaml
  cluster/apps/media-automation/prowlarr/kustomize-config.yaml
  cluster/apps/media-automation/prowlarr/persistent-volume-claim.yaml
  cluster/apps/media-automation/prowlarr/secret.sops.yaml
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2048
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2048
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.12.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.12.0
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy frigate
  cluster/apps/home-automation/frigate/config/frigate-config.yaml
  cluster/apps/home-automation/frigate/helm-release.yaml
  cluster/apps/home-automation/frigate/kustomization.yaml
  cluster/apps/home-automation/frigate/kustomize-config.yaml
  cluster/apps/home-automation/frigate/persistent-volume-claim.yaml
  cluster/apps/home-automation/frigate/secret.sops.yaml
  cluster/apps/home-automation/frigate/values.yaml
  cluster/apps/home-automation/kustomization.yaml
  cluster/apps/home-automation/namespace.yaml
  cluster/apps/kustomization.yaml
Labels: none

chore: format yaml
  cluster/apps/kube-system/intel-gpu-plugin/values.yaml
Labels: none

feat: deploy metrics-server
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/metrics-server/helm-release.yaml
  cluster/apps/kube-system/metrics-server/kustomization.yaml
  cluster/apps/kube-system/metrics-server/kustomize-config.yaml
  cluster/apps/kube-system/metrics-server/values.yaml
  cluster/sources/helm/kustomization.yaml
  cluster/sources/helm/metrics-server.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
