Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

fix(cluster): recall metallb
  k8s/cluster/apps/network/kustomization.yaml
Labels: area/cluster

fix(cluster): re-deploy metallb
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/apps/network/metallb/values.yaml
Labels: area/cluster

fix(renovate): disallow k10 >v.5.x
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(cluster): try to get metallb working
  k8s/cluster/apps/network/metallb/helm-release.yaml
  k8s/cluster/apps/network/metallb/values.yaml
Labels: area/cluster

fix(cluster): roll metallb back to 0.12.1
  k8s/cluster/apps/network/metallb/helm-release.yaml
  k8s/cluster/apps/network/metallb/ip-address-pool.yaml
  k8s/cluster/apps/network/metallb/kustomization.yaml
  k8s/cluster/apps/network/metallb/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.107.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.107.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 36.3.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 36.3.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 36.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 36.5.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.27.1
  .pre-commit-config.yaml
Labels: none

feat(repo): :sparkles: :zap: renovate gitmoji :zap: :sparkles:
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(renovate): :art: separate scheduled/unscheduled pr
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/autoMergeSchedule.json5
Labels: area/github

:arrow_up: fix(ansible): Update community.sops to 1.2.3
  ansible/requirements.yml
Labels: area/ansible

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.107.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.107.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(helm): Update chart kube-prometheus-stack to 36.6.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(helm): Update chart kube-prometheus-stack to 36.6.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.108.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.108.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1898
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1898
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.7
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/theme-park to v1.9.7
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.109.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.109.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6412
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6412
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 36.6.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 36.6.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(github-release)!: Update megalinter/megalinter action to v6
  .github/workflows/megalinter.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.110.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.110.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.111.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.111.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6416
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6416
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.111.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.111.1
  .github/workflows/renovate.yaml
Labels: area/github
