Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix: update flux-system observability
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(ansible): Update community.sops to 1.6.4
  infrastructure/ansible/requirements.yml
Labels: area/ansible

feat: update frigate
  kubernetes/apps/home-automation/frigate/app.yaml
  kubernetes/apps/home-automation/frigate/app/config/frigate-config.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/kustomize-config.yaml
  kubernetes/apps/home-automation/frigate/app/persistent-volume-claim.yaml
  kubernetes/apps/home-automation/frigate/app/values.yaml
  kubernetes/apps/home-automation/frigate/app/volsync/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/volsync/replication-source.yaml
  kubernetes/apps/home-automation/frigate/app/volsync/restic-secret.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules.yaml
Labels: area/kubernetes

chore: format yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix: update hr name
  kubernetes/apps/media/gaps/app/helm-release.yaml
Labels: area/kubernetes

chore: add nfd dependency
  kubernetes/apps/media/plex/app.yaml
Labels: area/kubernetes

chore: format yaml
  kubernetes/apps/download/kustomization.yaml
Labels: area/kubernetes

feat: update sabnzbd
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
  kubernetes/apps/download/sabnzbd/app/secret.sops.yaml
Labels: area/kubernetes

fix: update restic cachecapacity
  kubernetes/apps/home-automation/frigate/app/volsync/replication-source.yaml
Labels: area/kubernetes

fix: update weave-gitops secrets
  kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes

fix: add k10 snapshot class back while moving PVC's
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy bazarr
  kubernetes/apps/media/bazarr/app.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/kustomize-config.yaml
  kubernetes/apps/media/bazarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/bazarr/app/scripts/post-process.sh
  kubernetes/apps/media/bazarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/bazarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/bazarr/app/volsync/restic-secret.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fix: disable media-automation apps
  kubernetes/apps/media-automation/bazarr/app/kustomization.yaml
  kubernetes/apps/media-automation/kustomization.yaml
  kubernetes/apps/media-automation/lidarr/app/kustomization.yaml
  kubernetes/apps/media-automation/overseerr/app/kustomization.yaml
  kubernetes/apps/media-automation/prowlarr/app/kustomization.yaml
  kubernetes/apps/media-automation/radarr/app/kustomization.yaml
  kubernetes/apps/media-automation/sonarr/app/kustomization.yaml
  kubernetes/apps/media-automation/tautulli/app/kustomization.yaml
Labels: area/kubernetes

feat: update hajimari namespaceSelector
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: area/kubernetes

fix: update backup path
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy radarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/app.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/radarr/app/secret.sops.yaml
  kubernetes/apps/media/radarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/radarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/radarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy sonarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/sonarr/app.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/sonarr/app/secret.sops.yaml
  kubernetes/apps/media/sonarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/sonarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/sonarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: update restic cacheCapacity
  kubernetes/apps/media/radarr/app/volsync/replication-source.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update chart app-template to 1.5.1
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy prowlarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/app.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/prowlarr/app/secret.sops.yaml
  kubernetes/apps/media/prowlarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/prowlarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy overseerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/overseerr/app.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/overseerr/app/volsync/kustomization.yaml
  kubernetes/apps/media/overseerr/app/volsync/replication-source.yaml
  kubernetes/apps/media/overseerr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy lidarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/lidarr/app/secret.sops.yaml
  kubernetes/apps/media/lidarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/lidarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/lidarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy tautulli
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tautulli/app.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/persistent-volume-claim.yaml
  kubernetes/apps/media/tautulli/app/volsync/kustomization.yaml
  kubernetes/apps/media/tautulli/app/volsync/replication-source.yaml
  kubernetes/apps/media/tautulli/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: remove media-automation namespace
  kubernetes/apps/media-automation/kustomization.yaml
  kubernetes/apps/media-automation/media-automation-pvc/bazarr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/kustomization.yaml
  kubernetes/apps/media-automation/media-automation-pvc/lidarr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/overseerr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/prowlarr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/radarr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/sonarr.yaml
  kubernetes/apps/media-automation/media-automation-pvc/tautulli.yaml
  kubernetes/apps/media-automation/namespace.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart ingress-nginx to 4.7.1
  kubernetes/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy recyclarr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/recyclarr/app.yaml
  kubernetes/apps/media/recyclarr/app/config/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/persistent-volume-claim.yaml
  kubernetes/apps/media/recyclarr/app/volsync/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/volsync/replication-source.yaml
  kubernetes/apps/media/recyclarr/app/volsync/restic-secret.yaml
Labels: area/kubernetes

chore: clean up descheduler
  kubernetes/apps/kube-system/descheduler/app.yaml
  kubernetes/apps/kube-system/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomize-config.yaml
  kubernetes/apps/kube-system/descheduler/app/values.yaml
Labels: area/kubernetes

fix: update flux wait
  kubernetes/apps/media/radarr/app.yaml
  kubernetes/apps/media/sonarr/app.yaml
Labels: area/kubernetes

fix: remove kasten namespace label
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

feat: update kyverno policies
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/inject-tz.yaml
  kubernetes/apps/kyverno/kyverno/policy.yaml
  kubernetes/apps/kyverno/kyverno/policy/ingress-external-dns-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policy/ingress-whitelist-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policy/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policy/remove-cpu-limits.yaml
Labels: area/kubernetes

feat: update kyverno app
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomize-config.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/app/values.yaml
Labels: area/kubernetes

chore: update weave gitops password
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat: remove kasten k10
  kubernetes/apps/kasten-io/k10/app.yaml
  kubernetes/apps/kasten-io/k10/app/helm-release.yaml
  kubernetes/apps/kasten-io/k10/app/kustomization.yaml
  kubernetes/apps/kasten-io/k10/app/kustomize-config.yaml
  kubernetes/apps/kasten-io/k10/app/rbac.yaml
  kubernetes/apps/kasten-io/k10/app/secret.sops.yaml
  kubernetes/apps/kasten-io/k10/app/values.yaml
  kubernetes/apps/kasten-io/k10/config.yaml
  kubernetes/apps/kasten-io/k10/config/kustomization.yaml
  kubernetes/apps/kasten-io/k10/config/persistent-volume-claim.yaml
  kubernetes/apps/kasten-io/k10/config/persistent-volume.yaml
  kubernetes/apps/kasten-io/kustomization.yaml
  kubernetes/apps/kasten-io/namespace.yaml
Labels: area/kubernetes

feat: remove kasten k10 snapshot class
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
Labels: area/kubernetes

chore: retire github scripts
  .github/scripts/cloudflareNetworks.mjs
Labels: area/github

feat: retire helmrelease-diff
  .github/scripts/helmReleaseDiff.mjs
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat: retire lint
  .github/workflows/lint.yaml
Labels: area/github

feat: retire size labels
  .github/workflows/meta-size-labels.yaml
Labels: area/github

chore: update kubeconform
  .github/scripts/kubeconform.sh
  .github/workflows/kubeconform.yaml
Labels: area/github

feat: update flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
