Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

:dizzy: feat(github-release): Update oxsecurity/megalinter action to v6.14.0
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.19.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.19.3
  .github/workflows/renovate.yaml
Labels: area/github

feat: add tautulli data directory
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

feat: add sabnzbd backup
  cluster/apps/download/sabnzbd/values.yaml
Labels: none

feat: deploy recyclarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/recyclarr/config/kustomization.yaml
  cluster/apps/media-automation/recyclarr/config/recyclarr-config.yaml
  cluster/apps/media-automation/recyclarr/cron-job.yaml
  cluster/apps/media-automation/recyclarr/kustomization.yaml
  cluster/apps/media-automation/recyclarr/secret.sops.yaml
Labels: none

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.20.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.20.0
  .github/workflows/renovate.yaml
Labels: area/github

fix: recall recyclarr
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/recyclarr/config/kustomization.yaml
  cluster/apps/media-automation/recyclarr/config/recyclarr-config.yaml
  cluster/apps/media-automation/recyclarr/cron-job.yaml
  cluster/apps/media-automation/recyclarr/kustomization.yaml
  cluster/apps/media-automation/recyclarr/secret.sops.yaml
Labels: none

feat: deploy recyclarr secrets
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-automation/recyclarr/kustomization.yaml
  cluster/apps/media-automation/recyclarr/secret.sops.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: none

feat: deploy recyclarr-config
  cluster/apps/media-automation/recyclarr/config/kustomization.yaml
  cluster/apps/media-automation/recyclarr/config/recyclarr-config.yaml
  cluster/apps/media-automation/recyclarr/kustomization.yaml
Labels: none

fix: update radarr api key
  cluster/apps/media-automation/radarr/secret.sops.yaml
Labels: none

feat: update sonarr api key
  cluster/apps/media-automation/sonarr/secret.sops.yaml
  cluster/config/cluster-secrets.sops.yaml
Labels: none

feat: update sonarr api key
  cluster/apps/media-automation/recyclarr/secret.sops.yaml
Labels: none

feat: deploy recyclarr
  cluster/apps/media-automation/recyclarr/config/recyclarr-config.yaml
  cluster/apps/media-automation/recyclarr/cron-job.yaml
  cluster/apps/media-automation/recyclarr/kustomization.yaml
Labels: none

feat: add automerge apps
  .github/renovate/autoMerge.json5
Labels: area/github

:dizzy: feat(container): Update image ghcr.io/onedr0p/recyclarr to v2.6.1
  cluster/apps/media-automation/recyclarr/cron-job.yaml
Labels: none

:dizzy: feat(container): Update image ghcr.io/onedr0p/recyclarr to v2.6.1
  cluster/apps/media-automation/recyclarr/cron-job.yaml
Labels: none

:arrow_up: fix(terraform): Update Terraform http to 3.2.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to v2.10.5
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/tautulli to v2.10.5
  cluster/apps/media-automation/tautulli/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2073
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2073
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.29.2.6364-6d72b0cf6
  cluster/apps/media/plex/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.29.2.6364-6d72b0cf6
  cluster/apps/media/plex/values.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.20.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.20.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.21.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v34.21.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.3
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/kube-vip/kube-vip to v0.5.6
  cluster/apps/kube-system/kube-vip/daemon-set.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.4
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(helm): Update chart ingress-nginx to 4.4.0
  cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2075
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2075
  cluster/apps/media-automation/prowlarr/values.yaml
Labels: none

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.6
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v34.21.6
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.4
  cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
