Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

:arrow_up: fix(helm): Update chart kube-prometheus-stack to 39.13.3
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: feat(helm): Update chart app-template to 0.2.1
  k8s/cluster/apps/default/theme-park/helm-release.yaml
  k8s/cluster/apps/download/sabnzbd/helm-release.yaml
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/mealie/helm-release.yaml
  k8s/cluster/apps/media-automation/lidarr/helm-release.yaml
  k8s/cluster/apps/media-automation/overseerr/helm-release.yaml
  k8s/cluster/apps/media-automation/prowlarr/helm-release.yaml
  k8s/cluster/apps/media-automation/radarr/helm-release.yaml
  k8s/cluster/apps/media-automation/radarr4k/helm-release.yaml
  k8s/cluster/apps/media-automation/sonarr/helm-release.yaml
  k8s/cluster/apps/media-automation/sonarr4k/helm-release.yaml
  k8s/cluster/apps/media-automation/tautulli/helm-release.yaml
  k8s/cluster/apps/media/dizquetv/helm-release.yaml
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.195.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.195.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image cribl/cribl to v3.5.3
  k8s/cluster/apps/observability/cribl/leader/values.yaml
  k8s/cluster/apps/observability/cribl/worker/values.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart logstream-leader to 3.5.3
  k8s/cluster/apps/observability/cribl/leader/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart logstream-workergroup to 3.5.3
  k8s/cluster/apps/observability/cribl/worker/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image docker.io/rclone/rclone to v1.59.2
  k8s/cluster/apps/kasten-io/k10/blueprints/download.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/game.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/home.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/k10-disaster-recovery.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/media.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/observability.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.196.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.196.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart k8s-gateway to 1.1.15
  k8s/cluster/apps/network/k8s-gateway/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.197.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.197.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.197.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.197.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.198.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.198.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1976
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1976
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1978
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1978
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: feat(container): Update image ghcr.io/sct/overseerr to v1.30.0
  k8s/cluster/apps/media-automation/overseerr/values.yaml
Labels: area/cluster

:arrow_up: feat(container): Update image ghcr.io/sct/overseerr to v1.30.0
  k8s/cluster/apps/media-automation/overseerr/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update oxsecurity/megalinter action to v6.10.0
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.199.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.199.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart reloader to v0.0.119
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.201.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.201.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(terraform): Update Terraform cloudflare to 3.24.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

:arrow_up: feat(ansible): Update robertdebock.bootstrap to 6.1.1
  ansible/requirements.yml
Labels: area/ansible

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.201.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.201.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/kubectl to v1.25.2
  k8s/cluster/apps/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.202.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.202.0
  .github/workflows/renovate.yaml
Labels: area/github

:bookmark: Update image ghcr.io/onedr0p/plex to ee6304c
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.202.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.202.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(ansible): Update community.sops to 1.4.1
  ansible/requirements.yml
Labels: area/ansible
