Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/tools

:arrow_up: chore(container): Update ghcr.io/meeb/tubesync:latest Docker digest to f152265
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update ghcr.io/wizarrrr/wizarr Docker tag to v3.5.2
  kubernetes/apps/media/wizarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/meeb/tubesync:latest Docker digest to 262cdb3
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

fix(recyclarr): disable special editions
  kubernetes/apps/media/recyclarr/app/config/radarr-uhd.yml
  kubernetes/apps/media/recyclarr/app/config/radarr.yml
Labels: area/kubernetes

feat(plex): add custom probes
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update ghcr.io/tailscale/tailscale Docker tag to v1.54.0
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy calibre-web
  kubernetes/apps/media/calibre-web/app.yaml
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/apps/media/calibre-web/app/kustomization.yaml
  kubernetes/apps/media/calibre-web/app/persistent-volume-claim.yaml
  kubernetes/apps/media/calibre-web/app/volsync/kustomization.yaml
  kubernetes/apps/media/calibre-web/app/volsync/replication-source.yaml
  kubernetes/apps/media/calibre-web/app/volsync/restic-secret.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/meeb/tubesync:latest Docker digest to 262cdb3
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

feat(hajimari): update groups
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
  kubernetes/apps/home-automation/frigate/app/helm-release.yaml
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/overseerr/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
  kubernetes/apps/media/tautulli/app/helm-release.yaml
  kubernetes/apps/media/tubesync/app/helm-release.yaml
  kubernetes/apps/network/external-services/home-assistant/ingress.yaml
  kubernetes/apps/network/external-services/protect/ingress.yaml
  kubernetes/apps/network/external-services/unifi/ingress.yaml
Labels: area/kubernetes

feat(radarr): update probes
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update quay.io/prometheus/alertmanager:main Docker digest to 3352d97
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

fix(readarr): update ports
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

feat(readarr): set log level
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

feat(readarr): auth disabled for local
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update quay.io/prometheus/alertmanager:main Docker digest to 3352d97
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/bjw-s/calibre-web:0.6.21 Docker digest to dd8d0aa
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update quay.io/prometheus/alertmanager:main Docker digest to 418e731
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update quay.io/prometheus/alertmanager:main Docker digest to 418e731
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.733
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update ghcr.io/onedr0p/lidarr-develop Docker tag to v2.0.4.3802
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update ghcr.io/onedr0p/radarr-develop Docker tag to v5.2.3.8303
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/onedr0p/sabnzbd:4.1.0 Docker digest to f2f3971
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update ghcr.io/onedr0p/prowlarr-develop Docker tag to v1.10.5.4116
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(github-release): Update pre-commit hook sirosen/texthooks to 0.6.3
  .pre-commit-config.yaml
Labels: none

:arrow_up: fix(container): Update kube-state-metrics Docker tag to v5.15.2
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update weave-gitops Docker tag to v4.0.35
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update grafana-operator Docker tag to v5.5.1
  kubernetes/apps/observability/grafana/operator/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm-chart): Update Helm release snapshot-controller to 2.0.3
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update teslamate/teslamate Docker tag to v1.28.2
  kubernetes/apps/default/teslamate/app/helm-release.yaml
Labels: area/kubernetes

ci(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(container): Update ghcr.io/advplyr/audiobookshelf Docker tag to v2.6.0
  kubernetes/apps/media/audiobookshelf/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update ghcr.io/kiwigrid/k8s-sidecar Docker tag to v1.25.3
  kubernetes/apps/observability/grafana/instance/grafana.yaml
Labels: area/kubernetes

:dizzy: feat(container): Update ghcr.io/onedr0p/bazarr Docker tag to v1.4.0
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/meeb/tubesync:latest Docker digest to b884068
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm-chart): Update Helm release k8s-gateway to 2.1.0
  kubernetes/apps/network/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/bjw-s/calibre-web:0.6.21 Docker digest to 42ade66
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/meeb/tubesync:latest Docker digest to b884068
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/bjw-s/calibre-web:0.6.21 Docker digest to f96f1a6
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update quay.io/prometheus/alertmanager:main Docker digest to f35257b
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update ghcr.io/bjw-s/calibre-web:0.6.21 Docker digest to bca0b47
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
area/tools:
  - "tools/**/*"
