Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

feat: update mealie
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mealie/app.yaml
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/persistent-volume-claim.yaml
  kubernetes/apps/home/mealie/app/helm-release.yaml
  kubernetes/apps/home/mealie/app/kustomization.yaml
  kubernetes/apps/home/mealie/app/kustomize-config.yaml
  kubernetes/apps/home/mealie/app/values.yaml
Labels: area/kubernetes

feat: update theme-park
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/theme-park/app.yaml
  kubernetes/apps/default/theme-park/app/helm-release.yaml
  kubernetes/apps/default/theme-park/app/kustomization.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/home/theme-park/app/helm-release.yaml
  kubernetes/apps/home/theme-park/app/kustomization.yaml
  kubernetes/apps/home/theme-park/app/kustomize-config.yaml
  kubernetes/apps/home/theme-park/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to f57760e
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to f57760e
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(terraform): Update Terraform cloudflare to 4.9.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/versions.tf
Labels: area/terraform

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to cc223dc
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to cc223dc
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 2d25c51
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 2d25c51
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 9f0cb2d
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 9f0cb2d
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 02038ed
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image docker.io/hkotel/mealie to 02038ed
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3619
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3619
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

chore: delete game namespace
  kubernetes/apps/game/kustomization.yaml
  kubernetes/apps/game/namespace.yaml
Labels: area/kubernetes

feat: update gaps
  kubernetes/apps/default/gaps/app.yaml
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/gaps/app/kustomization.yaml
  kubernetes/apps/default/gaps/app/persistent-volume-claim.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media-automation/gaps/app/helm-release.yaml
  kubernetes/apps/media-automation/gaps/app/kustomization.yaml
  kubernetes/apps/media-automation/gaps/app/kustomize-config.yaml
  kubernetes/apps/media-automation/gaps/app/values.yaml
  kubernetes/apps/media-automation/kustomization.yaml
Labels: area/kubernetes

fix: update grafana instance creds
  kubernetes/apps/observability/grafana/instance.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3620
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3620
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

feat: deploy volsync for sabnzbd
  kubernetes/apps/download/sabnzbd/app/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/volsync.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:dizzy: feat(github-release): Update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3621
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3621
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3622
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3622
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

fix: update volsync
  kubernetes/apps/download/sabnzbd/app/volsync.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3623
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3623
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

fix: enable privileged-movers
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/download/namespace.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/observability/namespace.yaml
Labels: area/kubernetes

feat: update bootstrapping
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/crds/kustomization.yaml
  kubernetes/bootstrap/crds/prometheus/kustomization.yaml
Labels: area/kubernetes

feat: update plex
  kubernetes/apps/media/plex/app.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/kustomize-config.yaml
  kubernetes/apps/media/plex/app/persistent-volume-claim.yaml
  kubernetes/apps/media/plex/app/values.yaml
  kubernetes/apps/media/plex/app/volsync.yaml
Labels: area/kubernetes

fix: update volsync
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/volsync/kustomization.yaml
  kubernetes/apps/media/plex/app/volsync/replication-source.yaml
  kubernetes/apps/media/plex/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: update mealie
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/volsync/kustomization.yaml
  kubernetes/apps/default/mealie/app/volsync/replication-source.yaml
  kubernetes/apps/default/mealie/app/volsync/restic-secret.yaml
Labels: area/kubernetes

fix: add TZ env var
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/theme-park/app/helm-release.yaml
  kubernetes/apps/download/sabnzbd/app/values.yaml
  kubernetes/apps/home-automation/frigate/app/values.yaml
  kubernetes/apps/media-automation/bazarr/app/values.yaml
  kubernetes/apps/media-automation/lidarr/app/values.yaml
  kubernetes/apps/media-automation/overseerr/app/values.yaml
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
  kubernetes/apps/media-automation/radarr/app/values.yaml
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
  kubernetes/apps/media-automation/sonarr/app/values.yaml
  kubernetes/apps/media-automation/tautulli/app/values.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

fix: use correct images
  kubernetes/apps/default/mealie/app/helm-release.yaml
Labels: area/kubernetes

feat: update sabnzbd
  kubernetes/apps/download/sabnzbd/app.yaml
  kubernetes/apps/download/sabnzbd/app/helm-release.yaml
  kubernetes/apps/download/sabnzbd/app/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/kustomize-config.yaml
  kubernetes/apps/download/sabnzbd/app/persistent-volume-claim.yaml
  kubernetes/apps/download/sabnzbd/app/values.yaml
  kubernetes/apps/download/sabnzbd/app/volsync/kustomization.yaml
  kubernetes/apps/download/sabnzbd/app/volsync/replication-source.yaml
  kubernetes/apps/download/sabnzbd/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: update mealie
  kubernetes/apps/default/mealie/app.yaml
  kubernetes/apps/default/mealie/app/helm-release.yaml
  kubernetes/apps/default/mealie/app/volsync/restic-secret.yaml
Labels: area/kubernetes

feat: deploy gaps
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/gaps/app.yaml
  kubernetes/apps/media/gaps/app/helm-release.yaml
  kubernetes/apps/media/gaps/app/kustomization.yaml
  kubernetes/apps/media/gaps/app/persistent-volume-claim.yaml
  kubernetes/apps/media/gaps/app/volsync/kustomization.yaml
  kubernetes/apps/media/gaps/app/volsync/replication-source.yaml
  kubernetes/apps/media/gaps/app/volsync/restic-secret.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
