Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.119.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.119.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6434
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6434
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.119.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.119.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6438
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6438
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.119.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.119.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update k3s-io/k3s to v1.24.3+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

:arrow_up: feat(helm): Update chart logstream-leader to 3.5.1
  k8s/cluster/apps/observability/cribl-stream/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.120.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.120.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(helm)!: Update chart kube-prometheus-stack to 37.3.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart plex to 6.3.4
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart plex to 6.3.4
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(helm): Update chart metallb to 0.13.4
  k8s/cluster/apps/network/metallb/helm-release.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.122.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.122.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6445
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6445
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.122.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.122.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart grafana to 6.32.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(helm): Update chart grafana to 6.32.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1907
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1907
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6446
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.1.6446
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image teslamate/teslamate to 1.27.1
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image teslamate/teslamate to 1.27.1
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.122.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.122.5
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1908
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.3.1908
  k8s/cluster/apps/download/prowlarr/values copy.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.125.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: feat(github-release): Update renovatebot/github-action action to v32.125.0
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
