Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform

feat: update vscode settings
  .vscode/settings.json
Labels: none

feat: standardize resource layout
  kubernetes/apps/cert-manager/cert-manager/app.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/cluster-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
Labels: area/kubernetes

feat: deploy storage namespace
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/namespace.yaml
Labels: area/kubernetes

feat: deploy local-path-provisioner
  kubernetes/apps/kube-system/local-path-provisioner/app/helm-release.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/app/helm-release.yaml
  kubernetes/apps/storage/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/ks.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
Labels: area/kubernetes

feat: deploy snapshot-controller
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
Labels: area/kubernetes

feat: deploy volsync
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/volsync/app/helm-release.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/prometheus-rule-onedr0p.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/apps/volsync/kustomization.yaml
  kubernetes/apps/volsync/namespace.yaml
  kubernetes/apps/volsync/volsync/app/helm-release.yaml
Labels: area/kubernetes

fix: rename helm repo
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes

feat: deploy system-upgrade-controller
  kubernetes/apps/kube-system/system-upgrade-controller/app/helm-release.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/kube-system/intel-device-plugin/exporter.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes

feat: deploy descheduler
  kubernetes/apps/kube-system/descheduler/app/helm-release.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/vpn/kustomization.yaml
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
  kubernetes/apps/vpn/tailscale/app/kustomization.yaml
  kubernetes/apps/vpn/tailscale/ks.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/rook-ceph/cluster/app.yaml
  kubernetes/apps/rook-ceph/kustomization.yaml
  kubernetes/apps/rook-ceph/operator/app.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/secret.sops.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/database/cloudnative-pg/cluster.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduled-backup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/operator.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helm-release.yaml
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat: standardize resource layout
  kubernetes/apps/network/cloudflared/app/dns-endpoint.yaml
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/kustomize-config.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/app/cloudflare/helm-release.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

fix: add external-dns-cloudflare rbac
  kubernetes/apps/network/external-dns/app/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/app/cloudflare/rbac.yaml
Labels: area/kubernetes

fix(flux): update tag
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: deploy rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

fix: deploy rook-ceph helm repo
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes

fix: update rook-ceph dashboard password secret
  kubernetes/apps/rook-ceph/rook-ceph/operator/secret.sops.yaml
Labels: area/kubernetes

feat: deploy snapshot-controller
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
Labels: area/kubernetes

feat: deploy metallb
  kubernetes/apps/network/metallb/app/helm-release.yaml
  kubernetes/apps/network/metallb/app/kustomization.yaml
  kubernetes/apps/network/metallb/config/ip-address-pool.yaml
  kubernetes/apps/network/metallb/config/kustomization.yaml
  kubernetes/apps/network/metallb/config/l2-advertisement.yaml
  kubernetes/apps/network/metallb/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metallb.yaml
  kubernetes/flux/vars/cluster-settings.env
Labels: area/kubernetes

feat: deploy nginx
  kubernetes/apps/network/nginx/certificates/certificate.yaml
  kubernetes/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/apps/network/nginx/external/helm-release.yaml
  kubernetes/apps/network/nginx/external/kustomization.yaml
  kubernetes/apps/network/nginx/internal/helm-release.yaml
  kubernetes/apps/network/nginx/internal/kustomization.yaml
  kubernetes/apps/network/nginx/ks.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.env
Labels: area/kubernetes

feat: deploy cert-manager
  .taskfiles/flux/tasks.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/cluster-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes, area/taskfile

feat: deploy external-dns
  kubernetes/apps/network/external-dns/app/cloudflare/helm-release.yaml
  kubernetes/apps/network/external-dns/app/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/app/cloudflare/rbac.yaml
  kubernetes/apps/network/external-dns/app/cloudflare/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/custom-resource-definition.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes

feat: deploy cloudflared
  kubernetes/apps/network/cloudflared/app/dns-endpoint.yaml
  kubernetes/apps/network/cloudflared/app/helm-release.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/resources/config.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

feat: deploy k8s-gateway
  kubernetes/apps/network/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.env
Labels: area/kubernetes

feat: deploy flux-webhook
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/kustomization.yaml
Labels: area/kubernetes

fix: deploy k8s-gateway charts
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: deploy wego
  kubernetes/apps/flux-system/wego/app/helm-release.yaml
  kubernetes/apps/flux-system/wego/app/kustomization.yaml
  kubernetes/apps/flux-system/wego/app/secret.sops.yaml
  kubernetes/apps/flux-system/wego/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

feat: deploy plex
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/persistent-volume-claim.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/flux/vars/cluster-settings.env
Labels: area/kubernetes

feat: deploy intel-device-plugin
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/kustomization.yaml
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: deploy node-feature-discovery
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/aeotec-zwave-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

fix: chart name
  kubernetes/apps/kube-system/intel-device-plugin/operator/helm-release.yaml
Labels: area/kubernetes

feat: deploy volsync
  kubernetes/apps/storage/volsync/app/helm-release.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: deploy nfs-media pvc
  kubernetes/apps/media/common/ks.yaml
  kubernetes/apps/media/common/nfs-media/kustomization.yaml
  kubernetes/apps/media/common/nfs-media/persistent-volume-claim.yaml
  kubernetes/apps/media/common/nfs-media/persistent-volume.yaml
  kubernetes/apps/media/common/nfs-media/storage-class.yaml
  kubernetes/flux/vars/cluster-settings.env
Labels: area/kubernetes

fix: deploy nfs-media pvc
  kubernetes/apps/media/common/nfs-media/kustomization.yaml
Labels: area/kubernetes

fix: which volume is broken
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

fix: which volume is broken
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
