Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3524
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.537
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.537
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to c929178
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to c929178
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to 56e3a44
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to 56e3a44
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to ec73f87
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/onedr0p/bazarr to ec73f87
  kubernetes/apps/media-automation/bazarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 8c04bf0
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to 8c04bf0
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3525
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3525
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to de341a3
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: chore(container): Update image ghcr.io/recyclarr/recyclarr to de341a3
  kubernetes/apps/media-automation/recyclarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3527
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3527
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3531
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3531
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.4.3273
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/lidarr-develop to v1.2.4.3273
  kubernetes/apps/media-automation/lidarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3532
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3532
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.1.7456
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/radarr-develop to v4.6.1.7456
  kubernetes/apps/media-automation/radarr/app/values.yaml
Labels: area/kubernetes

:boom: feat(github-release)!: Update oxsecurity/megalinter action to v7.1.0
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3535
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3535
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update chart snapshot-controller to 1.8.1
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.538
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.538
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  kubernetes/apps/media-automation/sonarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.3.7192-7aa441827
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/plex to v1.32.3.7192-7aa441827
  kubernetes/apps/media/plex/app/values.yaml
Labels: area/kubernetes

:dizzy: feat(github-release): Update pre-commit hook Lucas-C/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3549
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3549
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3550
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3550
  kubernetes/apps/media-automation/prowlarr/app/values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
