Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:arrow_up: fix(helm): Update Rook-Ceph group to v1.12.7
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

feat: add cribl http/tcp ports
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

feat: add s2s port
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

feat: deploy grafana folders
  kubernetes/apps/observability/grafana/dashboard.yaml
  kubernetes/apps/observability/grafana/dashboard/database/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/database/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/database/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/network/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/network/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/network/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/patch-instance-selector.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/system/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/system/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/system/patch-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/grafana-folder.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/patch-folder.yaml
Labels: area/kubernetes

feat: deploy ceph dashboards
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-cluster.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-osd.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/ceph-pools.yaml
  kubernetes/apps/observability/grafana/dashboard/storage/kustomization.yaml
Labels: area/kubernetes

feat: deploy thanos dashboards
  kubernetes/apps/observability/grafana/dashboard/observability/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-bucket-replicate.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-compact.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-overview.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-query-frontend.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-query.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-receive.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-rule.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-sidecar.yaml
  kubernetes/apps/observability/grafana/dashboard/observability/thanos-store.yaml
Labels: area/kubernetes

feat: deploy teslamate dashboards
  kubernetes/apps/observability/grafana/dashboard/teslamate/battery-health.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charge-level.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charges.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/charging-stats.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/drives.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/efficiency.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/internal-charge-details.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/internal-drive-details.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/locations.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/mileage.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/overview.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/projected-range.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/states.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/statistics.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/timeline.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/trip.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/updates.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/vampire-drain.yaml
  kubernetes/apps/observability/grafana/dashboard/teslamate/visited.yaml
Labels: area/kubernetes

feat: deploy grafana
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: deploy kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrape-config/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrape-config/node-exporter.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: deploy prometheus rules
  kubernetes/apps/observability/kube-prometheus-stack/rules.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/cert-manager/cert-manager.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/cert-manager/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/database/cloudnative-pg.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/database/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/flux-system/flux.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/flux-system/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/network/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/network/nginx.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/observability/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/observability/smartctl-exporter.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/volsync/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/rules/volsync/volsync.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

chore: Add flux language server annotations
  kubernetes/apps/kube-system/intel-device-plugin/operator.yaml
Labels: area/kubernetes

feat!: upgrade snapshot controller to v2 and remove validating webhook
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/kube-system/snapshot-controller/validation.yaml
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
  kubernetes/apps/kube-system/snapshot-controller/validation/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update thanos Docker tag to v12.13.13
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update weave-gitops Docker tag to v4.0.33
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.703
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:boom: feat(container-image)!: Update kube-prometheus-stack Docker tag to v52
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix: move secret to existingSecret
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

fix: remove kubeconform
  .github/workflows/kubeconform.yaml
Labels: area/github

chore: move dashboards to System folder
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/prowlarr-develop Docker tag to v1.10.1.4059
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/radarr-develop Docker tag to v5.1.2.8207
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

fix: move dashboards to System folder
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

fix: move dashboards to System folder
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update docker.io/restic/restic Docker tag to v0.16.2
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.710
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

fix: move dashboards to System folder
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.710
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release reloader to 1.0.50
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release cert-manager to v1.13.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container-image): Update quay.io/prometheus/alertmanager:main Docker digest to a7021f6
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container-image): Update quay.io/prometheus/alertmanager:main Docker digest to a7021f6
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container-image): Update ghcr.io/onedr0p/intel-gpu-exporter:rolling Docker digest to 0e81f2f
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/plex Docker tag to v1.32.7.7621-871adbd44
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

chore(config): migrate config .github/renovate.json5
  .github/renovate.json5
Labels: area/github

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/plex Docker tag to v1.32.7.7621-871adbd44
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(deps): Update k3s-io/k3s to v1.28.3+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

:dizzy: feat(docker-image): Update ghcr.io/tailscale/tailscale Docker tag to v1.52.0
  kubernetes/apps/vpn/tailscale/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm-chart): Update Helm release kyverno to 3.0.6
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 44d20ac
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(docker-image): Update quay.io/prometheus/alertmanager:main Docker digest to 44d20ac
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
