Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat(helm): update chart kube-prometheus-stack to 35.6.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 35.6.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.83.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.83.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update k3s-io/k3s to v1.24.1+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

feat(cluster): deploy komga
  k8s/cluster/apps/media/komga/helm-release.yaml
  k8s/cluster/apps/media/komga/kustomization.yaml
  k8s/cluster/apps/media/komga/kustomize-config.yaml
  k8s/cluster/apps/media/komga/persistent-volume-claim.yaml
  k8s/cluster/apps/media/komga/values.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.83.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.83.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(komga): update dns name
  k8s/cluster/apps/media/komga/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1816
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1816
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.83.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.83.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.83.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.83.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(ansible): update robertdebock.bootstrap to 6.0.4
  ansible/requirements.yml
Labels: area/ansible

feat(github-release): update renovatebot/github-action action to v32.85.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.85.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.86.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.86.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to 3.17.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(github-release): update renovatebot/github-action action to v32.87.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.87.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

feat(container): update image ghcr.io/k8s-at-home/plex to v1.27.0.5897-3940636f2
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

feat(helm)!: Update Chart kube-prometheus-stack to 36.0.2
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.88.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.88.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart grafana to 6.30.0
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.30.0
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image gotson/komga to 0.154.4
  k8s/cluster/apps/media/komga/values.yaml
Labels: area/cluster

feat(container)!: Update Image splunk/splunk to 9.0.0
  k8s/cluster/apps/observability/splunk/deployment.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.89.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.89.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart grafana to 6.30.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.30.1
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(ansible): update xanmanning.k3s to v3.2.0
  ansible/requirements.yml
Labels: area/ansible

fix(github-release): update renovatebot/github-action action to v32.89.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.89.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update aquasecurity/trivy-action action to 0.4.1
  .github/workflows/scan-containers.yaml
Labels: area/github
