Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/tools, area/terraform

:dizzy: feat(helm): Update Helm release cloudnative-pg to 0.19.0
  kubernetes/apps/database/cloudnative-pg/operator/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Rook-Ceph group to v1.12.6
  kubernetes/apps/rook-ceph/cluster/app/helm-release.yaml
  kubernetes/apps/rook-ceph/operator/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/recyclarr/recyclarr Docker tag to v6.0.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release metallb to 0.13.12
  kubernetes/apps/network/metallb/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container-image): Update ghcr.io/meeb/tubesync:latest Docker digest to aad2722
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: chore(container-image): Update ghcr.io/meeb/tubesync:latest Docker digest to aad2722
  kubernetes/apps/media/tubesync/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/readarr-develop Docker tag to v0.3.8.2267
  kubernetes/apps/media/readarr/audio/helm-release.yaml
  kubernetes/apps/media/readarr/ebooks/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container-image): Update ghcr.io/onedr0p/prowlarr-develop Docker tag to v1.10.0.4047
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container-image): Update ghcr.io/onedr0p/radarr-develop Docker tag to v5.1.1.8195
  kubernetes/apps/media/radarr/radarr-uhd/helm-release.yaml
  kubernetes/apps/media/radarr/radarr/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update thanos Docker tag to v12.13.12
  kubernetes/apps/observability/thanos/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update weave-gitops Docker tag to v4.0.32
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container-image): Update kube-prometheus-stack Docker tag to v51.10.0
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(container-image): Update prometheus-smartctl-exporter Docker tag to v0.7.0
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
Labels: area/kubernetes

fix: enableSuperuserAccess
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-v14.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release node-feature-discovery to 0.14.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update External Snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
Labels: area/kubernetes

fix: add splunk-hec port
  kubernetes/apps/observability/cribl/worker/helm-release.yaml
Labels: area/kubernetes

feat: update pre-commit-config
  .pre-commit-config.yaml
Labels: none

chore: relocate ansible-lint
  .ansible-lint
  infrastructure/ansible/.ansible-lint
Labels: area/ansible

:arrow_up: fix(container-image): Update docker.io/restic/restic Docker tag to v0.16.1
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
Labels: none

fix: recall unpoller
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app.yaml
  kubernetes/apps/observability/unpoller/app/helm-release.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/secret.sops.yaml
Labels: area/kubernetes

fix: recall smartctl-exporter
  kubernetes/apps/observability/smartctl-exporter/app.yaml
  kubernetes/apps/observability/smartctl-exporter/app/helm-release.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
Labels: area/kubernetes

fix: recall node-exporter
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/node-exporter/app.yaml
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
  kubernetes/apps/observability/node-exporter/app/kustomization.yaml
Labels: area/kubernetes

fix: recall kube-state-metrics
  kubernetes/apps/observability/kube-state-metrics/app.yaml
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

fix: recall kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrape-configs/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrape-configs/node-exporter.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release reloader to 1.0.48
  kubernetes/apps/kube-system/reloader/app/helm-release.yaml
Labels: area/kubernetes

:arrow_up: fix(helm): Update Helm release ingress-nginx to 4.8.3
  kubernetes/apps/network/ingress-nginx/app/helm-release.yaml
Labels: area/kubernetes

ci(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/tautulli Docker tag to v2.13.2
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy grafana operator
  kubernetes/apps/observability/grafana/operator.yaml
  kubernetes/apps/observability/grafana/operator/helm-release.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/flux/repositories/helm/grafana-operator.yaml
Labels: area/kubernetes

feat: deploy grafana instance
  kubernetes/apps/observability/grafana/instance.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
Labels: area/kubernetes

feat: deploy grafana datasources
  kubernetes/apps/observability/grafana/datasource.yaml
  kubernetes/apps/observability/grafana/datasource/kustomization.yaml
  kubernetes/apps/observability/grafana/datasource/prometheus.yaml
Labels: area/kubernetes

feat: deploy kube-state-metrics
  kubernetes/apps/observability/kube-state-metrics/app.yaml
  kubernetes/apps/observability/kube-state-metrics/app/helm-release.yaml
  kubernetes/apps/observability/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: deploy node-exporter
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/node-exporter/app.yaml
  kubernetes/apps/observability/node-exporter/app/helm-release.yaml
  kubernetes/apps/observability/node-exporter/app/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/tautulli Docker tag to v2.13.2
  kubernetes/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes

:dizzy: feat(helm): Update Helm release snapshot-validation-webhook to 1.9.0
  kubernetes/apps/kube-system/snapshot-controller/validation/helm-release.yaml
Labels: area/kubernetes

:boom: feat(helm)!: Update Helm release snapshot-controller to 2.0.0
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

feat: deploy alert-manager
  kubernetes/apps/observability/alert-manager/app.yaml
  kubernetes/apps/observability/alert-manager/app/config/alertmanager.yml
  kubernetes/apps/observability/alert-manager/app/config/kustomization.yaml
  kubernetes/apps/observability/alert-manager/app/helm-release.yaml
  kubernetes/apps/observability/alert-manager/app/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

:arrow_up: fix(container-image): Update ghcr.io/onedr0p/sonarr-develop Docker tag to v4.0.0.703
  kubernetes/apps/media/sonarr/sonarr/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/tools:
  - "tools/**/*"
area/terraform:
  - "infrastructure/terraform/**/*"
