Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(github-release): update renovatebot/github-action action to v32.99.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.5
  .github/workflows/renovate.yaml
Labels: area/github

test(cluster): revert cert-manager to 1.8.1
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
Labels: area/cluster

fix(helm): update Cert-Manager group to v1.8.2
  k8s/cluster/core/crds/cert-manager/kustomization.yaml
  k8s/cluster/infrastructure/cert-manager/helm-release.yaml
Labels: area/cluster

fix(renovate): remove renovate vaildation
  .github/workflows/renovate.yaml
Labels: area/github

fix(renovate): remove renovate vaildation
  .github/workflows/renovate.yaml
Labels: area/github

fix(cluster): use default source controller limits
  k8s/cluster/base/flux-system/gotk-patches.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1840
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1840
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6393
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6393
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6394
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6394
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat(github-release)!: feat(github-release)!: Update azure/setup-helm action to v3
  .github/workflows/helm-release-differ.yaml
Labels: area/github

fix(github-release): update k3s-io/k3s to v1.24.2+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible

fix(github-release): update renovatebot/github-action action to v32.99.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1843
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1843
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.99.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.7
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): remove grocy
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/grocy/kustomization.yaml
  k8s/cluster/apps/home/grocy/kustomize-config.yaml
  k8s/cluster/apps/home/grocy/persistent-volume-claim.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/kustomization.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.99.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1846
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.2.1846
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.99.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.99.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.9.6
  k8s/cluster/core/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/core/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform cloudflare to 3.18.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(github-release): update fluxcd/flux2 to v0.31.3
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

fix(ansible): update community.sops to 1.2.3
  ansible/requirements.yml
Labels: area/ansible

fix(github-release): update aquasecurity/trivy-action action to 0.5.1
  .github/workflows/scan-containers.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.100.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.100.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.100.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.100.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image gotson/komga to 0.155.0
  k8s/cluster/apps/media/komga/values.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.100.3
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
