Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat: enable meta-sync-labels
  .github/labels.yml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

feat: enable meta-size-labels workflow
  .github/workflows/meta-size-labels.yaml
Labels: area/github

fix: enable cloudflare-proxy-network-update workflow
  .github/scripts/cloudflare-proxied-networks.sh
Labels: area/github

feat: deploy helm-release differ
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-differ.yaml
Labels: area/github

fix: chmod u+x
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
Labels: area/github

fix: update cloudflare-proxied-networks workflow
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

fix: renamed pr labels file
  .github/labels.yaml
Labels: area/github

chore: format yaml
  .github/labels.yaml
Labels: area/github

fix: update cloudflare-proxied-networks workflow
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

test: renovate scheduling
  .github/renovate.json5
  .github/renovate/autoMerge.json
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/github, area/cluster

feat(helm)!: Update Helm chart mealie to 4.0.0
  k8s/cluster/apps/home/mealie/helm-release.yaml
Labels: area/cluster

chore: format yaml
  .github/workflows/helm-release-differ.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.2.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: update renovate autoMerge
  .github/renovate.json5
  .github/renovate/autoMerge.json
Labels: area/github

fix: update matchPackagePatterns
  .github/renovate/autoMerge.json
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.2.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat: deploy gaps
  k8s/cluster/apps/media/gaps/helm-release.yaml
  k8s/cluster/apps/media/gaps/kustomization.yaml
  k8s/cluster/apps/media/gaps/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

feat: deploy bazarr
  k8s/cluster/apps/media/bazarr/helm-release.yaml
  k8s/cluster/apps/media/bazarr/kustomization.yaml
  k8s/cluster/apps/media/bazarr/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: update helm-release-differ
  .github/workflows/helm-release-differ.yaml
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/plex to v1.25.6.5577-c8bd13540
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.2.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.3.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update helm chart kube-prometheus-stack to 33.2.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat: use automergeType: pr
  .github/renovate/autoMerge.json
Labels: area/github

fix: disable automerge
  .github/renovate.json5
  .github/renovate/autoMerge.json
Labels: area/github

feat: deploy system-upgrade-controller
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/agent-plan.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/server-plan.yaml
  k8s/cluster/infrastructure/kustomization.yaml
  k8s/cluster/infrastructure/system-upgrade/kustomization.yaml
Labels: area/cluster

fix: update cloudflare-proxied-networks
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update default backend
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: enable brotli compression
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

chore: use externalIPs
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix: disable readarr
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

feat: deploy trivy scanner
  .github/scripts/container-parser.sh
  .github/workflows/scan-containers.yaml
Labels: area/github

chore: format yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-size-labels.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  .github/workflows/schedule-library-chart-update.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update container image gotson/komga to 0.153.1
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm chart prometheus-snmp-exporter to 1.0.0
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
Labels: area/cluster

fix: yet another attempt at trying to fix helm-release-differ
  .github/workflows/helm-release-differ.yaml
Labels: area/github

fix: update helm repository file location
  .github/scripts/lib/functions.sh
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.4.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm)!: Update Helm chart prometheus-snmp-exporter to 1.0.0
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
Labels: area/cluster
