Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.211.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.211.1
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.211.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.211.2
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.213.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.213.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update oxsecurity/megalinter action to v6.11.1
  .github/workflows/lint.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.213.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update renovatebot/github-action action to v32.213.2
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart app-template to 0.2.2
  k8s/cluster/apps/default/theme-park/helm-release.yaml
  k8s/cluster/apps/download/sabnzbd/helm-release.yaml
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/mealie/helm-release.yaml
  k8s/cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
  k8s/cluster/apps/media-automation/bazarr/helm-release.yaml
  k8s/cluster/apps/media-automation/gaps/helm-release.yaml
  k8s/cluster/apps/media-automation/lidarr/helm-release.yaml
  k8s/cluster/apps/media-automation/overseerr/helm-release.yaml
  k8s/cluster/apps/media-automation/prowlarr/helm-release.yaml
  k8s/cluster/apps/media-automation/radarr/helm-release.yaml
  k8s/cluster/apps/media-automation/radarr4k/helm-release.yaml
  k8s/cluster/apps/media-automation/sonarr/helm-release.yaml
  k8s/cluster/apps/media-automation/sonarr4k/helm-release.yaml
  k8s/cluster/apps/media-automation/tautulli/helm-release.yaml
  k8s/cluster/apps/media/dizquetv/helm-release.yaml
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

:boom: feat(container)!: Update image ghcr.io/onedr0p/sonarr-develop to v4
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2000
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.214.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.214.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(helm): Update chart reloader to v0.0.122
  k8s/cluster/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix: update cloudnative-pg helm chart and crds
  k8s/cluster/sources/git/cloudnative-pg.yaml
  k8s/cluster/sources/helm/cloudnative-pg.yaml
  k8s/cluster/sources/helm/kustomization.yaml
Labels: area/cluster

feat: automerge media apps
  .github/renovate/autoMerge.json5
  .github/renovate/autoMergeSchedule.json5
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2000
  k8s/cluster/apps/media-automation/prowlarr/values.yaml
Labels: area/cluster

:dizzy: feat(terraform): Update Terraform cloudflare to 3.25.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat: automerge o11y apps
  .github/renovate/autoMerge.json5
Labels: area/github

:dizzy: feat(helm): Update chart kube-prometheus-stack to 40.3.1
  k8s/cluster/sources/git/kube-prometheus-stack.yaml
Labels: area/cluster

chore: clean up automerge schedule
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/autoMergeSchedule.json5
Labels: area/github

chore: re-organize automerge
  .github/renovate/autoMerge.json5
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.216.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.216.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to 0551eda
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

:arrow_up: fix(container): Update image ghcr.io/onedr0p/sonarr-develop to 0551eda
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

fix: roll mealie back to beta-2
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

fix: remove non-existant app
  k8s/cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.217.0
  .github/workflows/renovate.yaml
Labels: area/github

:dizzy: feat(github-release): Update renovatebot/github-action action to v32.217.0
  .github/workflows/renovate.yaml
Labels: area/github

:arrow_up: fix(github-release): Update cloudnative-pg/cloudnative-pg to v1.17.1
  k8s/cluster/sources/git/cloudnative-pg.yaml
Labels: area/cluster

fix: disable theme-park
  k8s/cluster/apps/media-automation/overseerr/values.yaml
Labels: area/cluster

fix: try linuxserver image
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

fix: disable sonarr auto-merge
  .github/renovate/autoMerge.json5
Labels: area/github

feat(cluster): deploy descheduler
  k8s/cluster/apps/kube-system/descheduler/helm-release.yaml
  k8s/cluster/apps/kube-system/descheduler/kustomization.yaml
  k8s/cluster/apps/kube-system/descheduler/kustomize-config.yaml
  k8s/cluster/apps/kube-system/descheduler/values.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

fix: re-enable theme-park
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

fix: use onedr0p sonarr image
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

feat: disable sonarr analytics
  k8s/cluster/apps/media-automation/sonarr/values.yaml
  k8s/cluster/apps/media-automation/sonarr4k/values.yaml
Labels: area/cluster

feat(cluster): deploy kube-prometheus-stack
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomize-config.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster
