Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

feat(helm): update helm chart teslamate to 6.7.2
  k8s/cluster/apps/home/teslamate/helm-release.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/apps/cert-manager/kustomization.yaml
  k8s/cluster/apps/default/kustomization.yaml
Labels: area/cluster

chore(cluster): create observability namespace
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/observability.yaml
Labels: area/cluster

chore: update kasten-io secret
  k8s/cluster/apps/kasten-io/k10/secret.sops.yaml
Labels: area/cluster

feat(cluster): enable mealie autobackup
  k8s/cluster/apps/home/mealie/values.yaml
Labels: area/cluster

chore(cluster): create game namespace
  k8s/cluster/apps/game/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/core/namespaces/game.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

chore(cluster): create home-automation namespace
  k8s/cluster/apps/home-automation/kustomization.yaml
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/core/namespaces/home-automation.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1763
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1763
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(container): update container image intel/intel-gpu-plugin to 0.24.0
  k8s/cluster/apps/kube-system/intel-gpu-plugin/values.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.14
  .pre-commit-config.yaml
Labels: none

feat(github-release): update renovatebot/github-action action to v32.50.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): move external-snapshotter app and crd to kustomization
  .github/renovate/packageGroups.json5
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
  k8s/cluster/apps/kube-system/external-snapshotter/kustomization.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/rook-ceph/kustomization.yaml
  k8s/cluster/apps/rook-ceph/snapshot-controller/deployment.yaml
  k8s/cluster/apps/rook-ceph/snapshot-controller/kustomization.yaml
  k8s/cluster/apps/rook-ceph/snapshot-controller/rbac.yaml
  k8s/cluster/core/crds/external-snapshotter/kustomization.yaml
  k8s/cluster/core/crds/rook-ceph/crds.yaml
  k8s/cluster/core/crds/rook-ceph/kustomization.yaml
Labels: area/github, area/cluster

feat(cluster): deploy thanos
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/thanos/helm-release.yaml
  k8s/cluster/apps/observability/thanos/kustomization.yaml
  k8s/cluster/apps/observability/thanos/kustomize-config.yaml
  k8s/cluster/apps/observability/thanos/values.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat(cluster): deploy kube-prometheus-stack
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomize-config.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
  k8s/cluster/core/sources/helm/prometheus-community.yaml
Labels: area/cluster

chore: deploy bitnami-charts
  k8s/cluster/core/sources/helm/bitnami.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6257
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6257
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.2.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.2.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: add service ports
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

chore(github-action): update kah library chart
  k8s/charts/kah-common/charts/common-4.4.1.tgz
  k8s/charts/kah-common/charts/common-4.4.2.tgz
Labels: none

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1764
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1764
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

feat(cluster): deploy grafana
  k8s/cluster/apps/observability/grafana/helm-release.yaml
  k8s/cluster/apps/observability/grafana/kustomization.yaml
  k8s/cluster/apps/observability/grafana/kustomize-config.yaml
  k8s/cluster/apps/observability/grafana/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/grafana/secret.sops.yaml
  k8s/cluster/apps/observability/grafana/values.yaml
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/core/sources/helm/grafana.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy flux monitoring
  k8s/cluster/apps/flux-system/monitoring/kustomization.yaml
  k8s/cluster/apps/flux-system/monitoring/pod-monitor.yaml
Labels: area/cluster

feat: deploy radarr monitoring
  k8s/cluster/apps/download/radarr/dashboard/kustomization.yaml
  k8s/cluster/apps/download/radarr/kustomization.yaml
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
Labels: area/cluster

feat: deploy sonarr monitoring
  k8s/cluster/apps/download/sonarr/dashboard/kustomization.yaml
  k8s/cluster/apps/download/sonarr/kustomization.yaml
  k8s/cluster/apps/download/sonarr/values.yaml
  k8s/cluster/apps/download/sonarr4k/values.yaml
Labels: area/cluster

fix: update sidecar service name
  k8s/cluster/apps/observability/thanos/values.yaml
Labels: area/cluster

feat: deploy flux monitoring dashboards
  k8s/cluster/apps/flux-system/dashboard/kustomization.yaml
  k8s/cluster/apps/flux-system/kustomization.yaml
Labels: area/cluster

feat: deploy pagerduty alerts
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

fix: remove probes
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

fix: recall teslamate
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/home/teslamate/helm-release.yaml
  k8s/cluster/apps/home/teslamate/kustomization.yaml
  k8s/cluster/apps/home/teslamate/kustomize-config.yaml
  k8s/cluster/apps/home/teslamate/persistent-volume-claim.yaml
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

feat: deploy cert-manager dashboard
  k8s/cluster/apps/cert-manager/dashboard/kustomization.yaml
  k8s/cluster/apps/cert-manager/kustomization.yaml
Labels: area/cluster

feat: deploy kasten service monitor
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/service-monitor.yaml
Labels: area/cluster

feat: deploy k10 prometheus-rules
  k8s/cluster/apps/kasten-io/k10/monitoring/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/prometheus-rule.yaml
Labels: area/cluster

feat: deploy descheduler
  k8s/cluster/apps/kube-system/descheduler/helm-release.yaml
  k8s/cluster/apps/kube-system/descheduler/kustomization.yaml
  k8s/cluster/apps/kube-system/descheduler/kustomize-config.yaml
  k8s/cluster/apps/kube-system/descheduler/values.yaml
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/core/sources/helm/descheduler.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy node-problem-detector
  k8s/cluster/apps/kube-system/kustomization.yaml
  k8s/cluster/apps/kube-system/node-problem-detector/helm-release.yaml
  k8s/cluster/apps/kube-system/node-problem-detector/kustomization.yaml
  k8s/cluster/apps/kube-system/node-problem-detector/kustomize-config.yaml
  k8s/cluster/apps/kube-system/node-problem-detector/values.yaml
  k8s/cluster/core/sources/helm/deliveryhero.yaml
  k8s/cluster/core/sources/helm/kustomization.yaml
Labels: area/cluster

feat: deploy unifi-poller
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/helm-release.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomize-config.yaml
  k8s/cluster/apps/observability/unifi-poller/secret.sops.yaml
  k8s/cluster/apps/observability/unifi-poller/values.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat: deploy rook-ceph monitoring
  k8s/cluster/apps/rook-ceph/dashboard/kustomization.yaml
  k8s/cluster/apps/rook-ceph/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/values.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/values.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
