Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6229
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6229
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.30.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart plex to 6.2.2
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.2.2
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/sonarr to v3.0.8.1507
  k8s/cluster/apps/catalog/sonarr/values.yaml
  k8s/cluster/apps/catalog/sonarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/sonarr to v3.0.8.1507
  k8s/cluster/apps/catalog/sonarr/values.yaml
  k8s/cluster/apps/catalog/sonarr4k/values.yaml
Labels: area/cluster

fix: use nodeSelector for Plex
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2557
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.0.2557
  k8s/cluster/apps/media/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6234
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6234
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1712
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.3.0.1712
  k8s/cluster/apps/catalog/prowlarr/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.31.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update container image gotson/komga to 0.154.1
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

fix(container): update container image gotson/komga to 0.154.1
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

feat(github-release)!: Update github/codeql-action action to v2
  .github/workflows/scan-containers.yaml
Labels: area/github

fix(helm): update helm chart grafana to 6.26.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.6
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Helm chart kube-prometheus-stack to 35.0.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

feat: update tolerations
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: move crds back to flux
  k8s/cluster/core/crds/kustomization.yaml
  k8s/cluster/core/crds/rook-ceph/kustomization.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix: remove cpu resource limit
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat: update rook-ceph-cluster
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

feat: update kube-prometheus-stack to latest spec
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

feat: honor labels on http-prom
  k8s/cluster/apps/flux-system/monitoring/pod-monitor.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.7
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.7
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix: recall logstream
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/logstream/deployment.yaml
  k8s/cluster/apps/observability/logstream/ingress.yaml
  k8s/cluster/apps/observability/logstream/kustomization.yaml
  k8s/cluster/apps/observability/logstream/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/logstream/secret.sops.yaml
  k8s/cluster/apps/observability/logstream/service.yaml
Labels: area/cluster

fix: recall mylar
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/apps/media/mylar/helm-release.yaml
  k8s/cluster/apps/media/mylar/kustomization.yaml
  k8s/cluster/apps/media/mylar/persistent-volume-claim.yaml
Labels: area/cluster

fix: recall komga
  k8s/cluster/apps/media/komga/helm-release.yaml
  k8s/cluster/apps/media/komga/kustomization.yaml
  k8s/cluster/apps/media/komga/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: recall calibre-web
  k8s/cluster/apps/media/calibre-web/helm-release.yaml
  k8s/cluster/apps/media/calibre-web/kustomization.yaml
  k8s/cluster/apps/media/calibre-web/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: recall calibre
  k8s/cluster/apps/media/calibre/helm-release.yaml
  k8s/cluster/apps/media/calibre/kustomization.yaml
  k8s/cluster/apps/media/calibre/persistent-volume-claim.yaml
  k8s/cluster/apps/media/kustomization.yaml
Labels: area/cluster

chore: update resources
  k8s/cluster/apps/catalog/prowlarr/values.yaml
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
  k8s/cluster/apps/catalog/sabnzbd/values.yaml
  k8s/cluster/apps/catalog/sonarr/values.yaml
  k8s/cluster/apps/catalog/sonarr4k/values.yaml
  k8s/cluster/apps/media/lidarr/helm-release.yaml
  k8s/cluster/apps/media/overseerr/helm-release.yaml
  k8s/cluster/apps/media/plex/values.yaml
  k8s/cluster/apps/media/tautulli/helm-release.yaml
  k8s/cluster/apps/network/external-dns/external-dns-cloudflare/helm-release.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.8
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.8
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat: deploy flux github notifications
  k8s/cluster/apps/flux-system/notifications/github/alert.yaml
  k8s/cluster/apps/flux-system/notifications/github/kustomization.yaml
  k8s/cluster/apps/flux-system/notifications/github/provider.yaml
  k8s/cluster/apps/flux-system/notifications/github/secret.sops.yaml
Labels: area/cluster

fix: increase rook-ceph-cluster hr retries to 10
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: add hosts
  ansible/inventory/host_vars/k3s-1.yml
  ansible/inventory/host_vars/k3s-2.yml
  ansible/inventory/host_vars/k3s-3.yml
  ansible/inventory/host_vars/k3s-4.yml
  ansible/inventory/host_vars/k3s-5.yml
  ansible/inventory/host_vars/tiger.yml
Labels: area/ansible

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"
