Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

chore: format json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/renovate/versioning.json5
Labels: area/github

fix: update prettier ignore
  .github/linters/.prettierignore
Labels: area/github

chore: update ansible roles_path
  ansible/ansible.cfg
Labels: area/ansible

chore: format yaml
  ansible/inventory/group_vars/all/global.yml
  ansible/inventory/group_vars/kubernetes/os.yml
  ansible/inventory/group_vars/worker_node/k3s.yml
  ansible/roles/bootstrap/defaults/main.yml
  ansible/roles/k3s/templates/kube-vip/kube-vip-daemonset.yaml.j2
  k8s/charts/kah-common/templates/common.yaml
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/ansible, area/cluster

feat: add ansible hosts
  ansible/inventory/host_vars/presto.yml
  ansible/inventory/host_vars/relax.yml
  ansible/inventory/hosts.yaml
Labels: area/ansible

chore: move synology playbooks
  ansible/playbooks/synology/letsencrypt/cloudflare.sops.yml
  ansible/playbooks/synology/letsencrypt/configure-letsencrypt.yml
  ansible/playbooks/synology/letsencrypt/fix-letsencrypt-certificates.yml
Labels: area/ansible

feat(cluster): enable automerge for renovatebot github-action
  .github/renovate/autoMerge.json5
Labels: area/github

feat(cluster): enable automerge for lidarr
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update container image ghcr.io/k8s-at-home/lidarr-nightly to v1.0.2.2587
  k8s/cluster/apps/download/lidarr/values.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.64.8
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.64.8
  .github/workflows/renovate.yaml
Labels: area/github

feat(cluster): enable k10 service monitor
  k8s/cluster/apps/kasten-io/k10/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/service-monitor.yaml
Labels: area/cluster

feat: enable k10 prometheus-rule
  k8s/cluster/apps/kasten-io/k10/monitoring/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/monitoring/prometheus-rule.yaml
Labels: area/cluster

fix: recall grocy
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/grocy/kustomization.yaml
  k8s/cluster/apps/home/grocy/kustomize-config.yaml
  k8s/cluster/apps/home/grocy/persistent-volume-claim.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/kustomization.yaml
Labels: area/cluster

fix(cluster): re-deploy grocy
  k8s/cluster/apps/home/grocy/helm-release.yaml
  k8s/cluster/apps/home/grocy/kustomization.yaml
  k8s/cluster/apps/home/grocy/kustomize-config.yaml
  k8s/cluster/apps/home/grocy/persistent-volume-claim.yaml
  k8s/cluster/apps/home/grocy/values.yaml
  k8s/cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(cluster): extend k10 nfs retention
  k8s/cluster/apps/kasten-io/k10/policies/download.yaml
  k8s/cluster/apps/kasten-io/k10/policies/game.yaml
  k8s/cluster/apps/kasten-io/k10/policies/home.yaml
  k8s/cluster/apps/kasten-io/k10/policies/media.yaml
  k8s/cluster/apps/kasten-io/k10/policies/observability.yaml
Labels: area/cluster

chore: add comments to K10 policies
  k8s/cluster/apps/kasten-io/k10/policies/download.yaml
  k8s/cluster/apps/kasten-io/k10/policies/game.yaml
  k8s/cluster/apps/kasten-io/k10/policies/home.yaml
  k8s/cluster/apps/kasten-io/k10/policies/media.yaml
  k8s/cluster/apps/kasten-io/k10/policies/observability.yaml
Labels: area/cluster

feat(cluster): create K10 DR policy
  k8s/cluster/apps/kasten-io/k10/policies/k10-disaster-recovery.yaml
  k8s/cluster/apps/kasten-io/k10/policies/kustomization.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/apps/kube-system/node-feature-discovery/values.yaml
Labels: area/cluster

feat(cluster):add k10 pod-spec-override
  k8s/cluster/apps/kasten-io/k10/blueprints/kustomization.yaml
  k8s/cluster/apps/kasten-io/k10/blueprints/pod-spec-override.yaml
Labels: area/cluster

feat(cluster): add reloader annotation
  k8s/cluster/apps/kube-system/node-feature-discovery/values.yaml
Labels: area/cluster

feat(cluster): add nodeSelector for nfd
  k8s/cluster/apps/kube-system/node-feature-discovery/values.yaml
Labels: area/cluster

chore: format yaml
  k8s/cluster/apps/kube-system/descheduler/values.yaml
  k8s/cluster/apps/network/ingress-nginx/values.yaml
Labels: area/cluster

feat(cluster): deploy unifi-poller dashboards
  k8s/cluster/apps/observability/unifi-poller/dashboard/kustomization.yaml
  k8s/cluster/apps/observability/unifi-poller/kustomization.yaml
Labels: area/cluster

feat(cluster): enable k10 snapshots
  k8s/cluster/apps/observability/grafana/persistent-volume-claim.yaml
Labels: area/cluster

feat(cluster): deploy home-assistant external service
  k8s/cluster/apps/network/external-services/home-assistant/ingress.yaml
  k8s/cluster/apps/network/external-services/home-assistant/kustomization.yaml
  k8s/cluster/apps/network/external-services/home-assistant/service.yaml
  k8s/cluster/apps/network/external-services/kustomization.yaml
  k8s/cluster/apps/network/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

chore: clean up yaml
  k8s/cluster/apps/network/external-services/home-assistant/ingress.yaml
Labels: area/cluster

feat: deploy protect external service
  k8s/cluster/apps/network/external-services/protect/ingress.yaml
  k8s/cluster/apps/network/external-services/protect/kustomization.yaml
  k8s/cluster/apps/network/external-services/protect/service.yaml
Labels: area/cluster

feat(cluster): deploy unifi external service
  k8s/cluster/apps/network/external-services/unifi/ingress.yaml
  k8s/cluster/apps/network/external-services/unifi/kustomization.yaml
  k8s/cluster/apps/network/external-services/unifi/service.yaml
Labels: area/cluster

feat(cluster): create vpn namespace
  k8s/cluster/apps/kustomization.yaml
  k8s/cluster/apps/vpn/kustomization.yaml
  k8s/cluster/core/namespaces/kustomization.yaml
  k8s/cluster/core/namespaces/vpn.yaml
Labels: area/cluster

fix(helm): update helm chart ingress-nginx to 4.1.2
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy dizquetv
  k8s/cluster/apps/media/dizquetv/helm-release.yaml
  k8s/cluster/apps/media/dizquetv/kustomization.yaml
  k8s/cluster/apps/media/dizquetv/kustomize-config.yaml
  k8s/cluster/apps/media/dizquetv/persistent-volume-claim.yaml
  k8s/cluster/apps/media/dizquetv/values.yaml
  k8s/cluster/apps/media/kustomization.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.64.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.64.9
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update helm chart dizquetv to 4.3.2
  k8s/cluster/apps/media/dizquetv/helm-release.yaml
Labels: area/cluster

feat(cluster): deploy theme-park
  k8s/cluster/apps/default/kustomization.yaml
  k8s/cluster/apps/default/theme-park/helm-release.yaml
  k8s/cluster/apps/default/theme-park/kustomization.yaml
  k8s/cluster/apps/default/theme-park/kustomize-config.yaml
  k8s/cluster/apps/default/theme-park/values.yaml
Labels: area/cluster

fix: update default namespace
  k8s/cluster/apps/default/kustomization.yaml
Labels: area/cluster

feat(cluster): update theme-park annotations
  k8s/cluster/apps/download/lidarr/values.yaml
  k8s/cluster/apps/download/prowlarr/values.yaml
  k8s/cluster/apps/download/radarr/values.yaml
  k8s/cluster/apps/download/radarr4k/values.yaml
  k8s/cluster/apps/download/sabnzbd/values.yaml
  k8s/cluster/apps/download/sonarr/values.yaml
  k8s/cluster/apps/download/sonarr4k/values.yaml
  k8s/cluster/apps/media/overseerr/values.yaml
  k8s/cluster/apps/media/plex/values.yaml
  k8s/cluster/apps/media/tautulli/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/tautulli to v2.10.0
  k8s/cluster/apps/media/tautulli/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/tautulli to v2.10.0
  k8s/cluster/apps/media/tautulli/values.yaml
Labels: area/cluster
