Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

chore: move patches to file
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/kustomization.yaml
  k8s/cluster/apps/system-upgrade/system-upgrade-controller/system-upgrade-patches.yaml
Labels: area/cluster

feat: enable kasten pvc backup
  k8s/cluster/apps/observability/cribl-stream/cribl-stream-patches.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
Labels: area/cluster

feat: enable kasten pvc backup
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
  k8s/cluster/apps/observability/cribl-stream/persistent-volume-claim.yaml
Labels: area/cluster

feat: deploy cribl stream ingress
  k8s/cluster/apps/observability/cribl-stream/ingress.yaml
  k8s/cluster/apps/observability/cribl-stream/kustomization.yaml
Labels: area/cluster

feat: add syslog service ports
  k8s/cluster/apps/observability/cribl-stream/values.yaml
Labels: area/cluster

fix: update syslog service ports
  k8s/cluster/apps/observability/cribl-stream/values.yaml
Labels: area/cluster

feat(helm): update helm chart thanos to 10.4.0
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart thanos to 10.4.0
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

chore: organize prometheus rules
  k8s/cluster/apps/observability/kube-prometheus-stack/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/rules/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/rules/zfs/kustomization.yaml
  k8s/cluster/apps/observability/kube-prometheus-stack/rules/zfs/prometheus-rule.yaml
  k8s/cluster/apps/observability/kustomization.yaml
Labels: area/cluster

feat: deploy splunk
  k8s/cluster/apps/observability/kustomization.yaml
  k8s/cluster/apps/observability/splunk/config-map.yaml
  k8s/cluster/apps/observability/splunk/deployment.yaml
  k8s/cluster/apps/observability/splunk/ingress.yaml
  k8s/cluster/apps/observability/splunk/kustomization.yaml
  k8s/cluster/apps/observability/splunk/persistent-volume-claim.yaml
  k8s/cluster/apps/observability/splunk/service.yaml
  k8s/cluster/base/cluster-secrets.sops.yaml
  k8s/cluster/base/cluster-settings.yaml
Labels: area/cluster

feat: deploy teslamate
  k8s/cluster/apps/home/kustomization.yaml
  k8s/cluster/apps/home/teslamate/helm-release.yaml
  k8s/cluster/apps/home/teslamate/kustomization.yaml
  k8s/cluster/apps/home/teslamate/kustomize-config.yaml
  k8s/cluster/apps/home/teslamate/persistent-volume-claim.yaml
  k8s/cluster/apps/home/teslamate/values.yaml
Labels: area/cluster

feat: deploy teslamate dashboards
  k8s/cluster/apps/home/teslamate/dashboard/kustomization.yaml
  k8s/cluster/apps/home/teslamate/kustomization.yaml
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

fix: remove dashboard provider
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

fix: update username variable
  k8s/cluster/apps/observability/grafana/values.yaml
Labels: area/cluster

feat(terraform): update terraform cloudflare to 3.15.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update helm chart grafana to 6.29.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.3
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(cluster): configure dependsOn for intel-gpu-plugin
  k8s/cluster/apps/kube-system/intel-gpu-plugin/helm-release.yaml
Labels: area/cluster

fix(cluster): configure dependsOn for plex
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(cluster): configure dependsOn for thanos
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1791
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1791
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1793
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/prowlarr-nightly to v0.4.0.1793
  k8s/cluster/apps/download/prowlarr/values.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.4
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.29.4
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.1
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.1
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.3.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm chart kube-prometheus-stack to 35.3.0
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.4.2
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.3.3
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart plex to 6.3.3
  k8s/cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart kube-prometheus-stack to 35.3.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

fix(helm): update helm chart kube-prometheus-stack to 35.3.1
  k8s/cluster/apps/observability/kube-prometheus-stack/helm-release.yaml
  k8s/cluster/core/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

feat(helm): update helm chart descheduler to 0.24.0
  k8s/cluster/apps/kube-system/descheduler/helm-release.yaml
Labels: area/cluster

feat(cluster): create sourceignore for flux
  .sourceignore
Labels: none

chore: fix comment
  .github/linters/.markdownlint.yaml
Labels: area/github

chore: update linters ignore
  .github/linters/.prettierignore
  .github/linters/.yamllint.yaml
Labels: area/github
