Repository blthazr/area0, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "k8s/cluster/**/*"
area/terraform:
  - "terraform/**/*"

feat: deploy ansible-role-os
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/os/defaults/main.yml
  ansible/roles/os/handlers/main.yml
  ansible/roles/os/meta/main.yml
  ansible/roles/os/tasks/Debian/apt.yml
  ansible/roles/os/tasks/Debian/filesystem.yml
  ansible/roles/os/tasks/Debian/host.yml
  ansible/roles/os/tasks/Debian/main.yml
  ansible/roles/os/tasks/Debian/motd.yml
  ansible/roles/os/tasks/Debian/packages.yml
  ansible/roles/os/tasks/Debian/sudoers.yml
  ansible/roles/os/tasks/Debian/time.yml
  ansible/roles/os/tasks/Debian/unattended-upgrades.yml
  ansible/roles/os/tasks/Debian/users.yml
  ansible/roles/os/tasks/main.yml
  ansible/roles/os/tasks/packages.yml
  ansible/roles/os/templates/etc/hosts.j2
  ansible/roles/os/templates/etc/systemd/timesyncd.conf.j2
Labels: area/ansible

fix: add conditional for ansible_os_family
  ansible/roles/bootstrap/tasks/sudoers.yml
Labels: area/ansible

feat: configure backup volume
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

fix(helm): update helm chart coredns to 1.19.2
  k8s/cluster/apps/network/coredns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart node-problem-detector to 2.2.1
  k8s/cluster/apps/kube-system/node-problem-detector/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.4
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.4
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart external-dns to 6.2.7
  k8s/cluster/apps/network/external-dns/internal-dns/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart loki to 2.11.1
  k8s/cluster/apps/observability/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart loki to 2.11.1
  k8s/cluster/apps/observability/loki/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart prowlarr to 4.3.0
  k8s/cluster/apps/catalog/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart prowlarr to 4.3.0
  k8s/cluster/apps/catalog/prowlarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.26.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm chart thanos to 10.3.5
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.5
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/kube-vip/kube-vip to v0.4.4
  k8s/cluster/infrastructure/kube-vip/daemon-set.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart grafana to 6.26.5
  k8s/cluster/apps/observability/grafana/helm-release.yaml
Labels: area/cluster

feat(helm): update rook-ceph-suite helm releases to v1.9.1
  k8s/cluster/apps/rook-ceph/rook-direct-mount/deployment.yaml
  k8s/cluster/infrastructure/rook-ceph/cluster/helm-release.yaml
  k8s/cluster/infrastructure/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update container image gotson/komga to 0.154.0
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

feat(container): update container image gotson/komga to 0.154.0
  k8s/cluster/apps/media/komga/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart ingress-nginx to 4.1.0
  k8s/cluster/apps/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6216
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6216
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/plex to v1.26.0.5715-8cf78dab3
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

feat(container): update container image ghcr.io/k8s-at-home/plex to v1.26.0.5715-8cf78dab3
  k8s/cluster/apps/media/plex/values.yaml
Labels: area/cluster

feat(helm): update helm chart prometheus-snmp-exporter to 1.1.0
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/helm-release.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
Labels: area/cluster

feat(helm): update helm chart prometheus-snmp-exporter to 1.1.0
  k8s/cluster/apps/observability/snmp-exporter/apc-ups/helm-release.yaml
  k8s/cluster/apps/observability/snmp-exporter/synology/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.6
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update helm chart thanos to 10.3.6
  k8s/cluster/apps/observability/thanos/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.29.3
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

feat: set up flux notifications for alert-manager
  k8s/cluster/apps/flux-system/notifications/alert-manager/alert.yaml
  k8s/cluster/apps/flux-system/notifications/alert-manager/kustomization.yaml
  k8s/cluster/apps/flux-system/notifications/alert-manager/provider.yaml
Labels: area/cluster

fix: update flux github receiver
  k8s/cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: area/cluster

fix: loki was no worky
  k8s/cluster/apps/observability/loki/values.yaml
Labels: area/cluster

chore: remove sonarr-anime
  k8s/cluster/apps/catalog/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr-anime/helm-release.yaml
  k8s/cluster/apps/catalog/sonarr-anime/kustomization.yaml
  k8s/cluster/apps/catalog/sonarr-anime/kustomize-config.yaml
  k8s/cluster/apps/catalog/sonarr-anime/persistent-volume-claim.yaml
  k8s/cluster/apps/catalog/sonarr-anime/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6218
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6218
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(helm): update helm chart k10 to 4.5.14
  k8s/cluster/apps/kasten-io/k10/helm-release.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6225
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster

fix(container): update container image ghcr.io/k8s-at-home/radarr-nightly to v4.2.0.6225
  k8s/cluster/apps/catalog/radarr/values.yaml
  k8s/cluster/apps/catalog/radarr4k/values.yaml
Labels: area/cluster
